<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{/layout/index}" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <script type="text/javascript" src="https://uicdn.toast.com/tui.pagination/v3.4.0/tui-pagination.js"></script>
    <link rel="stylesheet" href="https://uicdn.toast.com/tui.pagination/latest/tui-pagination.css" />
    <link rel="stylesheet" href="https://uicdn.toast.com/tui.date-picker/latest/tui-date-picker.css" />
    <script src="https://uicdn.toast.com/tui.date-picker/latest/tui-date-picker.js"></script>
    <link rel="stylesheet" href="https://uicdn.toast.com/grid/latest/tui-grid.css" />
    <script src="https://uicdn.toast.com/grid/latest/tui-grid.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <link rel="stylesheet" type="text/css" media="screen"
        href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>
    <style>
        button {
            width: 100px;
            margin-right: 550px;
            border-radius: 20px;
        }

        .modal-header {
            text-align: center;
        }

        #cenLbtn {
            margin-right: 20px;
        }

        h4 {
            text-align: center;
        }

        .tui-grid-cell-content {
            text-align: center;
        }
    </style>
</head>

    <th:block layout:fragment="content">
        <h4>검사 예정</h4>
        <div id="qualityGrid"></div>

        <!-- /.modal -->

		<div id="CheckList" style = "display : none;">
	        <h4>검사 목록</h4>
	        <div id="testGrid"></div>
	        <div>
	            <button id="finshBtn" type="button">검사완료</button>
	        </div>
		</div>


<script>
const token = $("meta[name='_csrf']").attr("content")
const header = $("meta[name='_csrf_header']").attr("content");


var qualityGrid = new tui.Grid({
    el: document.getElementById('qualityGrid'),
    scrollX: false,
    scrollY: false,
    pageOptions: {
        useClient: true,
        perPage: 5
    },
    columns: [
    	{
	         header: '검사코드',
	         name: 'testCode'
	   	 }, {
	   		 header: '상세코드',
	         name: 'mrOrderDetCode'
		 }, {
	        header: '품목코드',
	        name: 'itemCode'
	    }, {
	        header: '품목명',
	        name: 'itemName'
	    }, {
	        header: '구분',
	        name: 'itemType'
	    }, {
	        header: '상세',
	        name: 'situation'
	    }, {
	        header: '검사수량',
	        name: 'testQuantity',
    	}, {
	        header: '비고',
	        name: 'testNote'
    	}
	    ]
});

function qualityGridList(){
	$.ajax({
		url : "/qualityList",
		method : "get",
		dataType : "json",
		success : function (result) {
			qualityGrid.resetData(result)
		}, error : function (reject) {
			console.log(reject)
		}
	})	
}

qualityGridList();

var testGrid = new tui.Grid({
    el: document.getElementById("testGrid"),
    scrollX: false,
    scrollY: false,
    pageOptions: {
        useClient: true,
        perPage: 7
    },
    rowHeaders: [{
        type: 'checkbox',
        header: " "
    }],
    columns: [
    	{
        header: '검사항목코드',
        name: 'checklistCode'
    }, {
        header: '검사명',
        name: 'testName'
    }, {
        header: '검사설비',
        name: 'facName'
    }, {
        header: '검사기준치',
        name: 'testStandard'
    }, {
        header: '합격량',
        name: 'passQuantity',
    	editor: 'text'
    }, {
        header: '불량량',
        name: 'mrCount'
    }, {
        header: '불량률',
        name: 'defectiveRate'
    }, {
        header: '합격여부',
        name: 'testResult',
        editor:{
        	type : 'radio',
        	options: {
        		listItems : [
        			{text : '합 격', value:'합격'},
        			{text : '불합격', value:'불합격'}	
        		]
        	}
        }
    }
    ]

});

var qualityKey = null;
qualityGrid.on('click', function(e){
	qualityKey = e.rowKey;
	$.ajax({
		url : '/getCheckList',
		method:"get",
		dataType : "json",
		data : {itemCode : qualityGrid.getRow(e.rowKey).itemCode},
		success: function(result){
			testGrid.resetData(result)
			
			$('#CheckList').css("display", 'block')
			testGrid.refreshLayout();
		}, error : function(reject){
			console.log(reject)
		}
		
	})
	
})

testGrid.on('editingFinish', function(e){
	let row = testGrid.getRow(e.rowKey);
    testGrid.setValue(e.rowKey, "mrCount", qualityGrid.getRow(qualityKey).testQuantity-row.passQuantity, false)
    testGrid.setValue(e.rowKey, "defectiveRate", (qualityGrid.getRow(qualityKey).testQuantity-row.passQuantity)/qualityGrid.getRow(qualityKey).testQuantity*100+"%", false)
})



 $('#finshBtn').on('click',function(){
 	console.log(qualityGrid.getRow(qualityKey))
 	console.log(testGrid.getData())
	
 	$.ajax({
 		url : "/completeTest",
 		method : "post",
 		contentType : "application/json",
 		data : JSON.stringify({list : testGrid.getData(), vo : qualityGrid.getRow(qualityKey)}),
 		beforeSend: function(xhr){
			xhr.setRequestHeader(header, token);    
		},
 		success : function(result) {
 			$('#CheckList').css("display", 'none')
 			qualityGrid.removeRow(qualityKey);
			
 		}, error : function (reject) {
 			console.log(reject)
 		}
 	})
 })

</script>
</th:block>
</html>

















































































