<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.mes.jss.basic.mapper.CommonMapper">

  	<select id="getListComm" resultType="CommVO">
  		select  comm_code, comm_name, comm_note, insert_date, modify_date
  		from  common
  	    order by comm_code

  	</select>
	
	<select id="getListDeta" resultType="CommVO">
			select deta_code, deta_name, deta_note, deta_insert_date, deta_modify_date,details_index
			from details_comm
			where comm_code = #{commCode}
	</select>
	
	<select id="getSearchDeta" resultType = "int">
		select count(deta_code)
		from details_comm
		where deta_code = #{detaCode}
	</select>
	
	<update id="updateDetali" parameterType = "CommVO">
		update details_comm
		set deta_code = #{detaCode},
			deta_name = #{detaName},
			deta_note = #{detaNote},
			deta_modify_date = to_date(sysdate, 'yyyy/MM/dd')
		where deta_code = #{detaCode}
	</update>
	<insert id="insertDetails" parameterType ="CommVO">
		insert into details_comm values(#{detaCode}, #{detaName}, #{detaNote}, to_date(sysdate, 'yyyy/MM/dd'), to_date(sysdate, 'yyyy/MM/dd'), #{commCode})	
	</insert>
  </mapper>