<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.mes.jss.basic.mapper.EmployeesMapper">

  	<!-- 사원 전체 리스트 -->
  	<select id="getList" resultType="EmpVO">
  		select rownum, emp_no "empNo", emp_name "empName", hire_date "hireDate", phone_num "phoneNum", dept_name "deptName", position "position", email "email"
  	    from emp
  	    order by rownum

  	</select>
	
	<!-- 사원번호 시퀀스 -->
	<select id="getNextSeq" resultType="String">
			select lpad(emp_seq.nextval, 4, '0') from dual
	</select>
	
	<!-- 사원등록 -->  	
	<insert id="insertEmp" parameterType="EmpVO">
		insert into emp (emp_no, emp_name, phone_num, email, hire_date, password, role_id)
		       values(#{empNo}, #{empName}, #{phoneNum}, #{email}, to_date(#{hireDate},'yyyy/MM/DD'), #{password}, 'ROLE_USER')
	</insert>
	
	<select id="selectEmp" parameterType="EmpVO" resultType="EmpVO">
		select * from emp where emp_no = #{empNo}
	</select>
	
	<update id="updateEmp" parameterType="EmpVO">
		update emp
		set position = #{position} ,
		    dept_name = #{deptName} ,
		    role_id = #{roleId}
	    where emp_no = #{empNo}
	</update>
	
	<delete id="deleteEmp">
		delete from emp where emp_no = #{empNo}
	</delete>
	
	<select id="getUser" resultType="EmpVO">
		select * from emp where emp_no = #{empNo}
	</select>
	
	<select id="getPwd" resultType="String">
		select password from emp where emp_no = #{name}
	</select>
	
	
	<update id="updatePwd">
		update emp 
		   set
			   	<if test="newPwd != null and newPwd !=''.toString()">
			   	   password = #{newPwd},
			   	</if> 
		   	   phone_num = #{phoneNum},
		   	   email= #{email}
		   	   
		 where emp_no = #{empNo}
	</update>
	
  </mapper>