<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.mes.jss.facility.mapper.FacilityMapper">
  
  	<select id="getFacility" resultType="FacilityVO">
  		select * from facility where fac_code = #{facCode}
  	</select>
  	
  	<select id="getList" resultType="FacilityVO">
  		select f.fac_name, f.fac_code, f.fac_manager,f.fac_status, start_date
		from facility f left outer join downtime d on f.fac_code = d.fac_code
  	</select>
  	
  	<select id="getdownList" resultType="DowntimeVO">
  		select f.fac_name, f.fac_code, f.fac_status, d.down_code, d.down_reason, d.stop_date, d.down_manager
		from facility f right outer join downtime d 
		on f.fac_code = d.fac_code
  	</select>
  	
  	<insert id="insertDownList" parameterType="DowntimeVO">
  		insert into downtime(down_code, stop_date, down_reason, down_manager, remark, fac_code)
		values (downtime_seq.nextval, to_date(sysdate,'yyyy/MM/dd') , #{downReason} , #{downManager} , #{remark} , #{facCode})
  	</insert>
  	
  	
  </mapper>