<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.mes.jss.sale.mapper.FinishedMapper">

	<select id="passItem" resultType="FinishedVO">
		select p.performance_id, 
		       p.item_code, 
		       i.item_name, 
		       p.end_time, 
		       p.pass_item
				from performance p 
		        join itemlist i on (p.item_code = i.item_code)
                join finished f on (i.item_code = f.item_code)
                join release r on (f.fn_lot_no = r.fn_lot_no)
                join orddetail d on(r.orddetail_id = d.orddetail_id)
		       where item_type = '완제품' and end_time is not null and orddet_status = '접수완료'
	</select>
	
	<select id="fRegister" statementType="CALLABLE">
		{
			CALL finished_register(
				#{empName, mode=IN, jdbcType=VARCHAR},
				#{performanceId, mode=IN, jdbcType=VARCHAR},
				#{itemCode, mode=IN, jdbcType=VARCHAR},
				#{passItem, mode=IN, jdbcType=VARCHAR}
			)
		}
	</select>
	
	<select id="storeInItem" resultType = "FinishedVO">
		select f.performance_id, 
		   f.item_code, 
		   i.item_name, 
		   f.fn_store_in, 
		  f.fn_count, 
		   f.fn_lot_no, 
		   f.fn_expiration,
           e.emp_no,
           e.emp_name
			from finished f join itemlist i on(f.item_code = i.item_code)
						    join emp e on(f.emp_no = e.emp_no)
		                    join orddetail d on(i.item_code = d.item_code)
		    where orddet_status = '입고완료'
            
	</select>
	
	<select id="delFinished" statementType="CALLABLE">
		{
			CALL delete_finished(
				#{fnLotNo}
			)
		}
	</select>


</mapper>