<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.mes.jss.basic.mapper.ItemMapper">
  		<select id="getItemList" resultType = "ItemVO">
  			select item_code,item_name,item_type, unit_price, item_price, standard, unit, save_material
  			from itemlist
  			where item_type = (select deta_name from details_comm where deta_code = #{val})
  			order by item_code
  		</select>
  		
  		<select id="getAllItemList" resultType = "ItemVO">
  			select item_code,item_name,item_type, unit_price, item_price, standard, unit, save_material
  			from itemlist
  			order by item_code
  		</select>
  		
  		
  		<select id="getItemCode" resultType="ItemVO">
  		
  			select ('ITE' || to_char(sysdate, 'yyMMdd') || lpad(item_seq.nextval, 4, '0')) itemCode from dual 
  			
  		</select>
  		
  		<insert id = "insertItem">
  			insert into itemList values(#{itemCode}, #{itemName}, #{itemType}, #{unitPrice}, #{itemPrice}, #{standard}, #{unit}, #{saveMaterial})
  		</insert>
  		
  		<update id = "updateItem">
  			update itemList
  			set item_name = #{itemName},
  				item_type = #{itemType},
  				item_price = #{itemPrice},
  				unit_price = #{unitPrice},
  				unit = #{unit},
  				save_material = #{saveMaterial},
  				standard = #{standard}
  			where item_code = #{itemCode}
  		</update>
  		
  		<delete id="deleteItem">
  			delete from itemlist where item_code = #{itemCode}
  		</delete>
  		
  		<select id="searchItem" resultType="ItemVO">
  			select item_code,item_name,item_type
  			from itemlist
  			where item_Name like '%'||#{itemName}||'%'
  			order by item_code
  		</select>
  </mapper>