<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.mes.jss.basic.mapper.ItemMapper">
  		<select id="itemList" parameterType = "itemVo">
  			select item_code,item_name,item_type, unit_price, item_price, standard, unit, save_material
  			from itemlist
  		</select>
  </mapper>