<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.mes.jss.material.mapper.MaterialMapper">
  		<select id="getList" resultType="MrVO">
  		
  		select * from material
  		
  		</select>  
  		
  		<select id="codeList" resultType="MrVO">
  		
  		select * from material where test_code = #{keyword}
  		
  		</select>
		
		<select id="mrCountList" resultType="MrVO">
		
			select i.item_name,i.item_type,
			(select sum(store_count) from material m join itemlist i on(m.item_code = i.item_code)
			 where i.item_name = #{keyword}) total
           	from material m join itemlist i on(m.item_code = i.item_code) where i.item_name = #{keyword} 
		</select>
		
		<select id="StoreIn" statementType="CALLABLE">
			{call MR_INSERT(
				#{testCode, mode=IN, jdbcType=VARCHAR}
			
			)
		}
				
		</select>	
  		
  		<select id="customerList" resultType="CustomerVO">
  			select c.customer_id, c.customer_name, i.item_name,i.item_code,i.item_price 
  			from customer c join contract t on(c.customer_id = t.customer_id) join itemlist i on(t.item_code=i.item_code)
  			
  			
  		
  		</select>
  		
  		<select id="searchcustomer" resultType="CustomerVO">
  			select c.customer_id, c.customer_name, i.item_name,i.item_code,i.item_price 
  			from customer c join contract t on(c.customer_id = t.customer_id) join itemlist i on(t.item_code=i.item_code)
  			where c.customer_name = #{result}
  		</select>
  		
  		<select id="orderInsert" statementType="CALLABLE">
  		
  			{call MR_ORDER_DETAIL(
  				#{itemCode, mode=IN, jdbcType=VARCHAR},
  				#{mrCount, mode=IN, jdbcType=VARCHAR},
  				#{itemPrice, mode=IN, jdbcType=VARCHAR},
  				#{deliveryDate, mode=IN, jdbcType=VARCHAR}
  				)	
  			}
  		</select>
  		
  		<select id="mrorderInsert" statementType="CALLABLE">
  			{call MR_ORDER(
  				#{vo.getList().get(0).customerId, mode=IN, jdbcType=VARCHAR}
  				
  			
  			)
  		}
  		</select>
  		
  		<select id="admGetList" resultType="MrAdjustmentVO">
  			select * from material_adjustment
  		
  		</select>
  		
  		<select id="OrmGetList" resultType="MrOrderVO">
  		
  			select * from material_order
  		</select>
  		
  		<select id="OrdGetList" resultType="MrOrderDetailVO">
  		
  			select * from material_order_detail
  		
  		</select>	
  	
  		
  </mapper>