<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.mes.jss.material.mapper.MaterialMapper">
  		<select id="getList" resultType="MrVO">
  		
  		select * from material
  		
  		</select>  
  		
  		<select id="codeList" resultType="MrVO">
  		
  		select * from material where test_code = #{keyword}
  		
  		</select>
		
		<select id="mrCountList" resultType="MrVO">
		
			select i.item_name,i.item_type,
			(select sum(store_count) from material m join itemlist i on(m.item_code = i.item_code)
			 where i.item_name = #{keyword}) total
           	from material m join itemlist i on(m.item_code = i.item_code) where i.item_name = #{keyword} 
		</select>
		
		<select id="StoreIn" statementType="CALLABLE">
			{call MR_INSERT(
				#{testCode, mode=IN, jdbcType=VARCHAR}
			
			)
		}
				
		</select>	
  	
  </mapper>