<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mes.jss.sale.mapper.OrderMapper">

	<select id="itemNamelist" resultType="OrderVO">
		select item_name
		from
		itemlist
		where item_type = '완제품'
	</select>

	<select id="custList" parameterType="OrderVO" resultType="OrderVO">
		select customer_id, customer_name, cust_tel, cust_addr, cust_mail
		from customer
		where customer_name = #{custname}
	</select>
	
	<select id="custInfo" parameterType="OrderVO" resultType="OrderVO">
		select customer_name, cust_tel, cust_addr, cust_mail
		from customer
		where customer_id = #{customerId}
	</select> 
	
	<select id="entRegister" statementType="CALLABLE">
		{
			CALL insert_order(
				#{code, mode=IN, jdbcType=VARCHAR},
				#{ordName, mode=IN, jdbcType=VARCHAR},
				#{empNo, mode=IN, jdbcType=VARCHAR}
				
			)
	</select>
	
	<select id="detRegister" statementType="CALLABLE">
		{
			CALL insert_orddetail(
				#{itemName, mode=IN, jdbcType=VARCHAR},
				#{unitPrice, mode=IN, jdbcType=VARCHAR},
				#{outDate, mode=IN, jdbcType=VARCHAR},
				#{ordCount, mode=IN, jdbcType=VARCHAR}
			)
	</select>


</mapper>