<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.mes.jss.basic.mapper.ProcessOrderMapper">
		<select id = "getProList" resultType="ProcessOrderVO">
			select pro_order, a.pro_code, b.pro_name
			from process_order a join process b
			on(a.pro_code = b.pro_code)
			where a.item_code = #{itemCode}
			order by pro_order
		</select>
  </mapper>