<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.mes.jss.production.mapper.PlanMapper">
  
  	<!-- 생산계획관리 페이지에서 제품별 주문수량 정보 리스트 -->
  	<select id="itemListInfo" resultType="PlanVO">
		SELECT item_name
		FROM itemlist
		WHERE item_type = '완제품'
		ORDER BY item_code
  	</select>
  	
  	<select id="modalPlanList" resultType="PlanVO">
		SELECT plan_id, plan_name, plan_date, e.emp_name
		FROM plan p JOIN emp e 
					ON(p.emp_no = e.emp_no)  		
  	</select>


	<select id="planSave" statementType="CALLABLE" parameterType="PlanVO" resultType="PlanVO">
	   
	   {call PLAN_INSERT(        
	           #{planName, mode=IN,  jdbcType=VARCHAR},
	           #{planDate, mode=IN,  jdbcType=VARCHAR},
	           #{empNo, mode=IN,  jdbcType=VARCHAR},
	           #{planCode, mode=INOUT,  jdbcType=VARCHAR, javaType=String}
	         )
	   }
	   
	</select> 

	
	<select id="planSearchResult" resultType="PlanVO">
		select  item_name, plan_amount, plan_start, plan_end, plan_priority
		from plan_detail d join itemlist i on (d.item_code = i.item_code)
		where plan_id = #{planId}
	</select>



	<select id="planDetailSave" statementType="CALLABLE" parameterType="PlanVO" resultType="PlanVO">
	   
	   {call PDETAIL_INSERT(        
	           #{itemName, mode=IN,  jdbcType=VARCHAR},
	           #{planAmount, mode=IN,  jdbcType=VARCHAR},
	           #{planEnd, mode=IN,  jdbcType=VARCHAR},
	           #{planStart, mode=IN,  jdbcType=VARCHAR},
	           #{planPriority, mode=IN,  jdbcType=VARCHAR},	           	           
	           #{planCode, mode=IN,  jdbcType=VARCHAR}
	         )
	   }
	   
	</select> 

  	
  </mapper>