<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.mes.jss.production.mapper.PlanMapper">
  
  	<!-- 생산계획관리 페이지에서 제품별 주문수량 정보 리스트 -->
  	<select id="planOrderInfo" resultType="PlanVO">
		select d.item_code, i.item_name, d.ord_count
		from orddetail d join itemlist i on(d.item_code = i.item_code)
		ORDER BY 1
  	</select>
  	
  	<select id="modalPlanList" resultType="PlanVO">
		SELECT plan_id, plan_name, e.emp_name
		FROM plan p JOIN emp e 
					ON(p.emp_no = e.emp_no)  		
  	</select>

	

  	
  </mapper>