<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.mes.jss.production.mapper.PlanMapper">
  
  	<!--  -->
	<select id="modalPlanList" resultType="PlanVO">
		<![CDATA[ 
		SELECT plan_id, plan_name, plan_date, emp_name
		FROM plan p JOIN emp e ON(p.emp_no = e.emp_no)
		WHERE plan_date >= (sysdate + 3) AND plan_date <= (sysdate - 3)
		]]>
	</select>  	

  	<select id="modalPlanResult" resultType="PlanVO">
		<![CDATA[ 
		SELECT plan_id, plan_name, plan_date, emp_name
		FROM plan p JOIN emp e ON(p.emp_no = e.emp_no)
		WHERE plan_date >= TO_DATE(#{startTime}, 'yyyy-MM-dd') AND plan_date <= TO_DATE(#{endTime}, 'yyyy-MM-dd')
		]]>

  	</select>

	<!--  -->
	<select id="planSearchResult" resultType="PlanVO">
		select  pdetail_id, item_name, plan_amount, plan_start, plan_end, plan_priority, d.item_code
		from plan_detail d join itemlist i on (d.item_code = i.item_code)
		where plan_id = #{planId}
	</select>
	
	<!-- 제품 검색 모달창 :  제품 리스트 -->
	<select id ="itemList"  resultType="PlanVO">
		SELECT i.item_code, item_name, sum(ord_count) as "itemOrders"
		FROM itemlist i join orddetail o on(i.item_code = o.item_code)
		WHERE item_name = #{itemName}
		group by i.item_code, item_name	
	</select>


	<!--  -->
	<select id="planSave" statementType="CALLABLE" parameterType="PlanVO" resultType="PlanVO">
	   
	   {call PLAN_INSERT(        
	           #{planName, mode=IN,  jdbcType=VARCHAR},
	           #{planDate, mode=IN,  jdbcType=VARCHAR},
	           #{empNo, mode=IN,  jdbcType=VARCHAR},
	           #{planCode, mode=INOUT,  jdbcType=VARCHAR, javaType=String}
	         )
	   }
	   
	</select> 



	<select id="planDetailSave" statementType="CALLABLE" parameterType="PlanVO" resultType="PlanVO">
	   
	   {call PDETAIL_INSERT(        
	           #{itemName, mode=IN,  jdbcType=VARCHAR},
	           #{planAmount, mode=IN,  jdbcType=VARCHAR},
	           #{planEnd, mode=IN,  jdbcType=VARCHAR},
	           #{planStart, mode=IN,  jdbcType=VARCHAR},
	           #{planPriority, mode=IN,  jdbcType=VARCHAR},	           	           
	           #{planCode, mode=IN,  jdbcType=VARCHAR}
	         )
	   }
	   
	</select> 
	


  	
  </mapper>