<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.mes.jss.sale.mapper.ReleaseMapper">



	<select id="showTopList" resultType="ReleaseVO" >
		
		select d.orddetail_id, 
       d.item_code, 
       i.item_name, 
       d.ord_count, 
       d.orddet_status, 
       o.ord_date, 
       d.out_date, 
       o.customer_id, 
       c.customer_name,
       e.emp_name, 
       d.ord_count -  sum(nvl(r.fn_rel_count, 0)) remain
    		from orders o join customer c on(o.customer_id = c.customer_id)
		                  join orddetail d on(o.ord_id = d.ord_id)
		                  join itemlist i on(d.item_code = i.item_code)
                          full outer join release r on(d.orddetail_id = r.orddetail_id)
		                  join emp e on(o.emp_no = e.emp_no)
    		where (d.orddet_status = '접수완료' or d.orddet_status ='부분출고') and i.item_name = #{itemName}
            group by d.orddetail_id, 
                       d.item_code, 
                       i.item_name, 
                       d.ord_count, 
                       d.orddet_status, 
                       o.ord_date, 
                       d.out_date, o.customer_id, c.customer_name,e.emp_name
	</select>
	
	<select id="showBottomList" resultType="ReleaseVO">
		select f.fn_lot_no, f.item_code, i.item_name, f.fn_count, e.emp_name
			from finished f join itemlist i on(f.item_code = i.item_code)
			                join emp e on(f.emp_no = e.emp_no)
			where item_name = #{iName}
	</select>
	
	<select id="commOut" statementType="CALLABLE">
		{
			CALL comm_rel(
				#{ordDetailId},
				#{empName},
				#{remain},
				#{ordCount},
				#{relEachCount}
			)
		}
	</select>
	
	<select id="itemOut" statementType="CALLABLE">
		{
			CALL rel_det(
				#{fnLotNo},
				#{relEachCount},
				#{fnCount}
			)
		}
	</select>
	
	


</mapper>