<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.mes.jss.sale.mapper.ReleaseMapper">



	<select id="showTopList" resultType="ReleaseVO" >
		
		select d.orddetail_id, 
       d.item_code, 
       i.item_name, 
       d.ord_count, 
       d.orddet_status, 
       o.ord_date, 
       d.out_date, 
       o.customer_id, 
       c.customer_name,
       e.emp_name, 
       d.ord_count -  sum(nvl(r.fn_rel_count, 0)) remain
    		from orders o join customer c on(o.customer_id = c.customer_id)
		                  join orddetail d on(o.ord_id = d.ord_id)
		                  join itemlist i on(d.item_code = i.item_code)
                          full outer join release r on(d.orddetail_id = r.orddetail_id)
		                  join emp e on(o.emp_no = e.emp_no)
    		where (d.orddet_status = '접수완료' or d.orddet_status ='부분출고') and i.item_name = #{itemName}
            group by d.orddetail_id, 
                       d.item_code, 
                       i.item_name, 
                       d.ord_count, 
                       d.orddet_status, 
                       o.ord_date, 
                       d.out_date, o.customer_id, c.customer_name,e.emp_name
	</select>
	
	<select id="showBottomList" resultType="ReleaseVO">
		select f.fn_lot_no, f.item_code, i.item_name, f.fn_count, e.emp_name
			from finished f join itemlist i on(f.item_code = i.item_code)
			                join emp e on(f.emp_no = e.emp_no)
			where item_name = #{iName}
	</select>
	
	<select id="commOut" statementType="CALLABLE">
		{
			CALL comm_rel(
				#{ordDetailId},
				#{empName},
				#{remain},
				#{ordCount},
				#{relEachCount}
			)
		}
	</select>
	
	<select id="itemOut" statementType="CALLABLE">
		{
			CALL rel_det(
				#{fnLotNo},
				#{relEachCount},
				#{fnCount}
			)
		}
	</select>
	
	<select id="entRelease" parameterType="ReleaseVO" resultType="ReleaseVO">
		select distinct r.fn_release_id, 
		                r.orddetail_id, 
		                i.item_name, 
		                r.fn_rel_count, 
		                d.ord_count, 
		                e.emp_name, 
		                r.remain
		from release r join orddetail d on(r.orddetail_id = d.orddetail_id)
		               join itemlist i on(d.item_code = i.item_code)
		               join emp e on(r.emp_no = e.emp_no)
		where d.orddet_status = '출고완료' or d.orddet_status = '부분출고'
	</select>
	
	<select id="releaseCheck" parameterType="ReleaseVO" resultType="ReleaseVO">
		select distinct r.fn_release_id, 
		                r.orddetail_id, 
		                i.item_name, 
		                r.fn_rel_count, 
		                d.ord_count, 
		                e.emp_name, 
		                r.remain
		from release r join orddetail d on(r.orddetail_id = r.orddetail_id)
		               join itemlist i on(d.item_code = i.item_code)
		               join emp e on(r.emp_no = e.emp_no)
		               join release_detail rd on(r.fn_release_id = rd.fn_release_id )
		<where>
			<if test='end == "end"'>
				and d.orddet_status = '출고완료'
			</if>
			<if test='end == "part"'>
				and d.orddet_status = '부분출고'
			</if>
			<if test='itemName != null and itemName != ""'>
				and i.item_name = #{itemName}
			</if>
			<if test='customerName != null and customerName != ""'>
				and c.customer_name = #{customerName}
			</if>
			<if test='sDate != null and sDate != ""'>
				and rd.rel_date >= #{sDate}
			</if>
			<if test='eDate != null and eDate != ""'>
			<![CDATA[
				and rd.rel_date <= #{eDate}
			]]>	
			</if>
			and d.orddet_status = '출고완료' or d.orddet_status = '부분출고'
		</where>
	</select>
	
	<select id="relItemSearch" parameterType="ReleaseVO" resultType="ReleaseVO">
		select item_code, item_name
		from itemlist
		where item_name like '%' || #{itemName} || '%' and item_type = 'FIN'
	</select>
	
	<select id="relCustSearch" parameterType="ReleaseVO" resultType="ReleaseVO">
		select customer_id, customer_name
		from customer
		where customer_name like '%' || #{customerName} || '%' and cust_part = 'SEL'
	</select>
	
	<select id="relDetCheck" parameterType="ReleaseVO" resultType="ReleaseVO">
		select d.rel_detail_id, 
			   d.fn_lot_no, 
			   d.rel_each_count, 
			   d.rel_date
		from release_detail d join release r on(d.fn_release_id = r.fn_release_id)
		where d.fn_release_id = #{fnReleaseId}
	</select>
	
	


</mapper>