<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.mes.jss.user.mapper.UserMapper">
  
  	<select id="getUser" resultType="UserVO">
  		select * from t_user a join t_user_role b on(a.id = b.user_id) join t_role c on(b.user_id = c.id)  where login_id = #{loginId}
  	</select>
  	
  </mapper>