<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.mes.jss.production.mapper.WorkMapper">
  
  	 <select id="processInfo" resultType="BomVO">
		SELECT DISTINCT
					   LEVEL,
					   a.pro_code,
					   c.pro_name,
					   a.pro_order
		FROM 
			bom a LEFT OUTER JOIN itemlist b 
							 ON (a.ing_code = b.item_code)
				   LEFT OUTER JOIN process c 
							  ON (a.pro_code = c.pro_code)
        WHERE 
        	 NOT level = 1
		START WITH 
			       a.ing_code = #{iCode}
		CONNECT BY 
				   PRIOR a.bom_level = a.level_type
		ORDER  BY level, pro_order
  	 </select>
  	 
	<select id="bomInfo" resultType="BomVO">
		SELECT DISTINCT
					   LEVEL,
					   a.pro_code,
					   a.pro_order,
					   a.ing_code,
					   b.item_name,
					   a.item_con,
					   m.mr_lot_number,
					   m.store_count
		FROM 
			bom a LEFT OUTER JOIN itemlist b 
                             ON (a.ing_code = b.item_code)
                  LEFT OUTER JOIN process c 
                             ON (a.pro_code = c.pro_code)
                  LEFT OUTER JOIN material m 
                             ON(a.ing_code = m.item_code)
        WHERE 
        	 NOT level = 1 
             AND a.pro_code = #{proCode}
		START WITH 
				  a.ing_code = #{itemCode}
		CONNECT BY  
				  PRIOR a.bom_level = a.level_type
		ORDER  BY level
	</select>
	
	
	<select id="processList" resultType="ProcessVO">
		SELECT 
			  pro_code, 
			  pro_name 
		FROM 
			process 
		ORDER BY 1
	</select>
	
	<select id="processListResult" resultType="ProcessVO">
		SELECT 
			  pro_code, 
			  pro_name
		FROM 
			process
		WHERE 
			 pro_name LIKE '%'|| #{proName} ||'%'
		ORDER BY 1
	</select>
	

  	
  </mapper>