<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/index}"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head lang="en">
<meta charset="UTF-8">

</head>


<th:block layout:fragment="content">

 		<div class="container-fluid page-body-wrapper">
 			<div class="col-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                <!-- Body Start -->
                
                  <h4 class="page-title">BOM 조회</h4>

                  <div class="m-3 d-grid gap-2 d-md-flex justify-content-md-end">
                  품목코드 <input type = "text" id="itemCode" placeholder="품목코드" readonly>
                  품목명<input type="text" id="itemName"placeholder="품목명" readonly >
                  	<button type="button" id="searchBtn" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#searchModal">조회</button>
                  </div>
                 
                  
				
                  
				<div class="p-2 row">
				  <div class="col-sm-12">
				    <div class="card">
				      <div class="card-body">
				      <!-- card-body start -->
				        <h5 class="page-title">BOM</h5>
				        				<div class="m-2 d-grid gap-2 d-md-flex justify-content-md-end">
				                          	<button type="button" id="excel" class="btn btn-success" style="display : none;">엑셀</button>
				        				</div>
				        <div id="bomGrid"></div>
					  <!-- card-body end -->
				      </div>
				    </div>
				  </div>
				</div>     

				<!-- Body End -->				            
                </div>
              </div>
            </div>
  		</div>
  		
  		
  		<div class="modal fade" id="searchModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	        <div class="modal-dialog modal-dialog-centered">
	        <div class="modal-content">
	            <div class="modal-header">
	            <h5 class="modal-title" id="searchModalLabel">품목 조회</h5>
	            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
	            </div>
		            <div class="modal-body">
		            	<input type="radio" class="btn-check" name="itemType" id="option1"  value = "all" autocomplete="off" checked>
						<label class="btn btn-secondary" for="option1" >전체</label>
						<input type="radio" class="btn-check" name="itemType" id="option2" value="FIN"autocomplete="off">
						<label class="btn btn-secondary" for="option2">완제품</label>
						<input type="radio" class="btn-check" name="itemType" id="option3" value="SAM" autocomplete="off">
						<label class="btn btn-secondary" for="option3">반제품</label>
						
						
			            <div id="modalGrid"></div>
			            <input type="text" class="btn-serach" name="selectIn" id="selectIn"  >
			            <button id="selectBtn" type="button" class="btn btn-primary">검색</button>
		            </div>
	            <div class="modal-footer">
	            </div>
	        </div>
	        </div>
	    </div>
	    
<script>


var bomGrid = new tui.Grid({
	el : document.getElementById('bomGrid'),
	scrollX:true,
	scrollY:true,
	rowHeaders: ['rowNum'],
	columns : [ 
	{
		header : 'LEVEL',
		name : 'level',
		width:30,
		sortingType : 'desc',
		sortable : true
	}, 
	{
		header : 'PATH',
		name : 'path',
		width:'auto',
		sortingType : 'desc',
		sortable : true
	}, {
		header : '품목코드',
		name : 'ingCode',
		sortingType : 'desc',
		sortable : true
	}, {
		header : '품목명',
		name : 'itemName',
		width: 150,
		sortingType : 'desc',
		sortable : true,
	}, {
		header : '구분',
		name : 'itemType',
		sortingType : 'desc',
		sortable : true,
	}, {
		header : '소요량',
		name : 'itemCon',
		sortingType : 'desc',
		sortable : true,
	}, {
		header : '단위',
		name : 'unit',
		sortingType : 'desc',
		sortable : true,
	}, {
		header : '공정코드',
		name : 'proCode',
		sortingType : 'desc',
		sortable : true,
	}, {
		header : '공정명',
		name : 'proName',
		sortingType : 'desc',
		sortable : true,
	}
	]
});

bomGrid.setBodyHeight(580);


var modalGrid = new tui.Grid({
	el : document.getElementById('modalGrid'),
	pageOptions : {
		useClient : true,
		perPage : 5
	},
	columns : [ 
	{
		header : '품목코드',
		name : 'itemCode',
		width: 100,
		sortingType : 'desc',
		sortable : true
	}, {
		header : '품목명',
		name : 'itemName',
		sortingType : 'desc',
		sortable : true
	}, {
		header : '구분',
		name : 'itemType',
		sortingType : 'desc',
		sortable : true,
	}
	]
});


function itemList(){
	$.ajax({
		url : "/getItemList",
		method : "get",
		dataType : "json",
		success : function(result) {
			modalGrid.resetData(result);
		},
		error : function(reject){
			console.log(reject)
		}
	})
}



$('#searchBtn').on('click', function(){
	itemList()
	$('#searchModal').modal('show');
	$('#searchModal').on('shown.bs.modal', function (e) {
		console.log('open');
		setTimeout(()=> modalGrid.refreshLayout(), 300);	
	})
	
})

$('input[name="itemType"]').on('change', function() {	
	let itemType = $('input[name="itemType"]:checked').val();
	if(itemType == "all"){
		itemList()
	}else {
		$.ajax({
			url : "/getItemDetaList",
			method : "get",
			dataType : "json",
			data : {itemType : itemType},
			success : function(result) {
				modalGrid.resetData(result);
			},
			error : function(reject){
				console.log(reject)
			}
		})
	}
})

$('#selectBtn').on('click', function() {
	console.log($('#search').val());
	$.ajax({
		url : "/searchItem",
		data : {itemName : $('#selectIn').val()},
		dataType : "json",
		method : "get",
		success : function(result) {
			modalGrid.resetData(result);
		},error : function(reject){
			console.log(reject)
		}
	})

})

modalGrid.on('click',function(e){
	itemCode = modalGrid.getRow(e.rowKey).itemCode;
	itemName = modalGrid.getRow(e.rowKey).itemName;
	
	$('#itemName').val(itemName);
	$('#itemCode').val(itemCode);
	
	$.ajax({
		url : "/getBomOrd",
		method : "get",
		dataType : "json",
		data : {itemCode : itemCode},
		success : function(result){
			
			bomGrid.resetData(result);
			

		},
		error : function(reject){
			console.log(reject);
		}
	})
	$('#searchModal').modal('hide');
	$('#excel').css('display', 'block');
});

const options = {
		  includeHiddenColumns: true,
		  onlySelected: true,
		  fileName: 'bom',
		};
		
$('#excel').on('click', function(){
	bomGrid.export('xlsx', options);
})



	
</script>
  		
	</th:block>
	


</html>