<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/index}"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head lang="en">
<meta charset="UTF-8">

</head>

<th:block layout:fragment="content">
	<div class="container-fluid page-body-wrapper">
		<div class="col-12 grid-margin stretch-card">
			<div class="card">
				<div class="card-body">
					<h1 class="card-title">사원 정보</h1>
					
					<select id="searchSel">
						<option value="">부서별</option>
						<option value="인사">인사</option>
						<option value="영업">영업</option>
						<option value="품질">품질</option>
						<option value="설비">설비</option>
						<option value="생산">생산</option>
						<option value="자재">자재</option>
					</select>검색어 <input id="searchInp" type="text">
					<button type="button" id="searchButton" class="btn btn-success">검색</button>
					<button type="button" id="allListBtn" class="btn btn-success">전체보기</button>
					
					<form id="controller">
						<button type="button" id="modifyBtn" class="btn btn-success">수정</button>
						<button id="addEmpBtn">등록</button>
						<div id="grid"></div>
					</form>
				</div>
			</div>
		</div>
	</div>


	<div class="modal fade" id="modifyModal" tabindex="-1"
		aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="searchModalLabel">
						<span id="selNo">사원정보 조회</span><span id="selName">사원정보 조회</span>
					</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal"
						aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<span>직책</span> <select id="selPosi">
						<option value="null">선택해주세요</option>
						<option value="사원">사원</option>
						<option value="관리자">관리자</option>
					</select> <br> <span>부서</span> <select id="selDept">
						<option value="null">선택해주세요</option>
						<option value="인사">인사</option>
						<option value="영업">영업</option>
						<option value="품질">품질</option>
						<option value="설비">설비</option>
						<option value="생산">생산</option>
						<option value="자재">자재</option>
					</select>

				</div>
				<div class="modal-footer">
					<button type="button" id="finBtn" class="btn btn-primary">수정</button>
					<button type="button" id="delBtn" class="btn btn-primary">삭제</button>
				</div>
			</div>
		</div>
	</div>


	<script>
		// 사원정보 그리드
		var grid = new tui.Grid({
			el : document.getElementById('grid'),
			scrollX : true,
			scrollY : true,
			rowHeaders : [ {
				type : 'checkbox',
				header : " "
			}, {
				type : 'rowNum'
			} ],
			pageOptions : {
				useClient : true,
				perPage : 10
			},
			columns : [ {
				header : '사원번호',
				name : 'empNo',
				sortingType : 'desc',
				sortable : true
			}, {
				header : '이름',
				name : 'empName',
				sortingType : 'desc',
				sortable : true
			}, {
				header : '직책',
				name : 'position',
				sortingType : 'desc',
				sortable : true,
			}, {
				header : '부서',
				name : 'deptName',
				sortingType : 'desc',
				sortable : true
			}, {
				header : '연락처',
				name : 'phoneNum',
				sortingType : 'desc',
				sortable : true
			}, {
				header : 'e-mail',
				name : 'email',
				sortingType : 'desc',
				sortable : true
			}, {
				header : '입사일',
				name : 'hireDate',
				sortingType : 'desc',
				sortable : true
			} ]
		});

		// 사원 전체 리스트
		function empList(input, select) {

			$.ajax({
				url : "/employeeAjax",
				method : "GET",
				data : {searchInp : input, searchSel : select},
				dataType : "JSON",
				success : function(result) {
					grid.resetData(result);
					input = $('#searchInp').val("");
					select = $('#searchSel').val();
				}
			});
		}
		
		let input = null;
		let select = null;
		empList(input, select);
		
		// 검색
		$('#searchButton').on('click',function() {
			input = $('#searchInp').val();
			select = $('#searchSel').val();
			empList(input, select);
		})
		
		$('#allListBtn').on('click', function(){
			 input = null;
			 select = null;
			empList(input, select);
		})

		// 체크박스 하나만
		grid.on('check', function(e) {
			var checkRows = grid.getCheckedRowKeys();
			checkRows.forEach(function(key, idx) {
				if (key != e.rowKey) {
					grid.uncheck(key);
				}
			});
		});

		// 등록페이지로 이동
		$('#addEmpBtn').on('click', function(e) {
			e.preventDefault();
			self.location = '/employee/ragister';
		})

		// 사원 정보 수정(부서, 직급변경)
		$('#modifyBtn').on('click', function(e) {
			e.preventDefault();
			let empNo = grid.getCheckedRows()[0].empNo
			console.log(empNo)
			if (empNo != null || empNo != "") {
				$.ajax({
					url : "/serchEmpAjax",
					method : "GET",
					data : {
						empNo : empNo
					},
					dataType : "JSON",
					success : function(result) {
						$('#modifyModal').modal('show');

						$('.modal-title #selNo').text(result.empNo);
						$('.modal-title #selName').text(result.empName);

						if (result.position != null) {
							$('#selPosi').val(result.position)
						}
						if (result.deptName != null) {
							$('#selDept').val(result.deptName)
						}

					}
				})
			}
		});

		$('#selPosi').on('change', function(e) {
			console.log($('#selPosi').val())
		})

		$('#finBtn').on(
				'click',
				function(e) {
					e.preventDefault();
					$.ajax({
						url : "/modifyEmpAjax",
						method : "get",
						data : {
							empNo : $('.modal-title #selNo').text(),
							position : $('#selPosi').val(),
							deptName : $('#selDept').val()
						},
						dateType : "json",
						success : function(result) {
							$(
									'td[data-row-key='
											+ grid.getCheckedRowKeys() + ']')
									.children(':eq(4)').text(
											$('#selPosi').val());
							$(
									'td[data-row-key='
											+ grid.getCheckedRowKeys() + ']')
									.children(':eq(5)').text(
											$('#selDept').val());
							$('#modifyModal').modal('hide');
						}
					});

				})

		$('#delBtn').on('click', function(e) {
			e.preventDefault();
			$.ajax({
				url : "/removeEmpAjax",
				method : "get",
				data : {
					empNo : $('.modal-title #selNo').text()
				},
				dateType : "JSON",
				success : function(result) {
					grid.removeCheckedRows();
					$('#modifyModal').modal('hide');
				}
			});
		})
	</script>
</th:block>

</html>