<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/index}"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head lang="en">
<meta charset="UTF-8">
<style>
input:focus {
	border-color: #0982f0;
	ouline: none;
}
</style>
</head>

<th:block layout:fragment="content">
	<div>
		<div class="col-12 grid-margin stretch-card">
			<div class="card">
				<div class="card-body">
					<h1>사원 정보</h1>
					<br> <select id="searchSel" class="">
						<option value="">부서별</option>
						<option value="인사">인사</option>
						<option value="영업">영업</option>
						<option value="품질">품질</option>
						<option value="설비">설비</option>
						<option value="생산">생산</option>
						<option value="자재">자재</option>
					</select> <input id="searchInp" class="" type="text">
					<button type="button" id="searchButton" class="btn btn-dark">사원검색</button>
					<button type="button" id="allListBtn" class="btn btn-dark">전체보기</button>

					<form id="controller">
						<div class="m-2 d-grid gap-2 d-md-flex justify-content-md-end">
							<button type="button" id="modifyBtn" class="btn btn-success"
								sec:authorize="hasAnyAuthority('ROLE_ADMIN', 'EMP_ADMIN')">수정</button>
							<button id="addEmpBtn" class="btn btn-primary"
								sec:authorize="hasAnyAuthority('ROLE_ADMIN', 'EMP_ADMIN')">등록</button>
						</div>
						<div id="grid"></div>

					</form>
				</div>
			</div>
		</div>
	</div>


	<div class="modal fade" id="modifyModal" tabindex="-1"
		aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="searchModalLabel">사원정보 수정</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal"
						aria-label="Close"></button>
				</div>
				<div class="modal-header">
					<div>
						<span>사원번호 :</span> <span id="selNo">사원정보 조회</span>
					</div>
					<div>
						<span>이름 :</span> <span id="selName">사원정보 조회</span>
					</div>
				</div>
				<div class="modal-body">
					<div class="h-auto d-md-flex justify-content-between">

						<span>부서 :</span> <select id="selDept">
							<option value="null">선택해주세요</option>
							<option value="인사">인사</option>
							<option value="영업">영업</option>
							<option value="품질">품질</option>
							<option value="설비">설비</option>
							<option value="생산">생산</option>
							<option value="자재">자재</option>
						</select> <span>직책 : </span> <select id="selPosi">
							<option value="null">선택해주세요</option>
							<option value="사원">사원</option>
							<option value="관리자">관리자</option>
						</select>

					</div>
				</div>
				<div class="modal-footer">
					<button type="button" id="finBtn" class="btn btn-success"
						sec:authorize="hasAnyRole('ROLE_ADMIN')">수정</button>
					<button type="button" id="delBtn" class="btn btn-danger"
						sec:authorize="hasAnyRole('ROLE_ADMIN')">삭제</button>
				</div>
			</div>
		</div>
	</div>


	<script>
		// 사원정보 그리드
		var grid = new tui.Grid({
			el : document.getElementById('grid'),
			scrollX : true,
			scrollY : true,
			rowHeaders : [ {
				type : 'checkbox',
				header : " "
			}, {
				type : 'rowNum'
			} ],
			pageOptions : {
				useClient : true,
				perPage : 10
			},
			columns : [ {
				header : '사원번호',
				name : 'empNo',
				sortingType : 'desc',
				sortable : true
			}, {
				header : '이름',
				name : 'empName',
				sortingType : 'desc',
				sortable : true
			}, {
				header : '직책',
				name : 'position',
				sortingType : 'desc',
				sortable : true,
			}, {
				header : '부서',
				name : 'deptName',
				sortingType : 'desc',
				sortable : true
			}, {
				header : '연락처',
				name : 'phoneNum',
				sortingType : 'desc',
				sortable : true
			}, {
				header : 'e-mail',
				name : 'email',
				sortingType : 'desc',
				sortable : true
			}, {
				header : '입사일',
				name : 'hireDate',
				sortingType : 'desc',
				sortable : true
			} ]
		});
		grid.setBodyHeight(568);

		// 사원 전체 리스트
		function empList(input, select) {

			$.ajax({
				url : "/employeeAjax",
				method : "GET",
				data : {searchInp : input, searchSel : select},
				dataType : "JSON",
				success : function(result) {
					grid.resetData(result);
					input = $('#searchInp').val("");
					select = $('#searchSel').val();
				}
			});
		}
		
		let input = null;
		let select = null;
		empList(input, select);
		
		// 검색
		$('#searchButton').on('click',function() {
			input = $('#searchInp').val();
			select = $('#searchSel').val();
			empList(input, select);
		})
		
		$('#allListBtn').on('click', function(){
			 input = null;
			 select = null;
			empList(input, select);
		})

		// 체크박스 하나만
		grid.on('check', function(e) {
			var checkRows = grid.getCheckedRowKeys();
			checkRows.forEach(function(key, idx) {
				if (key != e.rowKey) {
					grid.uncheck(key);
				}
			});
		});

		// 등록페이지로 이동
		$('#addEmpBtn').on('click', function(e) {
			e.preventDefault();
			self.location = '/employee/ragister';
		})

		// 사원 정보 수정(부서, 직급변경) 모달에 뿌리기
		$('#modifyBtn').on('click', function() {
			let empNo = null;
			if(grid.getCheckedRows()[0] != null){
				empNo = grid.getCheckedRows()[0].empNo
			}
			
			if (empNo != null || empNo != "") {
				$.ajax({
					url : "/serchEmpAjax",
					method : "GET",
					data : {
						empNo : empNo
					},
					dataType : "JSON",
					success : function(result) {
						$('#modifyModal').modal('show');

						$('#selNo').text(result.empNo);
						$('#selName').text(result.empName);

						if (result.position != null) {
							$('#selPosi').val(result.position)
						}
						if (result.deptName != null) {
							$('#selDept').val(result.deptName)
						}

					}
				})
			}
		});

		
		
		//사원 부서, 직책 변경 하기 
		$('#finBtn').on(
				'click',
				function(e) {
					e.preventDefault();
					$.ajax({
						url : "/modifyEmpAjax",
						method : "get",
						data : {
							empNo : $('#selNo').text(),
							position : $('#selPosi').val(),
							deptName : $('#selDept').val()
						},
						dateType : "json",
						success : function(result) {
							alert($('#selNo').text()+' '+ $('#selName').text() + '의 정보가 변경되었습니다.')

							$(
									'td[data-row-key='
											+ grid.getCheckedRowKeys() + ']')
									.children(':eq(4)').text(
											$('#selPosi').val());
							$(
									'td[data-row-key='
											+ grid.getCheckedRowKeys() + ']')
									.children(':eq(5)').text(
											$('#selDept').val());
							$('#modifyModal').modal('hide');
						}
					});

				})

		$('#delBtn').on('click', function(e) {
			e.preventDefault();
			swalWithBootstrapButtons.fire({
				  title: '정말 삭제 하시겠습니까?',
				  icon: 'warning',
				  showCancelButton: true,
				  confirmButtonText: 'Delete',
				  cancelButtonText: 'Cancel',
				  reverseButtons: false
				}).then((result) => {
					
				  if (result.isConfirmed) {
				    swalWithBootstrapButtons.fire(
				     '성고적으로 삭제되었습니다!',
				     'Your file has been deleted.',
				     'success',
				     $.ajax({
							url : "/removeEmpAjax",
							method : "get",
							data : {
								empNo : $('#selNo').text()
							},
							dateType : "JSON",
							success : function(result) {
								grid.removeCheckedRows();
								$('#modifyModal').modal('hide');
							}
						})
				    )
				    
				  } else if (
				    /* Read more about handling dismissals below */
				    result.dismiss === Swal.DismissReason.cancel
				  ) {
				    swalWithBootstrapButtons.fire(
				      '취소 되었습니다.',
				      'Your imaginary file is safe :)',
				      'error'
				    )
				  }
				})
			
		})
	</script>
</th:block>

</html>