<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/index}" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head lang="en">
	<meta charset="UTF-8">
<style> 
input:focus{
	border-color:#0982f0;
	ouline:none;
}
</style>

</head>


<th:block layout:fragment="content">
	<div class="container-fluid page-body-wrapper">
		<div class="col-12 grid-margin stretch-card">
			<div class="card">
				<div class="card-body">
					<h1 class="card-title">품목 정보</h1>

					<select id="item">
						<option value="null">전체</option>
						<option th:each="list : ${typeCode}" th:text="${list.text}" th:value="${list.value}">fdd
						</option>
					</select> <input id="searchInput" name="searchInput" type="text">
					<button id="searchButton" name="searchButton" type="button" class="btn btn-primary">검색</button>
					<div id="grid"></div>
					<button id="addModalBtn" type="button" class="btn btn-primary" >등록</button>
					<button id="modModalBtn" type="button" class="btn btn-primary">수정</button>


				</div>
			</div>
		</div>
	</div>


<!-- 품목 등록 모달 -->

	<div class="modal fade" id="addModal" data-bs-backdrop="static" tabindex="-1" aria-labelledby="searchModal"
		aria-hidden="true">
		<div class="modal-dialog modal-lg modal-dialog-centered" style="width: 670px;">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" style="padding-right: 25px;">품목 등록</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>

				<div id="modal-body">
					<div id="modalGrid"></div>
				</div>

				<div class="modal-footer">
					<button id="addBtn" type="button" class="btn btn-primary">등록</button>
				</div>
			</div>
		</div>
	</div>


	<div class="modal fade" id="modModal" data-bs-backdrop="static" tabindex="-1" aria-labelledby="searchModal"
		aria-hidden="true">
		<div class="modal-dialog modal-lg modal-dialog-centered" style="width: 670px;">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" style="padding-right: 25px;">품목 수정</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>

				<div id="modal-body">
					<div id="modModalGrid"></div>
				</div>

				<div class="modal-footer">
					<button id="modBtn" type="button" class="btn btn-primary">수정</button>
					<button id="delBtn" type="button" class="btn btn-primary">삭제</button>

				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="qualityModal" data-bs-backdrop="static" tabindex="-1" aria-labelledby="searchModal"
		aria-hidden="true">
		<div class="modal-dialog modal-lg modal-dialog-centered" style="width: 670px;">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" style="padding-right: 25px;">품질 정보</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>

				<div id="modal-body">
					<div id="body" style="z-index: 9999">
						<button id="qualityInsBtn" type="button" class="btn btn-primary"
							style="margin-left: 10px">추가</button>
					</div>
					<div id="qualityGrid"></div>
				</div>

				<div class="modal-footer">
					<button id="saveQualityBtn" type="button" class="btn btn-primary">저장</button>
					<button id="deleteQualityBtn" type="button" class="btn btn-primary">삭제</button>

				</div>
			</div>
		</div>
	</div>
	<script th:inline = "javascript">
		let itemTypeList = [[${typeCode}]]; 

		var grid = new tui.Grid({
			el: document.getElementById('grid'),
			scrollX: true,
			scrollY: true,
			rowHeaders: [{ type: 'checkbox', header: " " }, { type: 'rowNum' }],
			pageOptions: {
				useClient: true,
				perPage: 10
			},
			columns: [
				{
					header: '품목코드',
					name: 'itemCode',
					width: 100,
					sortingType: 'desc',
					sortable: true
				}, {
					header: '품목명',
					name: 'itemName',
					sortingType: 'desc',
					sortable: true
				}, {
					header: '구분',
					name: 'itemType',
					sortingType: 'desc',
					sortable: true,
				}, {
					header: '규격',
					name: 'standard',
					sortingType: 'desc',
					sortable: true
				}, {
					header: '단위',
					name: 'unit',
					sortingType: 'desc',
					sortable: true
				}, {
					header: '단가',
					name: 'unitPrice',
					sortingType: 'desc',
					sortable: true
				}, {
					header: '판매가격',
					name: 'itemPrice',
					sortingType: 'desc',
					sortable: true
				}, {
					header: '안전재고',
					name: 'saveMaterial',
					sortingType: 'desc',
					sortable: true
				}
			]
		});

		grid.on('check', function (e) {
			var checkRows = grid.getCheckedRowKeys();
			checkRows.forEach(function (key, idx) {
				if (key != e.rowKey) {
					grid.uncheck(key);
				}
			});

		});

		function itemList() {
			$.ajax({
				url: "/itemAllList",
				method: "get",
				dataType: "json",
				success: function (result) {
					grid.resetData(result);
				},
				error: function (reject) {
					console.log(recjet)
				}

			});
		}

		itemList();

		$('#item').on('change', function () {
			$.ajax({
				url: "/itemList",
				method: "get",
				dataType: "json",
				data: { val: $('#item').val() },
				success: function (result) {
					grid.resetData(result);
				},
				error: function (reject) {

				}

			});
		});
		

		var modalGrid = new tui.Grid({
			el: document.getElementById('modalGrid'),
			columns: [
				{
					header: '품목코드',
					name: 'itemCode',
					width: 100

				}, {
					header: '품목명',
					name: 'itemName',
					editor: "text"
				}, {
					header: '구분',
					name: 'itemType',
					formatter:'listItemText',
					editor: {
						type: 'select',
						options: {
							listItems: itemTypeList
						}
					}
				}, {
					header: '규격',
					name: 'standard',
					editor: 'text'
				}, {
					header: '단위',
					name: 'unit',
					editor: {
						type: 'select',
						options: {
							listItems: [
								{
									text: 'mL',
									value: 'ml'
								},
								{
									text: 'L',
									value: 'L'
								},
								{
									text: 'Kg',
									value: 'Kg'
								},
								{
									text: 'g',
									value: 'g'
								},
								,
								{
									text: 'EA',
									value: 'EA'
								}
								,
								{
									text: 'm',
									value: 'm'
								},
								{
									text: 'cm',
									value: 'cm'
								}
							]
						}
					}
				}, {
					header: '단가',
					name: 'unitPrice',
					editor: 'text'
				}, {
					header: '판매가격',
					name: 'itemPrice',
					editor: 'text'
				}, {
					header: '안전재고',
					name: 'saveMaterial',
					editor: 'text'
				}
			]
		});



		var modModalGrid = new tui.Grid({
			el: document.getElementById('modModalGrid'),
			columns: [
				{
					header: '품목코드',
					name: 'itemCode',
					width: 100

				}, {
					header: '품목명',
					name: 'itemName',
					editor: "text"
				}, {
					header: '구분',
					name: 'itemType',
					formatter :'listItemText',
					editor: {
						type: 'select',
						options: {
							listItems: itemTypeList
						}
					}
				}, {
					header: '규격',
					name: 'standard',
					editor: 'text'
				}, {
					header: '단위',
					name: 'unit',
					editor: {
						type: 'select',
						options: {
							listItems: [
								{
									text: 'mL',
									value: 'ml'
								},
								{
									text: 'L',
									value: 'L'
								},
								{
									text: 'Kg',
									value: 'Kg'
								},
								{
									text: 'g',
									value: 'g'
								},
								,
								{
									text: 'EA',
									value: 'EA'
								}
								,
								{
									text: 'm',
									value: 'm'
								},
								{
									text: 'cm',
									value: 'cm'
								}
							]
						}
					}
				}, {
					header: '단가',
					name: 'unitPrice',
					editor: 'text'
				}, {
					header: '판매가격',
					name: 'itemPrice',
					editor: 'text'
				}, {
					header: '안전재고',
					name: 'saveMaterial',
					editor: 'text'
				}
			]
		});

		$('#addModalBtn').on('click', function () {
			modalGrid.appendRow();
		 	$.ajax({
				url: "/getItemCode",
				method: "get",
				dataType: "json",
				success: function (result) {
					
					modalGrid.resetData([result])
					$('#addModal').modal('show');
					setTimeout(() => modalGrid.refreshLayout(), 300);

				},
				error: function (reject) {
					console.log(reject);
				}

			}) 
		})

		$('#addBtn').on('click', function () {
			modalGrid.finishEditing();
			if(modalGrid.getData()[0].itemName != null ||  modalGrid.getData(0)[0].itemType != null || modalGrid.getData(0)[0].unit !=null || modalGrid.getData(0)[0].standard != null){
				$.ajax({
					url: "/addItemAjax",
					contentType: "application/json",
					data: JSON.stringify(modalGrid.getData()[0]),
					method: "post",
					beforeSend: function (xhr) {
						xhr.setRequestHeader(header, token);
					}, success: function (result) {
						
						itemList();
						$('#addModal').modal('hide');
	
					}, error: function (reject) {
						console.log(reject)
					}
				})
			}else {
				alert('모든 값을 이력하세요!');
			}
		})

		$('#modModalBtn').on('click', function () {
			if (grid.getCheckedRows().length != 0) {
				$('#modModal').modal('show');
				modModalGrid.resetData(grid.getCheckedRows());


				$('#modModal').on('shown.bs.modal', function (e) {
					modModalGrid.refreshLayout();
				})
			} else {
				alert("아무것도 선택되지 않았습니다.");
			}
		})


		$('#modBtn').on('click', function () {
			modModalGrid.finishEditing();
			$.ajax({
				url: "/modItemAjax",
				contentType: "application/json",
				data: JSON.stringify(modModalGrid.getData()[0]),
				method: "post",
				beforeSend: function (xhr) {
					xhr.setRequestHeader(header, token);
				}, success: function (result) {
					$('#modModal').modal('hide');
					itemList();

				}, error: function (reject) {
					console.log(reject)
				}
			})
		})


		$('#delBtn').on('click', function () {
			$.ajax({
				url: "/removeItem",
				data: { itemCode: modModalGrid.getData()[0].itemCode },
				method: "get",
				success: function (result) {
					if (result = "success") {
						alert(modModalGrid.getData()[0].itemName + "을 삭제!")
						itemList();
						$('#modModal').modal('hide');
					} else {
						alert("실패!")
					}

				}, error: function (reject) {
					console.log(reject)
				}
			})
		})





		$("#searchButton").on('click', function () {
			console.log($('#searchInput').val())
			$.ajax({
				url: "/searchItem",
				data: { itemName: $('#searchInput').val() },
				dataType: "json",
				method: "get",
				success: function (result) {
					$('#searchInput').val()
					grid.resetData(result);
				}, error: function (reject) {
					console.log(reject)
				}
			})

		})


		var qualityGrid = new tui.Grid({
			el: document.getElementById("qualityGrid"),
			pageOptions: {
				useClient: true,
				perPage: 5
			},
			rowHeaders: [{
				type: 'checkbox',
				header: " "
			}],
			columns: [
				 {
					header: '검사명',
					name: 'testName',
					editor: 'text'

				}, {
					header: '검사설비',
					name: 'facName',
					editor: 'text'

				}, {
					header: '검사기준치',
					name: 'testStandard',
					editor: 'text'

				}
			]

		});


		var gridRowKey = null;
		grid.on('dblclick', function (e) {
			gridRowKey = e.rowKey;
			if (e.rowKey != null) {
				$("#qualityModal").modal('show')
				setTimeout(() => qualityGrid.refreshLayout(), 300);
				$.ajax({
					url: '/getCheckList',
					method: "get",
					dataType: "json",
					data: { itemCode: grid.getRow(e.rowKey).itemCode },
					success: function (result) {
						qualityGrid.resetData(result)
					}, error: function (reject) {
						console.log(reject)
					}
				})

			}
		})

		$('#qualityInsBtn').on('click', function () {
			qualityGrid.appendRow();
		})

		$('#saveQualityBtn').on('click', function () {
			
			qualityGrid.finishEditing();

			let itemCode = grid.getRow(gridRowKey).itemCode;
			let data = qualityGrid.getData();
			
			data.forEach(function (i,index) {
				if(data[index].testName == null || data[index].testName == ''){
					qualityGrid.removeRow(index);
				}
			})
			
			data = qualityGrid.getData();
			if(data != null && data != ''){
				data.forEach(function (i) {
					i.itemCode = itemCode
				})
				
				$.ajax({
					url: "/saveItemQuality",
					method: "post",
					contentType: "application/json",
					dataType : "json",
					data: JSON.stringify(data),
					beforeSend: function (xhr) {
						xhr.setRequestHeader(header, token);
					}, success: function (result) {
						qualityGrid.resetData(result)
					}, error: function (reject) {
						console.log(reject);
					}
				})
			}
		})
		
		
		
		$('#deleteQualityBtn').on('click', function(){
			let data = qualityGrid.getCheckedRows();
			let itemCode = grid.getRow(gridRowKey).itemCode;
			data.forEach(function (i) {
				i.itemCode = itemCode
			})
			
			$.ajax({
				url : "/removeQualityList",
				method: "post",
				contentType: "application/json",
				dataType : "json",
				data: JSON.stringify(data),
				beforeSend: function (xhr) {
					xhr.setRequestHeader(header, token);
				}, success: function (result) {
					qualityGrid.removeCheckedRows()
				}, error: function (reject) {
					console.log(reject);
				}
			})
			
		})
		
	</script>

</th:block>

</html>