<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<th:block th:fragment="header">
    <nav class="navbar-breadcrumb col-xl-12 col-12 d-flex flex-row p-0">
        <div class="navbar-links-wrapper d-flex align-items-stretch flex-grow-1">
            <!-- 기존 코드 -->
            
            <!-- 수정된 코드 -->
            <div class="nav-link" style="width: 70%;"></div>
            <div class="nav-link" style="width: 10%; text-align: right;">
                <span th:text="${#authentication.principal.empName}" style="color: white;"></span>
            </div>
            <div class="nav-link" style="width: 10%; text-align: right;">
                <a href="#" id="openMyInfo" style="color: white; text-decoration: none;">내 정보 수정</a>
            </div>
            <div class="nav-link" style="width: 10%; text-align: right;">
                <form th:action="logout" method="post">
                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
                    <a href="#" onclick="event.preventDefault(); this.closest('form').submit();" style="color: white; text-decoration: none;">logout</a>
                </form>
            </div>
        </div>
    </nav>
	
<th:block sec:authorize="isAuthenticated()">
	
<!-- 정보수정 모달 -->
<form>
<div class="modal fade" id="myInfo" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg modal-dialog-centered">
	<div class="modal-content">
		<div class="modal-header">
			<h5 class="modal-title" id="searchModalLabel">내 정보 변경</h5>
			<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		</div>
		<div class="modal-body">

			<div class="container">
			  <div class="row justify-content-lg-center">
				<div class="col-12 col-lg-12">
				  <div class="bg-white border rounded shadow-sm overflow-hidden">          
		  
					  <div class="row gy-4 gy-xl-5 p-4 p-xl-5">

						<div class="col-12 col-md-6">
						  <label for="workName" class="form-label">사원번호</label>
						  <div class="input-group">
							<span class="input-group-text">
								<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-card-checklist" viewBox="0 0 16 16">
									<path d="M14.5 3a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h13zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13z"/>
									<path d="M7 5.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm-1.496-.854a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 1 1 .708-.708l.146.147 1.146-1.147a.5.5 0 0 1 .708 0zM7 9.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm-1.496-.854a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 0 1 .708-.708l.146.147 1.146-1.147a.5.5 0 0 1 .708 0z"/>
								</svg>
							</span>
							<input type="text" class="form-control" id="empNo" name="empNo" th:value="${#authentication.principal.empNo}" readonly>
						  </div>
						</div>

						<div class="col-12 col-md-6">
						  <label for="itemName" class="form-label">사원이름</label>
						  <div class="input-group">
							<span class="input-group-text">
								<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-card-checklist" viewBox="0 0 16 16">
									<path d="M14.5 3a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h13zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13z"/>
									<path d="M7 5.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm-1.496-.854a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 1 1 .708-.708l.146.147 1.146-1.147a.5.5 0 0 1 .708 0zM7 9.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm-1.496-.854a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 0 1 .708-.708l.146.147 1.146-1.147a.5.5 0 0 1 .708 0z"/>
								</svg>
							</span>
							<input type="text" class="form-control" th:value="${#authentication.principal.empName}" readonly>
						  </div>
						</div>


						<div class="col-12 col-md-6">
							<label for="proName" class="form-label">부서이름</label>
							<div class="input-group">
							  <span class="input-group-text">
								<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-card-checklist" viewBox="0 0 16 16">
									<path d="M14.5 3a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h13zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13z"/>
									<path d="M7 5.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm-1.496-.854a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 1 1 .708-.708l.146.147 1.146-1.147a.5.5 0 0 1 .708 0zM7 9.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm-1.496-.854a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 0 1 .708-.708l.146.147 1.146-1.147a.5.5 0 0 1 .708 0z"/>
								</svg>
							  </span>
							  <input type="text" class="form-control" th:value="${#authentication.principal.deptName}" readonly>
							</div>
						  </div>             

						  <div class="col-12 col-md-6">
							<label for="workAmount" class="form-label">  직 책<span class="text-danger">*</span></label>
							<div class="input-group">
							  <span class="input-group-text">
								<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart-check" viewBox="0 0 16 16">
									<path d="M11.354 6.354a.5.5 0 0 0-.708-.708L8 8.293 6.854 7.146a.5.5 0 1 0-.708.708l1.5 1.5a.5.5 0 0 0 .708 0l3-3z"/>
									<path d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zm3.915 10L3.102 4h10.796l-1.313 7h-8.17zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
								</svg>
							  </span>
							  <input type="text" class="form-control" th:value="${#authentication.principal.position}" readonly>
							</div>
						  </div> 

						  <div class="col-12 col-md-6">
							<label for="facName" class="form-label">전화번호</label>
							<div class="input-group">
							  <span class="input-group-text">
								<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-wrench" viewBox="0 0 16 16">
									<path d="M.102 2.223A3.004 3.004 0 0 0 3.78 5.897l6.341 6.252A3.003 3.003 0 0 0 13 16a3 3 0 1 0-.851-5.878L5.897 3.781A3.004 3.004 0 0 0 2.223.1l2.141 2.142L4 4l-1.757.364L.102 2.223zm13.37 9.019.528.026.287.445.445.287.026.529L15 13l-.242.471-.026.529-.445.287-.287.445-.529.026L13 15l-.471-.242-.529-.026-.287-.445-.445-.287-.026-.529L11 13l.242-.471.026-.529.445-.287.287-.445.529-.026L13 11l.471.242z"/>
								</svg>
							  </span>
							  <input type="tel" class="form-control"id="phoneNum" name="phoneNum" th:value="${#authentication.principal.phoneNum}" placeholder="연락처">
							</div>
						  </div> 

						  <div class="col-12 col-md-6">
							<label for="workerName" class="form-label">이메일</label>
							<div class="input-group">
							  <span class="input-group-text">
								<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
									<path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
									<path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
								</svg>
							  </span>
							  <input type="email" class="form-control" id="email" name="email" th:value="${#authentication.principal.email}"  placeholder="e-mail" >
							</div>
						  </div>

						  <div class="col-12 col-md-6">
							<label for="workStart" class="form-label">새 비밀번호</label>
							<div class="input-group">
							  <span class="input-group-text">
								<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-hourglass-top" viewBox="0 0 16 16">
									<path d="M2 14.5a.5.5 0 0 0 .5.5h11a.5.5 0 1 0 0-1h-1v-1a4.5 4.5 0 0 0-2.557-4.06c-.29-.139-.443-.377-.443-.59v-.7c0-.213.154-.451.443-.59A4.5 4.5 0 0 0 12.5 3V2h1a.5.5 0 0 0 0-1h-11a.5.5 0 0 0 0 1h1v1a4.5 4.5 0 0 0 2.557 4.06c.29.139.443.377.443.59v.7c0 .213-.154.451-.443.59A4.5 4.5 0 0 0 3.5 13v1h-1a.5.5 0 0 0-.5.5zm2.5-.5v-1a3.5 3.5 0 0 1 1.989-3.158c.533-.256 1.011-.79 1.011-1.491v-.702s.18.101.5.101.5-.1.5-.1v.7c0 .701.478 1.236 1.011 1.492A3.5 3.5 0 0 1 11.5 13v1h-7z"/>
								</svg>
							  </span>
							  <input type="password" class="form-control" id="newPwd" name="newPwd" placeholder="새 비밀번호">
							</div>
						  </div>
							
						  <div class="col-12 col-md-6">
							<label for="workEnd" class="form-label">비밀번호 확인</label>
							<div class="input-group">
							  <span class="input-group-text">
								<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-hourglass-bottom" viewBox="0 0 16 16">
									<path d="M2 1.5a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-1v1a4.5 4.5 0 0 1-2.557 4.06c-.29.139-.443.377-.443.59v.7c0 .213.154.451.443.59A4.5 4.5 0 0 1 12.5 13v1h1a.5.5 0 0 1 0 1h-11a.5.5 0 1 1 0-1h1v-1a4.5 4.5 0 0 1 2.557-4.06c.29-.139.443-.377.443-.59v-.7c0-.213-.154-.451-.443-.59A4.5 4.5 0 0 1 3.5 3V2h-1a.5.5 0 0 1-.5-.5zm2.5.5v1a3.5 3.5 0 0 0 1.989 3.158c.533.256 1.011.791 1.011 1.491v.702s.18.149.5.149.5-.15.5-.15v-.7c0-.701.478-1.236 1.011-1.492A3.5 3.5 0 0 0 11.5 3V2h-7z"/>
								</svg>
							  </span>
							  <input type="password" class="form-control" id="newPwd2" name="newPwd2" placeholder="새 비밀번호 확인">
							</div>
						  </div>


						<span id="newPwdMessage"class="text-danger" style="display:none; font-size: 5px; ">* 비밀번호가 다릅니다. 다시 확인해 주십시오.</span>
						  
						<div class="col-12">

                            <div class="col-12 col-md-8">
                                <label for="workEnd" class="form-label" >현재 비밀번호<span class="text-danger">*</span></label>
                                <div class="input-group">
                                  <span class="input-group-text">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-hourglass-bottom" viewBox="0 0 16 16">
                                        <path d="M2 1.5a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-1v1a4.5 4.5 0 0 1-2.557 4.06c-.29.139-.443.377-.443.59v.7c0 .213.154.451.443.59A4.5 4.5 0 0 1 12.5 13v1h1a.5.5 0 0 1 0 1h-11a.5.5 0 1 1 0-1h1v-1a4.5 4.5 0 0 1 2.557-4.06c.29-.139.443-.377.443-.59v-.7c0-.213-.154-.451-.443-.59A4.5 4.5 0 0 1 3.5 3V2h-1a.5.5 0 0 1-.5-.5zm2.5.5v1a3.5 3.5 0 0 0 1.989 3.158c.533.256 1.011.791 1.011 1.491v.702s.18.149.5.149.5-.15.5-.15v-.7c0-.701.478-1.236 1.011-1.492A3.5 3.5 0 0 0 11.5 3V2h-7z"/>
                                    </svg>
                                  </span>
                                  <input class="form-control"id="password" name="password" type="password" placeholder="현재 비밀번호" required>

                                <div class="m-3 d-grid justify-content-end">
                                    <button class="btn btn-primary btn-lg" type="submit" id="myInfoModBtn" >저장</button>
                                </div>

                                </div>
                              </div>


						</div>
					  </div>
		  
				  </div>
				</div>
			  </div>
			</div>

		</div>

	</div>
	</div>
</div>
</form>
</th:block>
	<script>
	const token = $("meta[name='_csrf']").attr("content")
	const header = $("meta[name='_csrf_header']").attr("content");

	$('#openMyInfo').on('click', function(){

		$('#myInfo').modal('show');
	})
	
	$('#modPwBtn').on('click', function(){
		$('#newPwdInp').css('display', "block")
	})
	
	$('#myInfoModBtn').on('click', function(e){
		let pwd = $('#password').val();
	
		// 현재 비밀번호 체크 
		if(pwd != null && pwd!=""){
			let newPwd = $('#newPwd').val(); // 새 비밀번호
			let newPwd2 = $('#newPwd2').val(); // 새비빌번호 확인
			// 새 비밀번호, 비밀번화 확인체크 
			if(newPwd == newPwd2){
				$.ajax({
					url : "/modifyPwd",
					method:"post",
					contentType : "application/json",
					//변경할 데이트 전송
					data : JSON.stringify({password : pwd,
							phoneNum : $("#phoneNum").val(), // 전화번호
							email : $("#email").val(),  // 메일
							newPwd : $("#newPwd").val()}), // 새 비밀번호
					beforeSend: function(xhr){
						xhr.setRequestHeader(header, token);    
					},
					success : function(result){
						if(result == "success"){
							alert("내정보가 수정 되었습니다.") // 완료 경고창 
							// 초기화
							$('#myFom newPwd').val('');
							$('#myFom newPwd2').val('');
							$('#myFom password').val('');
							
							$('#myInfo').modal('hide');

						}else if(result == "fail"){
							alert("비밀번호가 틀렸습니다.") // 실패 경고창
							// 초기화
							$('#myFom newPwd').val('');
							$('#myFom newPwd2').val('');
							$('#myFom password').val('');
						}						
					},error : function(reject){
						console.log(reject)
					}
				})
			}else {
				// 새 비밀번호 틀렷을시 초기화
				$('#newPwd').val('');
				$('#newPwd2').val('');
				$('#password').val('');	
				$('#newPwdMessage').css("display","block");
			}
			
		}else {
			// 현제 비밀번호 미입력시시 경고창
			alert('현재 비밀번호를 입력하세요!')
		}
	})
	
	$('form #newPwd, #newPwd2').on('change', function(){
		$('#newPwdMessage').css("display","none");
	})
	


	
	</script>
	
	<!-- <div class="container-fluid page-body-wrapper">

		
		<div id="right-sidebar" class="settings-panel">
			<i class="settings-close typcn typcn-times"></i>
			<ul class="nav nav-tabs" id="setting-panel" role="tablist">
				<li class="nav-item"><a class="nav-link active" id="todo-tab"
					data-toggle="tab" href="#todo-section" role="tab"
					aria-controls="todo-section" aria-expanded="true">TO DO LIST</a></li>
				<li class="nav-item"><a class="nav-link" id="chats-tab"
					data-toggle="tab" href="#chats-section" role="tab"
					aria-controls="chats-section">CHATS</a></li>
			</ul>
			<div class="tab-content" id="setting-content">
				<div class="tab-pane fade show active scroll-wrapper"
					id="todo-section" role="tabpanel" aria-labelledby="todo-section">
					<div class="add-items d-flex px-3 mb-0">
						<form class="form w-100">
							<div class="form-group d-flex">
								<input type="text" class="form-control todo-list-input"
									placeholder="Add To-do">
								<button type="submit"
									class="add btn btn-primary todo-list-add-btn" id="add-task">Add</button>
							</div>
						</form>
					</div>
					<div class="list-wrapper px-3">
						<ul class="d-flex flex-column-reverse todo-list">
							<li>
								<div class="form-check">
									<label class="form-check-label"> <input
										class="checkbox" type="checkbox"> Team review meeting
										at 3.00 PM
									</label>
								</div> <i class="remove typcn typcn-delete-outline"></i>
							</li>
							<li>
								<div class="form-check">
									<label class="form-check-label"> <input
										class="checkbox" type="checkbox"> Prepare for
										presentation
									</label>
								</div> <i class="remove typcn typcn-delete-outline"></i>
							</li>
							<li>
								<div class="form-check">
									<label class="form-check-label"> <input
										class="checkbox" type="checkbox"> Resolve all the low
										priority tickets due today
									</label>
								</div> <i class="remove typcn typcn-delete-outline"></i>
							</li>
							<li class="completed">
								<div class="form-check">
									<label class="form-check-label"> <input
										class="checkbox" type="checkbox" checked> Schedule
										meeting for next week
									</label>
								</div> <i class="remove typcn typcn-delete-outline"></i>
							</li>
							<li class="completed">
								<div class="form-check">
									<label class="form-check-label"> <input
										class="checkbox" type="checkbox" checked> Project
										review
									</label>
								</div> <i class="remove typcn typcn-delete-outline"></i>
							</li>
						</ul>
					</div>
					<div class="events py-4 border-bottom px-3">
						<div class="wrapper d-flex mb-2">
							<i class="typcn typcn-media-record-outline text-primary mr-2"></i>
							<span>Feb 11 2018</span>
						</div>
						<p class="mb-0 font-weight-thin text-gray">Creating component
							page</p>
						<p class="text-gray mb-0">build a js based app</p>
					</div>
					<div class="events pt-4 px-3">
						<div class="wrapper d-flex mb-2">
							<i class="typcn typcn-media-record-outline text-primary mr-2"></i>
							<span>Feb 7 2018</span>
						</div>
						<p class="mb-0 font-weight-thin text-gray">Meeting with Alisa</p>
						<p class="text-gray mb-0 ">Call Sarah Graves</p>
					</div>
				</div>
				To do section tab ends
				<div class="tab-pane fade" id="chats-section" role="tabpanel"
					aria-labelledby="chats-section">
					<div
						class="d-flex align-items-center justify-content-between border-bottom">
						<p
							class="settings-heading border-top-0 mb-3 pl-3 pt-0 border-bottom-0 pb-0">Friends</p>
						<small
							class="settings-heading border-top-0 mb-3 pt-0 border-bottom-0 pb-0 pr-3 font-weight-normal">See
							All</small>
					</div>
					<ul class="chat-list">
						<li class="list active">
							<div class="profile">
								<img src="images/faces/face1.jpg" alt="image"><span
									class="online"></span>
							</div>
							<div class="info">
								<p>Thomas Douglas</p>
								<p>Available</p>
							</div> <small class="text-muted my-auto">19 min</small>
						</li>
						<li class="list">
							<div class="profile">
								<img src="images/faces/face2.jpg" alt="image"><span
									class="offline"></span>
							</div>
							<div class="info">
								<div class="wrapper d-flex">
									<p>Catherine</p>
								</div>
								<p>Away</p>
							</div>
							<div class="badge badge-success badge-pill my-auto mx-2">4</div>
							<small class="text-muted my-auto">23 min</small>
						</li>
						<li class="list">
							<div class="profile">
								<img src="images/faces/face3.jpg" alt="image"><span
									class="online"></span>
							</div>
							<div class="info">
								<p>Daniel Russell</p>
								<p>Available</p>
							</div> <small class="text-muted my-auto">14 min</small>
						</li>
						<li class="list">
							<div class="profile">
								<img src="images/faces/face4.jpg" alt="image"><span
									class="offline"></span>
							</div>
							<div class="info">
								<p>James Richardson</p>
								<p>Away</p>
							</div> <small class="text-muted my-auto">2 min</small>
						</li>
						<li class="list">
							<div class="profile">
								<img src="images/faces/face5.jpg" alt="image"><span
									class="online"></span>
							</div>
							<div class="info">
								<p>Madeline Kennedy</p>
								<p>Available</p>
							</div> <small class="text-muted my-auto">5 min</small>
						</li>
						<li class="list">
							<div class="profile">
								<img src="images/faces/face6.jpg" alt="image"><span
									class="online"></span>
							</div>
							<div class="info">
								<p>Sarah Graves</p>
								<p>Available</p>
							</div> <small class="text-muted my-auto">47 min</small>
						</li>
					</ul>
				</div>
				chat tab ends
			</div>
		</div> -->
</th:block>

</html>

