<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
<th:block th:replace = "~{layout/head}"></th:block>
<body>
	<!-- partial -->
	<th:block th:replace = "~{layout/header}"></th:block>
		<!-- partial -->
		<!-- partial:partials/_sidebar.html -->
	<div class="container-fluid page-body-wrapper">
		
		<th:block th:replace = "~{layout/sidebar}"></th:block>
		<!-- partial -->
		<div class="main-panel">

				<th:block layout:fragment="content">
				
				</th:block>

		</div>

	</div>


	<!-- base:js -->
	
	<!-- endinject -->
	<!-- Plugin js for this page-->
	<script src="/vendors/chart.js/Chart.min.js"></script>
	<!-- End plugin js for this page-->
	<!-- inject:js -->
	<script src="/js/off-canvas.js"></script>
	<script src="/js/hoverable-collapse.js"></script>
	<script src="/js/template.js"></script>
	<script src="/js/settings.js"></script>
	<script src="/js/todolist.js"></script>
	<!-- endinject -->
	<!-- Custom js for this page-->
	<script src="/js/dashboard.js"></script>
	<!-- End custom js for this page-->


</body>

</html>

