<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<th:block th:fragment="head">

	<nav class="sidebar sidebar-offcanvas" id="sidebar">
		<ul class="nav">
			<li class="nav-item">
				<a class="nav-link" href="index.html">
						<i class="typcn typcn-device-desktop menu-icon"></i>
						 <span class="menu-title">Dashboard</span>
				</a>
			</li>
			
			<li class="nav-item">
				<a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
						<i class="typcn typcn-document-text menu-icon"></i>
						<span class="menu-title">공통 정보</span>
						<i class="menu-arrow"></i>
				</a>
				<div class="collapse" id="ui-basic">
					<ul class="nav flex-column sub-menu">
						<li class="nav-item"><a class="nav-link" href="employee">사원정보 관리</a></li>
						<li class="nav-item"><a class="nav-link" href="common">공통코드 관리</a></li>
						<li class="nav-item"><a class="nav-link" href="bom">BOM 조회</a></li>
						<li class="nav-item"><a class="nav-link" href="bomManage" sec:authorize="hasAnyAuthority('ROLE_ADMIN')">BOM 관리</a></li>
						<li class="nav-item"><a class="nav-link" href="item">품목정보 관리</a></li>
						<li class="nav-item"><a class="nav-link" href="process">공정정보 관리</a></li>
						<li class="nav-item"><a class="nav-link" href="customer">거래처 관리</a></li>
						
					</ul>
				</div>
			</li>
			
			<li class="nav-item">
				<a class="nav-link" data-toggle="collapse" href="#form-elements" aria-expanded="false" aria-controls="form-elements">
					<i class="typcn typcn-film menu-icon"></i>
					<span class="menu-title">영업</span>
					<i class="menu-arrow"></i>
				</a>
				<div class="collapse" id="form-elements">
					<ul class="nav flex-column sub-menu">
						<li class="nav-item">
							<a class="nav-link" href="insertorder">주문서 관리</a>
							<a class="nav-link" href="orderShow">주문서 조회</a>
							<a class="nav-link" href="finished">완제품 입고 관리</a>
							<a class="nav-link" href="finishedShow">완제품 입고 조회</a>
							<a class="nav-link" href="release">출고 관리</a>
							<a class="nav-link" href="releaseShow">출고 조회</a>
							<a class="nav-link" href="return">반품 관리</a>
							<a class="nav-link" href="returnShow">반품 조회</a>
							<a class="nav-link" href="saleShow">판매실적 조회</a>
						</li>
					</ul>
				</div>
			</li>
	
			
			<li class="nav-item">
				<a class="nav-link" data-toggle="collapse" href="#tables" aria-expanded="false" aria-controls="tables">
					 <i class="typcn typcn-th-small-outline menu-icon"></i> 
					 <span class="menu-title">자재</span> <i class="menu-arrow"></i>
				</a>
				<div class="collapse" id="tables">
					<ul class="nav flex-column sub-menu">
						<li class="nav-item">
							<a class="nav-link" href="mrlist">자재 입고</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="mrStoreList">자재 입고 내역</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="mslist">자재 재고</a>
						</li>
						
						<li class="nav-item">
							<a class="nav-link" href="mrOrder">자재 발주</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="mrOrderList">자재 발주 내역</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="mrReturn">자재 반품</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="mrReturnList">자재 반품 내역</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="mrAdjustment">자재 조정 </a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="mrAdjustmentList">자재 조정 내역</a>
						</li>

					</ul>
				</div>
			</li>
			
			<li class="nav-item">
				<a class="nav-link" data-toggle="collapse" href="#icons" aria-expanded="false" aria-controls="icons"> 
					<i class="typcn typcn-compass menu-icon"></i>
					<span class="menu-title">품질</span>
					<i class="menu-arrow"></i>
				</a>
				<div class="collapse" id="icons">
					<ul class="nav flex-column sub-menu">
						<li class="nav-item">
							<a class="nav-link" href="quality">품질검사 예정 목록</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="passQuality">품질검사 합격 목록</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="errQuality">품질검사 불합격 목록</a>
						</li>
					</ul>
				</div>
			</li>
			
			<li class="nav-item">
				<a class="nav-link" data-toggle="collapse" href="#auth" aria-expanded="false" aria-controls="auth">
					<i class="typcn typcn-user-add-outline menu-icon"></i>
					<span class="menu-title">설비</span>
					<i class="menu-arrow"></i>
				</a>
				<div class="collapse" id="auth">
					<ul class="nav flex-column sub-menu">
						<li class="nav-item">
							<a class="nav-link" href="facility"> 설비관리 </a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="downDetail"> 비가동 내역 조회 </a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="downtime"> 비가동 설비 관리 </a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="inspection"> 설비 점검 관리 </a>
						</li>
					</ul>
				</div>
			</li>
			
			
			<li class="nav-item">
				<a class="nav-link" data-toggle="collapse" href="#error" aria-expanded="false" aria-controls="error">
					<i class="typcn typcn-globe-outline menu-icon"></i> 
						<span class="menu-title">생산</span>
						<i class="menu-arrow"></i>
				</a>
				<div class="collapse" id="error">
					<ul class="nav flex-column sub-menu">
						<li class="nav-item">
							<a class="nav-link" href="planManage">생산계획 관리</a>
						</li>					
						<li class="nav-item">
							<a class="nav-link" href="workManage">작업지시 관리</a>
						</li>				
						<li class="nav-item">
							<a class="nav-link" href="performanceManage" target="_blank">생산실적 등록</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="proOutput">공정 이동표 조회</a>
						</li>					
						<li class="nav-item">
							<a class="nav-link" href="monitoring">생산 모니터링</a>
						</li>			
					</ul>
				</div>
			</li>
			
		</ul>
	</nav>
	

</th:block>

</html>

