<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/index}"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>



</head>
<th:block layout:fragment="content">


	<div class="container-fluid page-body-wrapper">

		<div class="col-12 grid-margin stretch-card">
			<div class="card">
				<div class="card-body">
					<h4 class="page-title">완제품 조회</h4>
					

					<!-- <input id="name" type="hidden" th:value="${#authentication.principal.empName}">   -->
				
					<form id="finishedForm">
					<div class="row"></div>
					
					<label>품목명</label><input name="itemName" id="iName" type="text"><button id="iSearch" type="button" class="btn btn-dark">찾기</button>
					<label>입고날짜</label><input name="inDate1" id="inDateStart" type="date">-<input name="inDate2" id="inDateEnd" type="date">
					<button id="sBtn" type="button" class="btn btn-dark">조회</button>
					
					<button id="finReset" type="reset" class="btn btn-dark">초기화</button>
					</form>
					<div id="finGrid"></div>
					
		


				</div>

			</div>
		</div>

	</div>

	
	<div class="modal fade" id="itemModal" tabindex="-1"
		aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="itemModalLabel">품목 찾기</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal"
						aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<input type="text" id="itemInput" name="item">
					<button id="itemSear" type="button" class="btn btn-dark">찾기</button>
					<div id="itemModalGrid"></div>
				</div>
				<div class="modal-footer">

				</div>
			</div>
		</div>
	</div>


	<script>

	const Grid = tui.Grid;
	
	//완제품 조회 그리드
	let finGridData = [{}];
		const finGrid = new Grid({
		  bodyHeight : 400,
	      el: document.getElementById('finGrid'),
	      data: finGridData,
	      pageOptions: { 
              useClient: true,
              perPage:15  
              },
	      scrollX: false,
	      scrollY: false,
	      columns: [
	    	     {
				  header: '주문코드',
				  name: 'ordId',
				  hidden: true
				 },
			     {
				  header: '주문명',
				  name: 'ordName'
				 },
				 {
				  header: '주문날짜',
				  name: 'ordDate'
			     },
			     {
				  header: '거래처코드',
				  name: 'customerId',
				  hidden : true
				 }, 
			     {
			      header: '거래처명',
			      name: 'customerName'
			     },
			     {
				  header: '총금액',
				  name: 'totalPrice'
				 },
			     {
				  header: '담당자',
				  name: 'empName'
				 }
					 
				 
		      ],
		      
		        
		    });

		finGrid.on('check', ev => {
	      console.log('check!', ev);
	    });

		finGrid.on('uncheck', ev => {
	      console.log('uncheck!', ev);
	    });

		finGrid.on('focusChange', ev => {
	      console.log('change focused cell!', ev);
	    });
		
		
		
		
		window.onload = function(){
			
			//주문서 전체 조회
			$.ajax({
				url : "/entOrderList",
				method : "get",
				success : function(result){
					ordGrid.resetData(result);
					ordGrid.refreshLayout();
				}
			})
			
		}
		
		
		$('#searchBtn').on('click', function(){
			
			//주문서 조회
			$.ajax({
				url : "/orderCheck",
				method : "get",
				data : $('#orderForm').serialize(),
				success : function(result){
					ordGrid.resetData(result);
					ordGrid.refreshLayout();
				}
			})
			
		})
		
		ordGrid.on('click', (e)=>{
			
			if(e.columnName == 'ordId'){
				
				
				$('#detModalGrid').modal('show');
				
				var result = ordGrid.getRow(ev.rowKey);
				
				
					$.ajax({
						url : "/detCheck",
						method : "get",
						data : {'result' : result.ordId},
						success : function(result){
							detModalGrid.resetData(result);
							detModalGrid.refreshLsyout();
						}
					})
				
				
				$('#detModalGrid').on('shown.bs.modal', function (e) {
					console.log('open');
					

					
					setTimeout(()=> detModalGrid.refreshLayout(), 1);
	  			}); 
				
			}
			
		})
		
		
		//제품 찾기 모달
		
		const itemModalGrid = new Grid({
            el: document.getElementById('itemModalGrid'),
            scrollX: false,
            scrollY: false,
           pageOptions: { 
             useClient: true,
             perPage: 5 
             },
            columns: [
         	  {
	            header: '품목코드',
	            name: 'orddetailId'
	          },
              {
                header: '품목명',
                name: 'itemCode'
              }
              
            ]
          });

		  itemModalGrid.on('check', ev => {
            console.log('check!', ev);
          });

		  itemModalGrid.on('uncheck', ev => {
            console.log('uncheck!', ev);
          });

		  itemModalGrid.on('focusChange', ev => {
            console.log('change focused cell!', ev);
          });
		  
		  
		  //거래처 찾기 모달
		  
		  const custModalGrid = new Grid({
            el: document.getElementById('custModalGrid'),
            scrollX: false,
            scrollY: false,
           pageOptions: { 
             useClient: true,
             perPage: 5 
             },
            columns: [
         	  {
	            header: '거래처코드',
	            name: 'orddetailId'
	          },
              {
                header: '거래처명',
                name: 'itemCode'
              },
              {
                header: '거래여부',
                name: 'itemName'
              }
            ]
          });

		  custModalGrid.on('check', ev => {
            console.log('check!', ev);
          });

		  custModalGrid.on('uncheck', ev => {
            console.log('uncheck!', ev);
          });

		  custModalGrid.on('focusChange', ev => {
            console.log('change focused cell!', ev);
          });
		  
		  
		  //품목명 찾기
		  $('#itemSearch').on('click', function(){
			  
			  const code = $('#itemInput').val();
			  
	       	   $('#itemInput').val('');
	       	   
	       	   //품목검색
	       	   $.ajax({
	       		   url : "/itemSearch",
	       		   method : "GET",
	       		   data : { code : code},
	       		   success : function(result){
	       			itemModalGrid.resetData(result);
	       			itemModalGrid.refreshLayout();
	       			  
	       		   }
	       		   
	       	   });
		  })
		  
		  //품목 검색 결과
		  itemModalGrid.on('click', (e)=>{
			
			if(e.columnName == 'itemCode'){
				
				
				var iresult = itemModalGrid.getRow(ev.rowKey);
				
				$('#itemModalGrid').modal('hide');

				$('#item').val(iresult);
				
				
	  			}); 
				
			}
			
		})
		  
		  
		  //거래처명 찾기
		  $('#custSearch').on('click', function(){
			  
			  const result = $('#custInput').val();
			  
	       	   $('#custInput').val('');
	       	   
	       	   //거래처 검색
	       	   $.ajax({
	       		   url : "/custList",
	       		   method : "GET",
	       		   data : {'result' : result},
	       		   success : function(result){
	       			custModalGrid.resetData(result);
	       			custModalGrid.refreshLayout();
	       			  
	       		   }
	       		   
	       	   })
		  })
		  
		  
		  //거래처명 검색 결과
		  custModalGrid.on('click', (e)=>{
			
			if(e.columnName == 'customerId'){
				
				
				var cresult = custModalGrid.getRow(ev.rowKey);
				
				$('#custModalGrid').modal('hide');

				$('#cust').val(cresult);
				
				
	  			}); 
				
			}
			
		})
		  

		
		
		
		
		
	
		
		           
		           
		           

		           
		           
		           
	
		  
				

  			

		
  		</script>

</th:block>

</html>