<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/index}"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>



</head>
<th:block layout:fragment="content">


	<div class="container-fluid page-body-wrapper">

		<div class="col-12 grid-margin stretch-card">
			<div class="card">
				<div class="card-body">
				
					<h4 class="page-title">완제품 입고 조회</h4>
					

					<!-- <input id="name" type="hidden" th:value="${#authentication.principal.empName}">   -->
				
					<form id="finishedForm">
					<div class="row"></div>
					
					<input name="itemName" id="iName" type="text">
					<button id="iSearch" type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#iModal">품목 찾기</button>
					<label>입고날짜</label><input name="inDate1" id="inDateStart" type="date">-<input name="inDate2" id="inDateEnd" type="date">
					<button id="sBtn" type="button" class="btn btn-dark">조회</button>
					
					<button id="finReset" type="reset" class="btn btn-dark">초기화</button>
					</form>
					<div id="finGrid"></div>
					
		


				</div>

			</div>
		</div>

	</div>

	
	<div class="modal fade" id="iModal" tabindex="-1"
		aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="iModalLabel">품목 찾기</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal"
						aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<input type="text" id="iInput" name="item">
					<button id="iSear" type="button" class="btn btn-dark">찾기</button>
					<div id="iModalGrid"></div>
				</div>
				<div class="modal-footer">

				</div>
			</div>
		</div>
	</div>


	<script>

	const Grid = tui.Grid;
	
	//완제품 입고 조회 그리드
	let finGridData = [];
		const finGrid = new Grid({
		  bodyHeight : 400,
	      el: document.getElementById('finGrid'),
	      data: finGridData,
	      pageOptions: { 
              useClient: true,
              perPage:15  
              },
	      scrollX: false,
	      scrollY: false,
	      columns: [
	    	     {
	    	      header : '생산실적코드',
	    	      name : 'performanceId',
	    	      hidden : true
	    	     },
	    	     {
				  header: '완제품 lot 번호',
				  name: 'fnLotNo'
				 },
			     {
				  header: '품목명',
				  name: 'itemName'
				 },
				 {
				  header: '입고량',
				  name: 'passItem'
			     },
			     {
				  header: '입고날짜',
				  name: 'fnStoreIn'
				 }, 
			     {
			      header: '담당자',
			      name: 'worker'
			     } 
				 
		      ],
		      
		        
		    });

		finGrid.on('check', ev => {
	      console.log('check!', ev);
	    });

		finGrid.on('uncheck', ev => {
	      console.log('uncheck!', ev);
	    });

		finGrid.on('focusChange', ev => {
	      console.log('change focused cell!', ev);
	    });
		
	
		
		//제품 찾기 모달
		
		const iModalGrid = new Grid({
            el: document.getElementById('iModalGrid'),
            scrollX: false,
            scrollY: false,
           pageOptions: { 
             useClient: true,
             perPage: 5 
             },
            columns: [
         	  {
	            header: '품목코드',
	            name: 'itemCode'
	          },
              {
                header: '품목명',
                name: 'itemName'
              }
              
            ]
          });

		  iModalGrid.on('check', ev => {
            console.log('check!', ev);
          });

		  iModalGrid.on('uncheck', ev => {
            console.log('uncheck!', ev);
          });

		  iModalGrid.on('focusChange', ev => {
            console.log('change focused cell!', ev);
          });
		  
		  
		  window.onload = function(){
			  
			  $('#iModal').on('shown.bs.modal', function (e) {
					console.log('open');
					

					
					setTimeout(()=> iModalGrid.refreshLayout(), 200);
	  			});
			  
			  
			//완제품 입고 전체 조회
			$.ajax({
				url : "/entStoreIn",
				method : "get",
				success : function(result){
					finGrid.resetData(result);
					finGrid.refreshLayout();
				}
			})
			  
		  }
		  
		  
		  $('#sBtn').on('click', function(){
			
			  //완제품 입고 조회
			  $.ajax({
				  url : "/storeIn",
				  method : "get",
				  data : $('#finishedForm').serialize(),
				  success : function(result){
					  finGrid.resetData(result);
					  finGrid.refreshLayout();
				  }
			  })
			  
		  })
		  
		  $('#iSear').on('click', function(){
			
			  var iname = $('#iInput').val();
			  console.log(iname);
			  
			  $('#iInput').val('');
			  
			  //품목 검색
			  $.ajax({
				  url : "/showSearItem",
				  method : "get",
				  data : {itemName : iname},
				  success : function(result){
					  iModalGrid.resetData(result);
					  iModalGrid.refreshLayout();
				  },
				  error : function(reject){
					  console.log(reject);
				  }
			  })
			  
			  
		  })
		  
		  //품목검색결과
		  iModalGrid.on('click', (e)=>{
			  
			if(e.columnName == 'itemName'){
				
				
				var result2 = iModalGrid.getRow(e.rowKey);

				
				$('#iModal').modal('hide');

				$('#iName').val(result2.itemName);
				
				
	  			}; 
				
			}	
		  
			
		)
		  
		  
	
		  
		  
		  
		  
		  
		  
		 

		
		
		
		
		
	
		
		           
		           
		           

		           
		           
		           
	
		  
				

  			

		
  		</script>

</th:block>

</html>