<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layout/index}"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<th:block layout:fragment="content">
	<head>
<link rel="stylesheet" href="https://uicdn.toast.com/tui.date-picker/latest/tui-date-picker.css" />
<script src="https://uicdn.toast.com/tui.date-picker/latest/tui-date-picker.js"></script>
<link rel="stylesheet" href="https://uicdn.toast.com/grid/latest/tui-grid.css" />
<script src="https://uicdn.toast.com/grid/latest/tui-grid.js"></script>
<script src="jquery/jquery-3.6.4.min.js"></script>

	</head>

	<div>
		<table class="customer">
		<tr>
  		<td>거래처</td>
  		<td><input type="text" id="cust" name="cust"></td>
  		</tr>
  		<tr>
  		<td>연락처</td>
  		<td><input type="text" id="tel" name="tel"></td>
  		</tr>
  		<tr>
  		<td>주소</td>
  		<td><input type="text" id="addr" name="addr"></td>
  		</tr>
  		<tr>
  		<td>메일주소</td>
  		<td><input type="email" id="mail" name="mail"></td>
  		</tr>
  		</table>
	</div>
	

	<div id="grid2"></div>
	
	
	<div>
		<form >
			<button id="insertBtn" type="button">등록</button>
		</form>		
	</div>	
	
	
	<script>
	
	$.ajax({
		
	})
	
	const Grid = tui.Grid;
	
		let gridData2 = [{},{},{},{},{},{},{},{}];
		
		const grid2 = new Grid({
	      el: document.getElementById('grid2'),
	      data: gridData2,
	      scrollX: false,
	      scrollY: false,
	      rowHeaders: ['checkbox'],
	      columns: [
	        
		     {
			  header: '주문명',
			  name: 'ordername',
			  editor: 'text'
			 },
			 {
			  header: '품목명',
			  name: 'itemname',
			  editor: 'text'
		     },
		     {
		      header: '주문날짜',
		      name: 'orderdate',
		      editor: 'datePicker'
		     },
		     {
			  header: '납부예정날짜',
			  name: 'outdate',
			  editor: 'datePicker'
			 }, 
		     {
		      header: '단가',
		      name: 'itemprice',
		      editor: 'text'
		     },	
		     {
			  header: '수량',
			  name: 'itemcount',
			  editor: 'text'
			 },
			 {
		      header: '수량가격',
			  name: 'countprice',
			  editor: 'text'
		      }
	      ],
	      summary: {
	          height: 40,
	          position: 'bottom', // or 'top'
	          columnContent: {
	            c2: {
	              template: function(valueMap) {
	                return `MAX: ${valueMap.max}<br>MIN: ${valueMap.min}`;
	              }
	            },
	            countprice: {
	              template: function(valueMap) {
	                return `TOTAL: ${valueMap.sum}`;
	              }
	            }
	          }
	        }
	    });
		
	    grid2.on('check', ev => {
  		      console.log('check!', ev);
  		    });

		    grid2.on('uncheck', ev => {
		      console.log('uncheck!', ev);
		    });
		    
		    grid2.on('focusChange', ev => {
		      console.log('change focused cell!', ev);
		    });
 		
		    
		    

			
 		</script>




</th:block>

</html>