<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layout/index}"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>


</head>
<th:block layout:fragment="content">

	
	
	<div class="container-fluid page-body-wrapper">

		<div class="col-12 grid-margin stretch-card">
			<div class="card">
				<div class="card-body">
					<h4 class="page-title">출고 관리</h4>
					

					<!-- <input id="name" type="hidden" th:value="${#authentication.principal.empName}"> --> 
					<div>
						
									
									<button id="receiptBtn" type="button" class="btn btn-dark"
										data-bs-toggle="modal" data-bs-target="receiptModal">명세서</button>
				
					</div>

					<div class="row"></div>
					
				
					<div id="grid1"></div>
					<button id="moveBtn" type="button" class="btn btn-danger">이동</button>
					<div id="grid2"></div>
					

					<div>
						<form>
							
							<button id="updateBtn" type="button" class="btn btn-dark">수정</button>
							<button id="outBtn" type="button" class="btn btn-dark"
										data-bs-toggle="modal" data-bs-target="outModal">출고</button>
							
						</form>
					</div>


				</div>

			</div>
		</div>

	</div>

	<!-- 모달 -->
	
	<div class="modal fade" id="receiptModal" tabindex="-1"
		aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="receiptModalLabel">명세서</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal"
						aria-label="Close"></button>
				</div>
				<div class="modal-body">
					
					<div id="recmodalGrid"></div>
				</div>
				<div class="modal-footer">
					<button id="print
					Btn" type="button" class="btn btn-dark">인쇄</button>
				</div>
			</div>
		</div>
	</div>
	
	
	
	<div class="modal fade" id="outModal" tabindex="-1"
		aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="outModalLabel">출고 수량 입력</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal"
						aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<input type="text" id="outCount" name="oCount">
					<button id="countBtn" type="button" class="btn btn-dark">확인</button>
					
				</div>
				
			</div>
		</div>
	</div>
	

	<script>
	
	/* const token = $("meta[name='_csrf']").attr("content")
	const header = $("meta[name='_csrf_header']").attr("content") */
	const Grid = tui.Grid;
	
	//상단 그리드 
	let grid1Data = [];
		const grid1 = new Grid({
	      el: document.getElementById('grid1'),
	      data: grid1Data,
	      rowHeaders: ['checkbox'],
	      pageOptions: { 
              useClient: true,
              perPage: 5 
              },
	      scrollX: false,
	      scrollY: false,
	      columns: [
	    	     {
				  header: '품목코드',
				  name: 'itemCode',
				  hidden : true
				 },
				 {
				  header: '거래처코드',
				  name: 'customerId',
				  hidden : true
				 },
	    	     {
				  header: '품목명',
				  name: 'itemName'
				 },
			     
				 {
				  header: '거래처명',
				  name: 'customerName'
			     },
			     {
				  header: '주문날짜',
				  name: 'ordDate'
				 }, 
			     {
			      header: '납부예정날짜',
			      name: 'outDate'
			     },	
			     {
				  header: '총 가격',
				  name: 'eachPrice'
				 },
				 {
				  header: '재고량',
				  name: 'fnCount'
				 },
				 {
				  header: '주문수량',
				  name: 'ordCount'
				 },
				 {
				  header: '담당자',
				  name: 'empName'
				 }
		      ],
		      
		        
		    });

		grid1.on('check', ev => {
	      console.log('check!', ev);
	    });

	    grid1.on('uncheck', ev => {
	      console.log('uncheck!', ev);
	    });

	    grid1.on('focusChange', ev => {
	      console.log('change focused cell!', ev);
	    });
	    
	    
	    //하단 그리드
	    let grid2Data = [];
		const grid2 = new Grid({
	      el: document.getElementById('grid2'),
	      data: grid2Data,
	      rowHeaders: ['checkbox'],
	      pageOptions: { 
              useClient: true,
              perPage: 5 
              },
	      scrollX: false,
	      scrollY: false,
	      columns: [
	    	     {
				  header: '품목명',
				  name: 'itemName'
				 },
			     
				 {
				  header: '거래처명',
				  name: 'customerName'
			     },
			     {
				  header: '주문날짜',
				  name: 'ordDate'
				 }, 
			     {
			      header: '납부예정날짜',
			      name: 'outDate'
			     },	
			     {
				  header: '총 가격',
				  name: 'eachPrice'
				 },
				 {
				  header: '재고량',
				  name: 'fnCount'
				 },
				 {
				  header: '출고량',
				  name: 'fnRelCount',
				  editor: 'text'
				 },
				 {
				  header: '담당자',
				  name: 'empName'
				 }
		      ],
		      
		        
		    });

		grid2.on('check', ev => {
	      console.log('check!', ev);
	    });

	    grid2.on('uncheck', ev => {
	      console.log('uncheck!', ev);
	    });

	    grid2.on('focusChange', ev => {
	      console.log('change focused cell!', ev);
	    });
	    
	    
	    //명세서 모달
	    const recmodalGrid = new Grid({
		               el: document.getElementById('recmodalGrid'),
		 		      rowHeaders: ['checkbox'],
		               scrollX: false,
		               scrollY: false,
		              pageOptions: { 
		                useClient: true,
		                perPage: 5 
		                },
		               columns: [
		            	   {
			                   header: '거래처 코드',
			                   name: 'customerId'
			                 },
		                 {
		                   header: '거래처명',
		                   name: 'customerName'
		                 },
		                 {
		                   header: '연락처',
		                   name: 'custTel'
		                 },
		                 {
		                   header: '주소',
		                   name: 'custAddr'
		                 },              
		                 {
		                   header: '메일주소',
		                   name: 'custMail'
		                 }     
		               ]
		             });

	    			 recmodalGrid.on('check', ev => {
		               console.log('check!', ev);
		             });

	    			 recmodalGrid.on('uncheck', ev => {
		               console.log('uncheck!', ev);
		             });

	    			 recmodalGrid.on('focusChange', ev => {
		               console.log('change focused cell!', ev);
		             });
	    			 
	    			 
	    			 window.onload = function(){
	    				 
	    				 //상단 그리드에 입고완료 품목 리스트
	    				 $.ajax({
	    					 url : "/finishedList",
	    					 method : "get",
	    					 success : function(result){
	    						 grid1.resetData(result);
	    						 grid1.refreshLayout();
	    					 }
	    				 })
	    				 
	    			 }
	

	
		           
		           
		           
		           
		           
		           
		           
	
		  
				

  			

		
  		</script>
	
	

</th:block>

</html>