<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/index}"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<head>
 
  

<style>
	.tui-grid-cell-content {
    	text-align: center;
	}
</style>

</head>

<th:block layout:fragment="content">
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.min.js"></script>
  <script type="text/javascript" src="https://html2canvas.hertzen.com/dist/html2canvas.min.js"></script>
	
 		<div >
 			<div class="col-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                <!-- Body Start -->
                
                  <h4 class="page-title">공정 이동표 조회</h4>
                  
                  <input id="saveOption" type="hidden" name="selectResult" value="insert">
                  <input id="empName" type="hidden" th:value="${#authentication.principal.empName}">
         
				<div class="p-2 row">
				  <div class="col-sm-12">
				    <div class="card">
				      <div class="card-body">
				      <div class="h-auto d-md-flex justify-content-between">
					      <div><h5 class="page-title">작업지시</h5></div>
		                  <div class="m-2 d-grid gap-2 d-md-flex justify-content-md-end">
		                  	<button type="button" id="searchBtn" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#workSearchModal">작업지시 조회</button>
		                  </div>
				      </div>
				      <!-- card-body start -->
				        
	                  <div id="commonGrid"></div>
	                  
	                  
	                  <div id="detailGrid"></div>
				        
					  <!-- card-body end -->
				      </div>
				    </div>
				  </div>
				</div>    

				<div class="p-2 row">
					<div class="col-sm-12">
					 <div class="card">
					  <div class="card-body">
					  <div class="h-auto d-md-flex justify-content-between">
					 	<div><h5 class="page-title">공정 현황</h5></div>
						 <div class="m-2 d-grid gap-2 d-md-flex justify-content-md-end">
							<button type="button" id="proPDFModalBtn" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#proPDFModal">공정 이동표 조회</button>
						</div>
					  </div>
							<!-- card-body start -->
						
							<div id="processInfoGrid"></div>
						
							<!-- card-body end -->
							</div>
						</div>
					</div>
				</div>      
                  
				<!-- Body End -->				            
                </div>
              </div>
            </div>
  		</div>
  		
  		

		
		
		<!-- Modal List Start -->
		

		<!-- 작업지시 조회 모달창 -->
		<div class="modal fade" id="workSearchModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-lg modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title fw-bold text-center fs-4" id="">생산 실적 등록한 작업지시 조회</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<div class="m-2 d-md-flex justify-content-md-center">
						<input type="date" id="startDateOption"></input> <span>&nbsp;~&nbsp;</span><input type="date" id="endDateOption"></input>
						<button id="dateSearch" class="btn btn-success btn-sm">검색</button>
					</div>
					
					<div id="workSearchGrid"></div>
					
				</div>
				<div class="modal-footer">
					<button id="selectWorkBtn" type="button" class="btn btn-primary">작업지시 선택</button>
				</div>
			</div>
			</div>
		</div>
		
		<!-- 작업지시 조회 모달창 -->
		<div class="modal fade" id="proPDFModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-xl modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title fw-bold text-center fs-5">공정이동표 PDF 출력</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
			  		<div id="pdfDiv">
					    <!-- pdf 생성 영역 Start -->
						   
					       <div id="pdf-container">
					            <h1>공정이동표</h1>
					            <br>
					            <div class="m-1 d-grid gap-2 d-md-flex justify-content-md-end">
					            날짜: <input type="text" id="pdf-date">
					            </div>
					
					            <table class="pdf-table"> 
					                <thead> 
					                <tr class="pdf-color-gray">
					                    <th>제품명</th>
					                    <th colspan="2" id="pdf-item-name"></th>
					                    <th>작업지시량</th> 
					                    <th colspan="2" id="pdf-work-amount"></th>
					                </tr> 
					                <tr class="pdf-color-gray">
						                <th>공정명</th>
						                <th>합격량</th>
						                <th>불량량</th>
						                <th>생산량</th>
						                <th>작업자</th>
					                </tr>
					                 
					
					                </thead>
					
					                <tbody> 
					
					                <tr class="pdf-row-0"> 
						                
						                <td></td>
						                <td></td>
						                <td></td>
						                <td></td>
						                <td></td>
					                </tr>
					
					                <tr class="pdf-row-1"> 
					                
					                    <td></td>
					                    <td></td>
					                    <td></td>
					                    <td></td>
					                    <td></td>
					                </tr>
					
					                <tr class="pdf-row-2"> 
					                    <td></td>
					                    
					                    <td></td>
					                    <td></td>
					                    <td></td>
					                    <td></td>
					                </tr>
					                <tr class="pdf-row-3"> 
					                    <td></td>
					                    <td></td>
					                   
					                    <td></td>
					                    <td></td>
					                    <td></td>
					                </tr>
					                <tr class="pdf-row-4"> 
					                    <td></td>
					                    <td></td>
					                 
					                    <td></td>
					                    <td></td>
					                    <td></td>
					                </tr>
					                <tr class="pdf-row-5"> 
					                    <td></td>
					                  
					                    <td></td>
					                    <td></td>
					                    <td></td>
					                    <td></td>
					                </tr>
					                <tr class="pdf-row-6"> 
					                    <td></td> 
					                    <td></td>
					                   
					                    <td></td>
					                    <td></td>
					                    <td></td>
					                </tr>
					                <tr class="pdf-row-7"> 
					                    <td></td>
					                    <td></td>
					                   
					                    <td></td>
					                    <td></td>
					                    <td></td>
					                </tr>
					                <tr class="pdf-row-8"> 
					                    <td></td>
					                    <td></td>
					                   
					                    <td></td>
					                    <td></td>
					                    <td></td>
					                </tr>
					                </tbody>
					            </table>
					
					        </div>
								
					    <!-- pdf 생성 영역 End -->
					</div>		
					
				</div>
				<div class="modal-footer">
					<button id="processPDFBtn" type="button" class="btn btn-primary">PDF 출력</button>
				</div>
			</div>
			</div>
		</div>	

	    <!-- Modal List End -->
  		

  		<script>

  		const Grid = tui.Grid;
  		
  		// 초기화면 데이터 및 설정.
  		window.onload = function(){
  			// 저장 버튼 클릭시 등록, 수정 구분하는 값 input에 넣어준 뒤 숨김.
  			$('#afterSearch').hide();
  			// 담당자(로그인 사원이름) 정보 input에 넣어준 뒤 숨김.
  			$('#empName').hide();
  			let empName = $('#empName').val();  			
  			
  			// 공정 이동표 모달창 : 날짜 input 테두리 안보이게
  			$('#pdf-date').css({'background' : 'transparent', 'border' : 'none'});
  			$('#pdf-date').width( '140px' );
  		   
  		  	// 모달창 열릴 때 레이아웃 깨지지 않게 refreshLayout()
  			// 생산계획 조회 모달창 그리드 refresh

	  	
  		  	// 모달창 그리드 refresh
  		  	$('#workSearchModal').on('shown.bs.modal', function (e) {
  		  		console.log('open');
  		  		setTimeout(() => workSearchGrid.refreshLayout(), 300);
  		  	}); 
  		  	
  		  	
  		  	/* $('#pdfDiv').hide(); */
  		};  		

		
  		
	  	// 작업 지시 공통(초기화면)
		let commonGridData = [{}];
		const commonGrid = new tui.Grid({
			el: document.getElementById('commonGrid'),
			data: commonGridData,
			scrollX: false,
			scrollY: false,
			columns: [
				{
		          header: '계획코드',
		          name: 'planId',
		          hidden: true
		        },
		        {
		          header: '계획명',
		          name: 'planName',
		          hidden: true
		        },
		        {
			      header: '계획날짜',
			      name: 'planDate',
		          hidden: true
			    },		        
		        {
		          header: '지시명',
		          name: 'workName'
		        },
		        {
		          header: '지시날짜',
		          name: 'workDate'
		        },
		        {
		          header: '담당자',
		          name: 'empName'
		        }
		      ]
		    });
		
		 
 
  		    
  		// 생산계획 상세(초기회면)
		let detailGridData = [];
		const detailGrid = new tui.Grid({
		el: document.getElementById('detailGrid'),
		data: detailGridData,
		scrollX: false,
		scrollY: false,
		bodyHeight: 160,
		columns: [
			{
		     	header: '지시 상세코드',
		    	name: 'wdetailId',
		    	hidden: true
		     },
		     {
			   header: '계획 상세코드',
			   name: 'pdetailId',
			   hidden: true
			  },
		     {
		        header: '제품코드',
		        name: 'itemCode',
		        hidden: true
		      },
			  {
			    header: '제품타입',
			    name: 'itemType',
			    hidden: true
			  },
		      {
		        header: '제품명',
		        name: 'itemName'
		      },
		      {
		        header: '지시 시작날짜',
		        name: 'workStart'
		      },
			  {
		        header: '지시 완료날짜',
		        name: 'workEnd'
		      },
		      {
		        header: '지시수량',
		        name: 'workAmount'
		      },
		      {
			    header: '수정 가능 여부',
			    name: 'modifyOption',
			    hidden: true
			   }
		     ]
		   });
		
		
			// 작업지시 세부사항 편집 시 해당 row 자동으로 체크
			detailGrid.on('editingStart', (e) => {detailGrid.check(e.rowKey)});
						

								
			
			// 작업지시 조회 모달창 내용
			let workSearchGridData = [];
			const workSearchGrid = new tui.Grid({
				el: document.getElementById('workSearchGrid'),
				data: workSearchGridData,
				rowHeaders: [{type: 'checkbox', header: " "}],
				scrollX: false,
				scrollY: false,
				pageOptions: { 
					useClient: true,
					perPage: 5 
				},
				columns: [
			        {
			        header: '작업지시코드',
			        name: 'workId',
			        width: 130 
			        },
			        {
					header: '작업지시명',
			        name: 'workName'
			        },
					{
					header: '지시날짜',
					name: 'workDate',
					width: 120 
					},
					{
					header: '담당자',
					name: 'empName',
					width: 100
					}     
				]
			});
			
			
			// 작업지시 조회 결과 하나만 체크할 수 있게 설정.
			workSearchGrid.on('check', function (e) {
				var checkRows = workSearchGrid.getCheckedRowKeys();
				checkRows.forEach(function( key, idx){                      
					if(key != e.rowKey){
						workSearchGrid.uncheck(key);
					}
				});
			});
			
			
			// 작업지시 조회 버튼 -> 작업지시 리스트 초기값 
			//(현재 날짜를 기준으로 일주일동안의 작업지시 조회 - 현재 날짜 포함, 현잰 날짜 전후로 3일)		
			$('#searchBtn').click(function() {
				$.ajax({
					url: "/proMoveWorkModalListAjax",
					method: "GET",
					success: function(result){
						console.log(result);
						workSearchGrid.resetData(result);
						
					},
					error: function(reject){
						console.log(reject);
					}
				})
			});
			

			// 기간 정한 후 검색 ->  기간 내 수립한 작업지시 리스트 조회
			$('#dateSearch').click(function (){
				let startTime = $('#startDateOption').val();
				let endTime = $('#endDateOption').val();
				
				console.log(startTime);
				console.log(endTime);

				$.ajax({
					url : "/proMoveWorkModalResultAjax",
					data : {'startTime' : startTime , 'endTime' : endTime},
					method :"GET",
					success : function(result){
						console.log(result);
						workSearchGrid.resetData(result);
					},
					error : function(reject){
						console.log(reject);
					}
				});	
				
			});
			
			// 작업지시 조회 모달창 : 작업지시 선택 버튼 -> 모달창 닫기 
			// -> 선택한 생산 작업지시 공통 및 세부 내역 조회.
			let workInfo = [];
			var workCode = '';
			$('#selectWorkBtn').click(function () {
				workCode = workSearchGrid.getCheckedRows()[0].workId;
				workInfo = [{
							 workId : workSearchGrid.getCheckedRows()[0].workId,
							 workName : workSearchGrid.getCheckedRows()[0].workName, 
							 workDate : workSearchGrid.getCheckedRows()[0].workEnd, 
							 empName : workSearchGrid.getCheckedRows()[0].empName
							}];
				 console.log('workId = ' + workCode);
				 console.log(workInfo);
				 
				$('#workSearchModal').modal('hide');

				$('#workSearchModal').on('hidden.bs.modal', function (e) {
					 commonGridData= workInfo;
					 commonGrid.resetData(workInfo);
					 
					 $.ajax({
							url : "/workSelectDetailAjax",
							data : {workId : workCode},
							method :"GET",
							success : function(result){
								console.log('result : '+ result);
								detailGrid.resetData(result);
								
								
							},
							error : function(reject){
								console.log(reject);
							}
						});
					 
					 
					 
				 });	 
			});

			
			// 작업지시 상세 리스트 :  제품명 더블클릭 -> 제품의 BOM 및 공정 정보 조회.
			var iCode = '';		// 더블클릭한 제품의 제품코드
			var itemKeyNum = '';		// 더블클릭한 제품의 rowKey
			var wCode = '';
			var iName = '';
			var wDate = '';
			var wName = '';
			detailGrid.on('dblclick', function(e) {

				// 더블클릭 시 row 색 변화
				if(e.rowKey != itemKeyNum){
					detailGrid.removeRowClassName(itemKeyNum, 'cell-color');
				}
				detailGrid.addRowClassName(e.rowKey, 'cell-color');
				// 클릭한 제품의 rowKey 변수에 담아주기.
				itemKeyNum = e.rowKey;
				
				iCode = detailGrid.getRow(e.rowKey).itemCode;
				iName = detailGrid.getRow(e.rowKey).itemName;
				wDate = detailGrid.getRow(e.rowKey).workEnd;
				wCode = detailGrid.getRow(e.rowKey).wdetailId;	
				wAmount = detailGrid.getRow(e.rowKey).workAmount;
					
				// 더블클릭한 제품의 BOM 및 공정정보 조회 ajax
				$.ajax({
					url : "/processCurrInfoAjax", 
					data : {wdetailId : wCode},
					method : "GET",
					async: false,
					success : function(result) {
						//console.log(result);
						processInfoGrid.resetData(result);
					},
					error : function(reject) {
						console.log(reject);
					}
				});	
						
			});			

			// 공정 현황 모달창
			let processInfoGridData = [];
			const processInfoGrid = new tui.Grid({
			  el: document.getElementById('processInfoGrid'),
			  data: processInfoGridData,
			  scrollX: false,
			  scrollY: true,
			  bodyHeight: 200,
			  columns: [
				{
				  header: '지시상세코드',
				  name: 'wdetailId',
				  hidden: true
				},
				{
				  header: '작업지시량',
				  name: 'workAmount',
				  hidden: true
				},					
				{
				  header: '공정순서',
				  name: 'proOrder',
				  hidden: true
				},			
				{
				  header: '공정코드',
				  name: 'proCode',
				  hidden: true
				},
				{
				  header: '공정명',
				  name: 'proName'
				},
				{
				  header: '제품코드',
				  name: 'itemCode',
				  hidden: true
				},
				{
				  header: '제품명',
				  name: 'itemName'
				},
				{
				  header: '생산량',
				  name: 'output'
				},
				{
				  header: '합격량',
				  name: 'passItem'
				},
				{
				  header: '불량량',
				  name: 'failItem'
				},
				{
				  header: '작업자',
				  name: 'worker'
				}				
			  ]
			});
			
			// PDF 모달
			// 공정이동표 양식에 값 넣어주기
			$('#proPDFModalBtn').click(function(){
				
				
				$('#pdf-work-amount').text(wAmount);
				$('#pdf-item-name').text(iName);
				$('#pdf-date').val(wDate);
			 	
				processInfoGrid.getData().forEach((row, idx)=>{
					console.log(idx)
					console.log(row)
					console.log($('.pdf-row-'+idx+' td'))
					let tds = $('.pdf-row-'+idx+' td');
					tds.eq(0).text(row.proName)
					tds.eq(1).text(row.passItem)
					tds.eq(2).text(row.failItem)
					tds.eq(3).text(row.output)
					tds.eq(4).text(row.worker)
				
				})
			})

			// PDF 출력
			$('#processPDFBtn').click(savePDF);
			
			 function savePDF(){
			      //저장 영역 div id
			      html2canvas($('#pdfDiv')[0] ,{	
			        //logging : true,		// 디버그 목적 로그
			        //proxy: "html2canvasproxy.php",
			        allowTaint : true,	// cross-origin allow 
			        useCORS: true,		// CORS 사용한 서버로부터 이미지 로드할 것인지 여부
			        scale : 2			// 기본 96dpi에서 해상도를 두 배로 증가
			        
			      }).then(function(canvas) {	
			        // 캔버스를 이미지로 변환
			        var imgData = canvas.toDataURL('image/png');
			  
			        var imgWidth = 190; // 이미지 가로 길이(mm) / A4 기준 210mm
			        var pageHeight = imgWidth * 1.414;  // 출력 페이지 세로 길이 계산 A4 기준
			        var imgHeight = canvas.height * imgWidth / canvas.width;
			        var heightLeft = imgHeight;
			        var margin = 10; // 출력 페이지 여백설정
			        var doc = new jsPDF('p', 'mm');
			        var position = 0;
			  
			        // 첫 페이지 출력
			        doc.addImage(imgData, 'PNG', margin, position, imgWidth, imgHeight);
			        heightLeft -= pageHeight;
			  
			        // 한 페이지 이상일 경우 루프 돌면서 출력
			        while (heightLeft >= 20) {			// 35
			        position = heightLeft - imgHeight;
			        position = position - 20 ;		// -25
			  
			        doc.addPage();
			        doc.addImage(imgData, 'PNG', margin, position, imgWidth, imgHeight);
			        heightLeft -= pageHeight;
			        }
			  
			        // 파일 저장
			        doc.save('filename.pdf');
			      });
			    }

			
			

			
			
						
  		</script>
    
	</th:block>

</html>