<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
 xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">


<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>PolluxUI Admin</title>
<!-- base:css -->
<link rel="stylesheet" href="/vendors/typicons/typicons.css">
<link rel="stylesheet" href="/vendors/css/vendor.bundle.base.css">
<!-- endinject -->
<!-- plugin css for this page -->
<!-- End plugin css for this page -->
<!-- inject:css -->
<link rel="stylesheet" href="/css/vertical-layout-light/style.css">
<!-- endinject -->
<link rel="shortcut icon" href="/images/favicon.png" />
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css">

<script type="text/javascript" src="https://uicdn.toast.com/tui.pagination/v3.4.0/tui-pagination.js"></script>
<link rel="stylesheet" href="https://uicdn.toast.com/tui.pagination/latest/tui-pagination.css" />
<link rel="stylesheet" href="https://uicdn.toast.com/tui.date-picker/latest/tui-date-picker.css" />
<script src="https://uicdn.toast.com/tui.date-picker/latest/tui-date-picker.js"></script>
<link rel="stylesheet" href="https://uicdn.toast.com/grid/latest/tui-grid.css" />
<script src="https://uicdn.toast.com/grid/latest/tui-grid.js"></script>


<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>


<meta name="_csrf" th:content="${_csrf.token}"/>
<meta name="_csrf_header" th:content="${_csrf.headerName}"/>

</head>
<body>
	<!-- partial -->
	<nav class="navbar-breadcrumb col-xl-12 col-12 d-flex flex-row p-0">
		<div class="navbar-links-wrapper d-flex align-items-stretch">
			<div class="nav-link">
				<a href="javascript:;"><i class="typcn typcn-calendar-outline"></i></a>
			</div>
			<div class="nav-link">
				<a href="javascript:;"><i class="typcn typcn-mail"></i></a>
			</div>
			<div class="nav-link">
				<a href="javascript:;"><i class="typcn typcn-folder"></i></a>
			</div>
			<div class="nav-link">
				<a href="javascript:;"><i class="typcn typcn-document-text"></i></a>
			</div>
		</div>

	</nav>
	
	<div class="container-fluid page-body-wrapper">
 		<div class="col-12 grid-margin stretch-card">
        	<div class="card">
            	<div class="card-body">
                <!-- Body Start -->
                
                  <h4 class="page-title">생산 실적 관리</h4>
                  
                  <input id="afterSearch" type="hidden" name="selectResult" value="insert">
                  <input id="empName" type="hidden" th:value="${#authentication.principal.empName}">




                  
                <!-- Card Content Start --> 
				<div class="p-2 row">
				  <div class="col-sm-12">
				    <div class="card">
				      <div class="card-body">
				      <!-- card-body start -->
				        
	                  <div id="">
	                  	
	                  </div>
	                  
					  	<h5 class="m-2 fw-bold fs-4 card-title">공정</h5>
					      	
					  	<div class="m-2 d-grid gap-2 d-md-flex justify-content-md-end">
					    	<button type="button" id="searchBtn" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#searchModal">조회</button>
					   	</div>
							
						<div id="processGrid"></div>
	                	
						
						<div class="m-4 row"></div>
						
						<h5 class="m-2 fw-bold fs-4 card-title">작업지시</h5>
						<div id=""></div>
	                  
	                  
	                  <div id=""></div>
	                  
					  <!-- 버튼 : 제품 추가 및 삭제 -->
					  <div class="m-1 d-grid gap-2 d-md-flex justify-content-md-start">
				        <button type="button" id="addRow" class="btn btn-warning btn-sm" data-bs-toggle="modal" data-bs-target="#itemSearchModal">추가</button>				
				        <button type="button" id="deleteRow" class="btn btn-secondary btn-sm">삭제</button>
					  </div>
	                  
	                  <div id=""></div>
				        
					  <!-- Card-body end -->
				      </div>
				    </div>
				  </div>
				</div>
				<!-- Card Content End -->      
                 
				<!-- Body End -->
				</div>
			</div>
		</div>
	</div>
	
	
	<script>
	const token = $("meta[name='_csrf']").attr("content")
	const header = $("meta[name='_csrf_header']").attr("content");
	
	// 초기화면 데이터 및 설정.
	window.onload = function(){
		
		
		// 모달창 열릴 때 레이아웃 깨지지 않게 refreshLayout()
		
	}
	
	// 
	let processGridData = [{}];
	const processGrid = new tui.Grid({
		el: document.getElementById('processGrid'),
		data: processGridData,
		scrollX: false,
		scrollY: false,
		columns: [
			{
			  header: '공정코드',
			  name: '공정코드'
			},
			{
			  header: '공정명',
			  name: 'proName'
			}
		]
	})
	
	</script>
	
	

	<!-- base:js -->
	<script src="/vendors/js/vendor.bundle.base.js"></script>
	<!-- endinject -->
	<!-- Plugin js for this page-->
	<script src="/vendors/chart.js/Chart.min.js"></script>
	<!-- End plugin js for this page-->
	<!-- inject:js -->
	<script src="/js/off-canvas.js"></script>
	<script src="/js/hoverable-collapse.js"></script>
	<script src="/js/template.js"></script>
	<script src="/js/settings.js"></script>
	<script src="/js/todolist.js"></script>
	<!-- endinject -->
	<!-- Custom js for this page-->
	<script src="/js/dashboard.js"></script>
	<!-- End custom js for this page-->
</body>

</html>

