<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/index}"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<head>
<meta name="_csrf" th:content="${_csrf.token}"/>
<meta name="_csrf_header" th:content="${_csrf.headerName}"/>
<style>
	.tui-grid-cell-content {
    	text-align: center;
	}
</style>

</head>

<th:block layout:fragment="content">

	
 		<div class="container-fluid page-body-wrapper">
 			<div class="col-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                <!-- Body Start -->
                
                  <h4 class="page-title">작업 지시 관리</h4>
                  
                  <input id="saveOption" type="hidden" name="selectResult" value="insert">
                  <input id="empName" type="hidden" th:value="${#authentication.principal.empName}">
         
				<div class="p-2 row">
				  <div class="col-sm-12">
				    <div class="card">
				      <div class="card-body">
				      <h5 class="page-title">작업지시</h5>
                  <div class="m-2 d-grid gap-2 d-md-flex justify-content-md-end">
                  	<button type="button" id="searchBtn" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#workSearchModal">조회</button>
                  	<button id="saveBtn" class="btn btn-primary">저장</button>
                  	<button id="deleteBtn" class="btn btn-danger">삭제</button>
                  </div>
				      <!-- card-body start -->
				        
	                  <div id="commonGrid"></div>
	                  
						<!-- 버튼 : 제품 추가 및 삭제 -->
						<div class="m-1 d-grid gap-2 d-md-flex justify-content-md-start">
					        <button type="button" id="addRow" class="btn btn-warning btn-sm" data-bs-toggle="modal" data-bs-target="#itemSearchModal">추가</button>				
					        <button type="button" id="deleteRow" class="btn btn-secondary btn-sm">삭제</button>
						</div>
	                  
	                  <div id="detailGrid"></div>
				        
					  <!-- card-body end -->
				      </div>
				    </div>
				  </div>
				</div>    

				<div class="p-2 row">
					<div class="col-sm-12">
					 <div class="card">
					  <div class="card-body">
					 	<h5 class="page-title">BOM 및 공정 정보</h5>
						  <div class="m-2 d-grid gap-2 d-md-flex justify-content-md-end">
							<button type="button" id="searchBtn" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#holdModal">자재 홀드</button>
							</div>
							<!-- card-body start -->
						
							<div id="bomInfoGrid"></div>
						
							<!-- card-body end -->
							</div>
						</div>
					</div>
				</div>      
                  
				<!-- Body End -->				            
                </div>
              </div>
            </div>
  		</div>
  		
		
		
		<!-- Modal List Start -->
		
		<!-- 생산계획 조회 모달창 -->
	    <div class="modal fade" id="planSearchModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	        <div class="modal-dialog modal-dialog-centered">
	        <div class="modal-content">
	            <div class="modal-header">
	            <h5 class="modal-title" id="searchModalLabel">생산계획 조회</h5>
	            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
	            </div>
		            <div class="modal-body">
		            
			            <input type="date" id="plan-st-date"></input> ~ <input type="date" id="plan-end-date"></input>
			            <button id="plan-search-btn" class="m-2 btn btn-success btn-sm">검색</button>
			            <div id="planSearchGrid"></div>
		            
		            </div>
	            <div class="modal-footer">
	            <button id="selectPlanBtn" type="button" class="btn btn-primary">선택</button>
	            </div>
	        </div>
	        </div>
	    </div>
	    
	    <!-- 작업지시 조회 모달창 -->
	    <div class="modal fade" id="" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	        <div class="modal-dialog modal-dialog-centered">
	        <div class="modal-content">
	            <div class="modal-header">
	            	<h5 class="modal-title" id="searchModalLabel">작업지시 조회</h5>
	            	<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
	            </div>
	            <div class="modal-body">
			    	<input type="date" id=""></input> ~ <input type="date" id=""></input>
			    	<button id="" class="m-2 btn btn-success btn-sm">검색</button>
			    	<div id=""></div>
	            </div>
	            <div class="modal-footer">
	            	<button id="" type="button" class="btn btn-primary">선택</button>
	            </div>
	        </div>
	        </div>
	    </div>
	    
		<!-- 제품 조회 모달창 -->
	    <div class="modal fade" id="itemSearchModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	        <div class="modal-dialog modal-dialog-centered">
	        <div class="modal-content">
	            <div class="modal-header">
	            	<h5 class="modal-title" id="">제품 선택</h5>
	            	<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
	            </div>
	            <div class="modal-body">
	            	<input type="text" id="searchItemResult"></input>
	            	<button id="item-search-btn" class="m-2 btn btn-success btn-sm">검색</button>
	            <div id="itemSearchGrid"></div>
	            </div>
	            	<div class="modal-footer">
	            		<button id="selectItemBtn" type="button" class="btn btn-primary">선택</button>
	            	</div>
	        </div>
	        </div>
	    </div>   
	     
		<!-- Hold 모달창 -->
		<div class="modal fade" id="holdModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-lg modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="">Hold 자재</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
		
				<div id="holdSelectGrid"></div>
				
				</div>
					<div class="modal-footer">
						<button id="saveHoldBtn" type="button" class="btn btn-primary">저장</button>
					</div>
			</div>
			</div>
		</div>
		
		<!-- 작업지시 조회 모달창 -->
		<div class="modal fade" id="workSearchModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="">작업지시 조회</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<div class="m-2 d-md-flex justify-content-md-center">
						<input type="date" id="startDateOption"></input> <span>&nbsp;~&nbsp;</span><input type="date" id="endDateOption"></input>
						<button id="dateSearch" class="btn btn-success btn-sm">검색</button>
					</div>
					
					<div id="workSearchGrid"></div>
					
				</div>
				<div class="modal-footer">
					<button id="selectWorkBtn" type="button" class="btn btn-primary">저장</button>
				</div>
			</div>
			</div>
		</div>

	    <!-- Modal List End -->
  		

  		<script>
  		const token = $("meta[name='_csrf']").attr("content")
  		const header = $("meta[name='_csrf_header']").attr("content");
  		const Grid = tui.Grid;
  		
  		// 초기화면 데이터 및 설정.
  		window.onload = function(){
  			// 저장 버튼 클릭시 등록, 수정 구분하는 값 input에 넣어준 뒤 숨김.
  			$('#afterSearch').hide();
  			// 담당자(로그인 사원이름) 정보 input에 넣어준 뒤 숨김.
  			$('#empName').hide();
  			let empName = $('#empName').val();
  			// 그리드 담당자 셀에 담당자 이름 넣어주기.
  			commonGrid.setValue(0, 'empName', empName, false);
  				  
  		  		   
  		  	// 모달창 열릴 때 레이아웃 깨지지 않게 refreshLayout()
  			// 생산계획 조회 모달창 그리드 refresh
  		  	$('#planSearchModal').on('shown.bs.modal', function (e) {
  				console.log('open');
  				setTimeout(()=> planSearchGrid.refreshLayout(), 300);
  		  		});	
  		  	// 제품 검색 모달창 그리드 refresh	
  		  	$('#itemSearchModal').on('shown.bs.modal', function (e) {
  		  		console.log('open');
  		  		setTimeout(() => itemSearchGrid.refreshLayout(), 300);
  		  		});
  		  	// Hold 자재 선택 모달창 그리드 refresh
  		  	$('#holdModal').on('shown.bs.modal', function (e) {
  		  		console.log('open');
  		  		setTimeout(() => holdSelectGrid.refreshLayout(), 300);
  		  		});		  	
  		  	// Hold 자재 선택 모달창 그리드 refresh
  		  	$('#workSearchModal').on('shown.bs.modal', function (e) {
  		  		console.log('open');
  		  		setTimeout(() => workSearchGrid.refreshLayout(), 300);
  		  		}); 
  		  	
  		  	
  		};  		

		
  		
	  	// 작업 지시 공통(초기화면)
		let commonGridData = [{}];
		const commonGrid = new tui.Grid({
			el: document.getElementById('commonGrid'),
			data: commonGridData,
			scrollX: false,
			scrollY: false,
			columns: [
				{
		          header: '계획코드',
		          name: 'planId',
		          hidden: true
		        },
		        {
		          header: '계획명',
		          name: 'planName'
		        },
		        {
			      header: '계획날짜',
			      name: 'planDate',
		          hidden: true
			    },		        
		        {
		          header: '지시명',
		          name: 'workName',
				  editor: 'text'
		        },
		        {
		          header: '지시날짜',
		          name: 'workDate',
		          editor: 'datePicker',
		        },
		        {
		          header: '담당자',
		          name: 'empName'
		        }
		      ]
		    });
		
		  // 생산계획 조회 모달창
        let planSearchGridData = [{}];
        const planSearchGrid = new Grid({
             el: document.getElementById('planSearchGrid'),
             data: planSearchGridData,
             rowHeaders: ['checkbox'],
             scrollX: false,
             scrollY: false,
             pageOptions: { 
             		useClient: true,
              	perPage: 5 
              },
             columns: [
               {
                 header: '생산계획코드',
                 name: 'planId'
               },
               {
                 header: '계획명',
                 name: 'planName'
               },
               {
                 header: '계획날짜',
                 name: 'planDate',
 		         formatter: function (e) {
 		        	 console.log(e.value);
		         	return e.value
                 }
               },              
               {
                 header: '담당자',
                 name: 'empName'
               }     
             ]
           });
		
 
  		    
  		// 생산계획 상세(초기회면)
		let detailGridData = [];
		const detailGrid = new tui.Grid({
		el: document.getElementById('detailGrid'),
		data: detailGridData,
		rowHeaders: ['checkbox'],
		scrollX: false,
		scrollY: false,
		columns: [
			{
		     	header: '지시 상세코드',
		    	name: 'wdetailId',
		    	hidden: true
		     },
		     {
			   header: '계획 상세코드',
			   name: 'pdetailId',
			   hidden: true
			  },
		     {
		        header: '제품코드',
		        name: 'itemCode',
		        hidden: true
		      },
			  {
			    header: '제품타입',
			    name: 'itemType',
			    hidden: true
			  },
		      {
		        header: '제품명',
		        name: 'itemName',
				editot: 'text'
		      },
		      {
		        header: '계획수량',
		        name: 'planAmount'
		      },
		      {
		        header: '지시 시작날짜',
		        name: 'workStart',
				editor: 'datePicker'
		      },
			  {
		        header: '지시 완료날짜',
		        name: 'workEnd',
				editor: 'datePicker'
		      },
		      {
		        header: '지시수량',
		        name: 'workAmount',
				editor: 'text'
		      },
		      {
			    header: 'hold 정보',
			    name: 'insertHold',
			    hidden: true
			   }
		     ]
		   });
		
		
			// 작업지시 세부사항 편집 시 해당 row 자동으로 체크
			detailGrid.on('editingStart', (e) => {detailGrid.check(e.rowKey)});
						
	 		
			// 계획명 셀 더블클릭 -> 생산계획 조회 모달창 띄우기
			commonGrid.on('dblclick', (ev) => {
				
				if(ev.columnName == 'planName') {
					console.log('Modal Open');
					$('#planSearchModal').modal('show');
					
					$('#planSearchModal').on('shown.bs.modal', function (e) {
						$.ajax({
								url : "/modalPlanListAjax",
								method :"GET",
								dataType : "JSON",
								success : function(result){
									console.log(result);
									planSearchGrid.resetData(result);
									},
								error : function(reject){
									console.log(reject);
									}
								});	   
					})
				}
				
			});
			

			// 기간 설정 후 검색 ->  기간 내 수립한 생산계획 리스트 
			$('#plan-search-btn').click(function (){
			let startTime = $('#plan-st-date').val();
			let endTime = $('#plan-end-date').val();

				$.ajax({
					url : "/modalPlanResultAjax",
					data : {'startTime' : startTime , 'endTime' : endTime},
					method :"GET",
					dataType : "JSON",
					success : function(result){
						console.log(result);
						planSearchGrid.resetData(result);
					},
					error : function(reject){
						console.log(reject);
					}
				});	
				
			});

			// 생산계획 조회 모달창 : 결과 하나만 체크할 수 있게 설정.
			planSearchGrid.on('check', function (e) {
				var checkRows = planSearchGrid.getCheckedRowKeys();
				checkRows.forEach(function( key, idx){                      
					if(key != e.rowKey){
						planSearchGrid.uncheck(key);
					}
				});
			});


			// 선택 버튼 -> 모달창 닫기 -> 선택한 생산 계획 및 세부 계획 출력.
			let planInfo = [];
			let planCode = '';
			$('#selectPlanBtn').click(function () {
				planCode = planSearchGrid.getCheckedRows()[0].planId;
				planInfo = [{planId : planSearchGrid.getCheckedRows()[0].planId ,planName : planSearchGrid.getCheckedRows()[0].planName, planDate : planSearchGrid.getCheckedRows()[0].planDate}];
				 console.log('planId = ' + planCode);
				 console.log(planInfo);

				$('#planSearchModal').modal('hide');
				  
				$('#planSearchModal').on('hidden.bs.modal', function (e) {
					 commonGridData = planInfo;
					 commonGrid.resetData(commonGridData);
					 
			  		// 그리드 담당자 셀에 담당자 이름 넣어주기.
					let empName = $('#empName').val(); 
			  		commonGrid.setValue(0, 'empName', empName, false);
					 
					 $.ajax({
							url : "/planSearchResultAjax",
							data : {planId : planCode},
							method :"GET",
							dataType : "JSON",
							success : function(result){
								console.log('result : '+ result);
								detailGrid.resetData(result);
							},
							error : function(reject){
								console.log(reject);
							}
						});	 				 
				 });	
			});	
			
		
			//
			// 제품 검색 모달창
			let itemSearchGridData = [];	 
			const itemSearchGrid = new Grid({
				el: document.getElementById('itemSearchGrid'),
				data: itemSearchGridData,
				rowHeaders: [{type: 'checkbox', header: " "}],
				scrollX: false,
				scrollY: true,
				pageOptions: { 
					useClient: true,
					perPage: 5 
				}, 		    	
				columns: [
				{
				  header: '제품코드',
				  name: 'itemCode'
				 },
				 {
				  header: '제품코드',
				  name: 'itemType'
				 },
				 {
				  header: '제품명',
				  name: 'itemName'
				 }  
			  ]
			});

			// 제품명 검색 결과 하나만 체크할 수 있게 설정.
			itemSearchGrid.on('check', function (e) {
				let checkRows = itemSearchGrid.getCheckedRowKeys();
				checkRows.forEach(function( key, idx){                      
					if(key != e.rowKey){
						itemSearchGrid.uncheck(key);
					}
				});
			});  		    

			// 추가 버튼 -> 제품명 모달창 : 제품명 리스트 초기값 (제품코드 순으로 정렬)
			$('#addRow').click(function (){
				$.ajax({
					url : "/searchItemsListAjax",
					method :"GET",
					dataType : "JSON",
					success : function(result){
						console.log(result);
						itemSearchGrid.resetData(result);
					},
					error : function(reject){
						console.log(reject);
					}
				});		    	
			});

			// 검색 버튼 -> 제품명 키워드로 검색내용 출력.
			let item = '';
			$('#item-search-btn').click(function (){
				item = $('#searchItemResult').val();
				console.log(item);
				
				 $.ajax({
						url : "/searchItemsResultAjax",
						data : {itemName : item},
						method :"GET",
						dataType : "JSON",
						success : function(result){
							console.log('result : '+ result);
							itemSearchGrid.resetData(result);
						},
						error : function(reject){
							console.log(reject);
						}
					});				
			});


			// 선택 버튼 클릭 -> 모달창 닫기, 새로운 행 추가.
			let itemInfo = [];
			$('#selectItemBtn').click(function() {
					itemInfo = [{
								itemCode : itemSearchGrid.getCheckedRows()[0].itemCode , 
								itemName : itemSearchGrid.getCheckedRows()[0].itemName ,
								itemType : itemSearchGrid.getCheckedRows()[0].itemType
								}];
					// 모달창 초기화
					$('#searchItemResult').val('');	 
					itemSearchGridData = [{}];
					itemSearchGrid.resetData(itemSearchGridData);
					
					$('#itemSearchModal').modal('hide');
					
					detailGrid.appendRows(itemInfo);
					
				});

			// 삭제버튼 -> 선택한 row 삭제
			$('#deleteRow').click(function (){
				detailGrid.removeCheckedRows(false);
			});


			// 작업지시 등록.
			// 저장 버튼 클릭 -> 공통 및 세부내용 저장.
			$('#saveBtn').click(function (){
				// 공통사항 edit 종료
				commonGrid.finishEditing();
				// 공통사항 입력된 데이터 확인.
				console.log(commonGrid.getData()[0]);
				
				// 세부사항 edit 종료
				detailGrid.finishEditing();			
				// 세부사항 입력된 데이터 확인.
				console.log(detailGrid.getCheckedRows());
				
				
				if( $('#saveOption').val() == 'insert' ) {
					console.log('등록처리 해야 함.');
					
					// 작업지시 등록 ajax
					$.ajax({
						url: "/workSaveAjax",
						method: "POST",
						data: JSON.stringify( {head : commonGrid.getData()[0], detailList : detailGrid.getCheckedRows()} ),
						contentType: "application/json",
						beforeSend: function(xhr){
							xhr.setRequestHeader(header, token);
						},
						success: function(result) {
							console.log(result);
							// 완료 알림창
							if(result != null){
								alert('작업지시 등록완료!')
							}
							
							// 화면 초기화
							// 공통사항 그리드 초기화
							commonGridData = [{}];
							commonGrid.resetData(commonGridData );
							// 세부사항 그리드 초기화
							detailGridData = [];
							detailGrid.resetData(detailGridData);
							// 공통사항 그리드 :  담당자 셀에 담당자 이름 넣어주기.
							let empName = $('#empName').val(); 
							commonGrid.setValue(0, 'empName', empName, false);
							
						},
						error: function(reject) {
							console.log(reject);
						}
					})
					
				}
				
			})
					
			
			// 작업지시 조회 모달창 내용
			let workSearchGridData = [];
			const workSearchGrid = new tui.Grid({
				el: document.getElementById('workSearchGrid'),
				data: workSearchGridData,
				rowHeaders: [{type: 'checkbox', header: " "}],
				scrollX: false,
				scrollY: false,
				pageOptions: { 
					useClient: true,
					perPage: 5 
				},
				columns: [
			        {
			        header: '작업지시코드',
			        name: 'workId'
			        },
			        {
					header: '작업지시명',
			        name: 'workName'
			        },
					{
					header: '지시날짜',
					name: 'workDate',
					formatter: function (e) {
						return e.value.substr(0,10)
						}         
					},              
					{
					header: '담당자',
					name: 'empName'
					}     
				]
			});
			
			
			// 작업지시 조회 결과 하나만 체크할 수 있게 설정.
			workSearchGrid.on('check', function (e) {
				var checkRows = workSearchGrid.getCheckedRowKeys();
				checkRows.forEach(function( key, idx){                      
					if(key != e.rowKey){
						workSearchGrid.uncheck(key);
					}
				});
			});
			
			
			// 조회 버튼 -> 작업지시 리스트 초기값 (현재 날짜를 기준으로 일주일동안의 작업지시 조회 - 현재 날짜 포함, 현잰 날짜 전후로 3일)
			$('#searchBtn').click(function() {
				$.ajax({
					url: "/modalWorkListAjax",
					method: "GET",
					success: function(result){
						console.log(result);
						workSearchGrid.resetData(result);
					},
					error: function(reject){
						console.log(reject);
					}
				})
			});
			

			// 기간 정한 후 검색 ->  기간 내 수립한 작업지시 리스트 조회
			$('#dateSearch').click(function (){
				let startTime = $('#startDateOption').val();
				let endTime = $('#endDateOption').val();
				
				console.log(startTime);
				console.log(endTime);

				$.ajax({
					url : "/workSearchResultAjax",
					data : {'startTime' : startTime , 'endTime' : endTime},
					method :"GET",
					success : function(result){
						console.log(result);
						workSearchGrid.resetData(result);
					},
					error : function(reject){
						console.log(reject);
					}
				});	
				
			});
			
			// 선택 버튼 -> 모달창 닫기 -> 선택한 생산 작업지시 공통 및 세부 내역 조회.
			let workInfo = [];
			let workCode = '';
			$('#selectWorkBtn').click(function () {
				workCode = workSearchGrid.getCheckedRows()[0].workId;
				workInfo = [{
							 workId : workSearchGrid.getCheckedRows()[0].workId,
							 workName : workSearchGrid.getCheckedRows()[0].workName, 
							 workDate : workSearchGrid.getCheckedRows()[0].workDate, 
							 empName : workSearchGrid.getCheckedRows()[0].empName
							}];
				 console.log('workId = ' + workCode);
				 console.log(workInfo);
				 
				$('#workSearchModal').modal('hide');

				$('#workSearchModal').on('hidden.bs.modal', function (e) {
					 commonGridData= workInfo;
					 commonGrid.resetData(workInfo);
					 
					 $.ajax({
							url : "/workSelectDetailAjax",
							data : {workId : workCode},
							method :"GET",
							success : function(result){
								console.log('result : '+ result);
								detailGrid.resetData(result);
							},
							error : function(reject){
								console.log(reject);
							}
						});
					 
					 $('#saveOption').attr('value', 'modify');
					 detailGrid.hideColumn('planAmount');
					 commonGrid.hideColumn('planName');
				 });	 
			});

			
			// BOM 및 공정 정보
			let bomInfoGridData = [];
			const bomInfoGrid = new tui.Grid({
			  el: document.getElementById('bomInfoGrid'),
			  data: bomInfoGridData,
			  rowHeaders: [{ type: 'checkbox', align: 'left', valign: 'middle' }],
			  scrollX: false,
			  scrollY: true,
			  columns: [
				{
				  header: '제품코드',
				  name: 'itemCode',
				  hidden: true
				},
				{
				  header: '공정코드',
				  name: 'proCode'
				},
				{
				  header: '공정순서',
				  name: 'proOrder'
				},		    
				{
				  header: '자재명',
				  name: 'itemName'
				},
				{
				  header: '소요량',
				  name: 'itemCon',
				  width: 120
				},   
				{
				  header: '필요 자재량',
				  name: 'requiredItem'
				}
			  ]
			});
			
			// 작업지시 상세 리스트 :  제품명 더블클릭 -> 제품의 BOM 및 공정 정보 조회.
			var iCode = '';		// 더블클릭한 제품의 제품코드
			var iType = '';
			var itemKeyNum = '';		// 더블클긱한 제품의 rowKey
			detailGrid.on('dblclick', function(e) {
				
				// wp
				if(e.rowKey != itemKeyNum){
					detailGrid.removeRowClassName(itemKeyNum, 'cell-color');
				}
				detailGrid.addRowClassName(e.rowKey, 'cell-color');
				itemKeyNum = e.rowKey;
				
				if(e.columnName == 'itemName') {
					iCode = detailGrid.getRow(e.rowKey).itemCode;
					iType = detailGrid.getRow(e.rowKey).itemType;
					
					console.log('iCode : ' + iCode);
					console.log('iType : ' + iType);
					console.log('itemKeyNum : '+ itemKeyNum);

					$.ajax({
						url : "/itemBomInfoAjax",
						data : {ingCode : iCode, itemType : iType},
						method : "GET",
						success : function(result) {
							//console.log(result);
							bomInfoGrid.resetData(result);
						},
						error : function(reject) {
							console.log(reject);
						}
					});
				}		
			});


			// Hold 모달창
			let holdSelectGridData = [];
			const holdSelectGrid = new tui.Grid({
			  el: document.getElementById('holdSelectGrid'),
			  data: holdSelectGridData,
			  scrollX: false,
			  scrollY: true,
			  columns: [
				{
				  header: '공정순서',
				  name: 'proOrder',
				  filter: 'select',
				  hidden: true
				},
				{
				  header: '공정코드',
				  name: 'proCode',
				  hidden: true
				},
				{
				  header: '공정명',
				  name: 'proName',
				  hidden: true
				},
				{
				  header: '제품코드',
				  name: 'itemCode',
				  hidden: true
				},
				{
				  header: '제품명',
				  name: 'itemName'
				},
				{
				  header: '자재 LOT',
				  name: 'mrLotNumber'
				},
				{
				  header: '현 재고',
				  name: 'currentCount'
				},
				{
				  header: '필요 자재량',
				  name: 'requiredItem'
				},
				{
				  header: 'Hold 수량',
				  name: 'holdCount'
				}
			  ]
			});
			
  		</script>
    
	</th:block>

</html>