<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/index}"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<head>
<meta name="_csrf" th:content="${_csrf.token}"/>
<meta name="_csrf_header" th:content="${_csrf.headerName}"/>
</head>

<th:block layout:fragment="content">

	
 		<div class="container-fluid page-body-wrapper">
 			<div class="col-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                <!-- Body Start -->
                
                  <h4 class="page-title">작업 지시 관리</h4>
                  
                  <input id="afterSearch" type="hidden" name="selectResult" value="insert">
                  <input id="empName" type="hidden" th:value="${#authentication.principal.empName}">

					<div class="m-2 d-grid gap-2 d-md-flex justify-content-md-end">
		              <button type="button" id="resetBtn" class="btn btn-dark btn-sm">
						<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-counterclockwise" viewBox="0 0 16 16">
						  <path fill-rule="evenodd" d="M8 3a5 5 0 1 1-4.546 2.914.5.5 0 0 0-.908-.417A6 6 0 1 0 8 2v1z"/>
						  <path d="M8 4.466V.534a.25.25 0 0 0-.41-.192L5.23 2.308a.25.25 0 0 0 0 .384l2.36 1.966A.25.25 0 0 0 8 4.466z"/>
						</svg>             
		              </button>
					</div>

                  <div class="m-2 d-grid gap-2 d-md-flex justify-content-md-end">
                  	<button type="button" id="searchBtn" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#searchModal">조회</button>
                  	<button id="saveBtn" class="btn btn-primary">저장</button>
                  	<button id="deleteBtn" class="btn btn-danger">삭제</button>
                  </div>
                  
                  
				<div class="p-2 row">
				  <div class="col-sm-12">
				    <div class="card">
				      <div class="card-body">
				      <!-- card-body start -->
				        
	                  <div id="commonGrid"></div>
	                  
		<!-- 버튼 : 제품 추가 및 삭제 -->
		<div class="m-1 d-grid gap-2 d-md-flex justify-content-md-start">
	        <button type="button" id="addRow" class="btn btn-warning btn-sm" data-bs-toggle="modal" data-bs-target="#itemSearchModal">추가</button>				
	        <button type="button" id="deleteRow" class="btn btn-secondary btn-sm">삭제</button>
		</div>
	                  
	                  <div id="detailGrid"></div>
				        
					  <!-- card-body end -->
				      </div>
				    </div>
				  </div>
				</div>       
                  
				<div class="p-2 row">
				  <div class="col-sm-4">
				    <div class="card">
				      <div class="card-body">
				      <!-- card-body start -->
				        <h5 class="page-title">공정</h5>
				        <div id="processGrid"></div>
					  <!-- card-body end -->
				      </div>
				    </div>
				  </div>
				  <div class="col-sm-8">
				    <div class="card">
				      <div class="card-body">
				      <!-- card-body start -->
				        <h5 class="page-title">홀드 자재</h5>
				        <div id="holdGrid"></div>
				        
					  <!-- card-body end -->
				      </div>
				    </div>
				  </div>
				</div>     
                  
                  
                  
                  
				<!-- Body End -->				            
                </div>
              </div>
            </div>
  		</div>
  		
		
		
		<!-- Modal List Start -->
		
		<!-- 생산계획 조회 모달창 -->
	    <div class="modal fade" id="planSearchModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	        <div class="modal-dialog modal-dialog-centered">
	        <div class="modal-content">
	            <div class="modal-header">
	            <h5 class="modal-title" id="searchModalLabel">생산계획 조회</h5>
	            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
	            </div>
		            <div class="modal-body">
		            
			            <input type="date" id="plan-st-date"></input> ~ <input type="date" id="plan-end-date"></input>
			            <button id="plan-search-btn" class="m-2 btn btn-success btn-sm">검색</button>
			            <div id="planSearchGrid"></div>
		            
		            </div>
	            <div class="modal-footer">
	            <button id="selectPlanBtn" type="button" class="btn btn-primary">선택</button>
	            </div>
	        </div>
	        </div>
	    </div>
	    
	    <!-- 작업지시 조회 모달창 -->
	    <div class="modal fade" id="" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	        <div class="modal-dialog modal-dialog-centered">
	        <div class="modal-content">
	            <div class="modal-header">
	            	<h5 class="modal-title" id="searchModalLabel">작업지시 조회</h5>
	            	<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
	            </div>
	            <div class="modal-body">
			    	<input type="date" id=""></input> ~ <input type="date" id=""></input>
			    	<button id="" class="m-2 btn btn-success btn-sm">검색</button>
			    	<div id=""></div>
	            </div>
	            <div class="modal-footer">
	            	<button id="" type="button" class="btn btn-primary">선택</button>
	            </div>
	        </div>
	        </div>
	    </div>
	    
		<!-- 제품 조회 모달창 -->
	    <div class="modal fade" id="itemSearchModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	        <div class="modal-dialog modal-dialog-centered">
	        <div class="modal-content">
	            <div class="modal-header">
	            	<h5 class="modal-title" id="">제품 선택</h5>
	            	<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
	            </div>
	            <div class="modal-body">
	            	<input type="text" id="searchItemResult"></input>
	            	<button id="item-search-btn" class="m-2 btn btn-success btn-sm">검색</button>
	            <div id="itemSearchGrid"></div>
	            </div>
	            	<div class="modal-footer">
	            		<button id="selectItemBtn" type="button" class="btn btn-primary">선택</button>
	            	</div>
	        </div>
	        </div>
	    </div>    
	    
	    
	    <!-- Modal List End -->
  		

  		<script>
  		
  	    // =============================== 객체 시작
  	    let holdList = {
  	      // Hold 된 LOT별 자재 목록
  	      rowList: [],

  	      // Hold 된 LOT별 자재정보 등록
  	      insertHold: function (head, row) {
  	        row.rowKey = head;
  	        this.rowList.push(row);
  	      },

  	      // LOT별 Hold수량 목록
  	      getLotHoldVal: function () {
  	        let holds = {};
  	        this.rowList.forEach((obj, idx) => {
  	          if (holds[obj.lot] === undefined) {
  	            holds[obj.lot] = Number(obj.val);
  	          } else {
  	            let preVal = holds[obj.lot];
  	            holds[obj.lot] = preVal + Number(obj.val);
  	          }
  	        });

  	        return holds;
  	      },

  	      // 해당 제품(지시제품이 등록된 Grid의 해당 RowKey)의 
  	      // Hold 된 LOT별 자재 목록
  	      getRowData(rowKey){
  	        let dataList = [];
  	        this.rowList.forEach((obj, idx) => {
  	          if(Number(obj.rowKey) == rowKey){
  	            dataList.push(obj);
  	          }
  	        });
  	        return dataList;
  	      },

  	      // 해당 제품(지시제품이 등록된 Grid의 해당 RowKey)의 
  	      // Hold 된 LOT별 자재 목록 삭제
  	      delRowData(rowKey){
  	        let idxList = [];
  	        this.rowList.forEach((obj, idx) => {
  	          if(Number(obj.rowKey) == rowKey){
  	            idxList.push(idx);
  	          }
  	        });

  	        for(let i = idxList.length-1; i > -1; i--){
  	          this.rowList.splice(i, 1);
  	        };
  	      }
  	    };
  	    // =============================== 객체 끝	
  		
  		
  		const token = $("meta[name='_csrf']").attr("content")
  		const header = $("meta[name='_csrf_header']").attr("content");
  		const Grid = tui.Grid;
  		
  		// 초기화면 데이터 및 설정.
  		window.onload = function(){
  			// 저장 버튼 클릭시 등록, 수정 구분하는 값 input에 넣어준 뒤 숨김.
  			$('#afterSearch').hide();
  			// 담당자(로그인 사원이름) 정보 input에 넣어준 뒤 숨김.
  			$('#empName').hide();
  			empName = $('#empName').val();
  			// 그리드 담당자 셀에 담당자 이름 넣어주기.
  			commonGrid.setValue(0, 'empName', empName, false);
  				  
  		  		   
  		  	// 모달창 열릴 때 레이아웃 깨지지 않게 refreshLayout()
  			// 생산계획 조회 모달창 그리드 refresh
  		  	$('#planSearchModal').on('shown.bs.modal', function (e) {
  				console.log('open');
  				setTimeout(()=> planSearchGrid.refreshLayout(), 300);
  		  		})	
  		  	// 제품 검색 모달창 그리드 refresh	
  		  	$('#itemSearchModal').on('shown.bs.modal', function (e) {
  		  		console.log('open');
  		  		setTimeout(() => itemSearchGrid.refreshLayout(), 300);
  		  	})
  		  	
  		};  		

		
  		
	  	// 작업 지시 공통(초기화면)
		let commonGridData = [{}];
		const commonGrid = new tui.Grid({
			el: document.getElementById('commonGrid'),
			data: commonGridData,
			scrollX: false,
			scrollY: false,
			columns: [
				{
		          header: '계획코드',
		          name: 'planId',
		          hidden: true
		        },
		        {
		          header: '계획명',
		          name: 'planName'
		        },
		        {
		          header: '지시명',
		          name: 'workName',
				  editor: 'text'
		        },
		        {
		          header: '지시날짜',
		          name: 'workDate',
				  formatter: function (e) {
					let result = e.value;
					if(result == null) {
						result = e.value;
						return;
					} else {
						result = e.value.substr(0,10);
						return;
					}
				  },
				  editor: 'datePicker'
		        },
		        {
		          header: '담당자',
		          name: 'empName'
		        }
		      ]
		    });
		
		  // 생산계획 조회 모달창
        let planSearchGridData = [{}];
        const planSearchGrid = new Grid({
             el: document.getElementById('planSearchGrid'),
             data: planSearchGridData,
             rowHeaders: ['checkbox'],
             scrollX: false,
             scrollY: false,
             pageOptions: { 
             		useClient: true,
              	perPage: 5 
              },
             columns: [
               {
                 header: '생산계획코드',
                 name: 'planId'
               },
               {
                 header: '계획명',
                 name: 'planName'
               },
               {
                 header: '계획날짜',
                 name: 'planDate',
 		         formatter: function (e) {
 		        	 console.log(e.value);
		         	return e.value
                 }
               },              
               {
                 header: '담당자',
                 name: 'empName'
               }     
             ]
           });
		
  		
		// 계획명 셀 더블클릭 -> 생산계획 조회 모달창 띄우기
		commonGrid.on('dblclick', (ev) => {
			
			if(ev.columnName == 'planName') {
				console.log('Modal Open');
				$('#planSearchModal').modal('show');
				
				$('#planSearchModal').on('shown.bs.modal', function (e) {
					$.ajax({
							url : "/modalPlanListAjax",
							method :"GET",
							dataType : "JSON",
							success : function(result){
								console.log(result);
								planSearchGrid.resetData(result);
								},
							error : function(reject){
								console.log(reject);
								}
							});	   
				})
			}
			
		});
		
		
      	// 기간 설정 후 검색 ->  기간 내 수립한 생산계획 리스트 
		    $('#plan-search-btn').click(function (){
			let startTime = $('#plan-st-date').val();
  		    let endTime = $('#plan-end-date').val();
  		    
  		    console.log(startTime);
  		    console.log(endTime);
		    
				$.ajax({
					url : "/modalPlanResultAjax",
					data : {'startTime' : startTime , 'endTime' : endTime},
					method :"GET",
					dataType : "JSON",
					success : function(result){
						console.log(result);
						planSearchGrid.resetData(result);
					},
					error : function(reject){
						console.log(reject);
					}
				});	
		    	
		  	});
      	
			// 생산계획 조회 결과 하나만 체크할 수 있게 설정.
        	planSearchGrid.on('check', function (e) {
	            var checkRows = planSearchGrid.getCheckedRowKeys();
	            checkRows.forEach(function( key, idx){                      
	                if(key != e.rowKey){
	                	planSearchGrid.uncheck(key);
	                }
	            });
	        });
			
			
          	// 선택 버튼 -> 모달창 닫기 -> 선택한 생산 계획 및 세부 계획 출력.
  		    let planInfo = [];
			let planCode = '';
			$('#selectPlanBtn').click(function () {
				planCode = planSearchGrid.getCheckedRows()[0].planId;
				planInfo = [{planId : planSearchGrid.getCheckedRows()[0].planId ,planName : planSearchGrid.getCheckedRows()[0].planName}];
				 console.log('planId = ' + planCode);
				 console.log(planInfo);
	 
				$('#planSearchModal').modal('hide');
	  			  
				$('#planSearchModal').on('hidden.bs.modal', function (e) {
					 commonGridData = planInfo;
					 commonGrid.resetData(commonGridData);
					 
					 $.ajax({
							url : "/planSearchResultAjax",
							data : {planId : planCode},
							method :"GET",
							dataType : "JSON",
							success : function(result){
								console.log('result : '+ result);
								detailGrid.resetData(result);
							},
		  					error : function(reject){
		  						console.log(reject);
		  					}
						});	 				 
				 });	
			});	
		
  		    
  		// 생산계획 상세(초기회면)
		let detailGridData = [];
		const detailGrid = new tui.Grid({
		el: document.getElementById('detailGrid'),
		data: detailGridData,
		rowHeaders: ['checkbox'],
		scrollX: false,
		scrollY: false,
		columns: [
			{
		     	header: '세부지시 코드',
		    	name: 'wdetailId',
		    	hidden: true
		     },
		     {
		        header: '제품코드',
		        name: 'itemCode',
		        hidden: true
		      },
		      {
		        header: '제품명',
		        name: 'itemName',
				editot: 'text'
		      },
		      {
		        header: '계획수량',
		        name: 'planAmount'
		      },
		      {
		        header: '지시 시작날짜',
		        name: 'workStart',
				formatter: function (e) {
					let result = e.value;
					
					if(result == null) {
						result = e.value;
						return;
					} else {
						result = e.value.substr(0,10);
						return;
					}
				 },
				editor: 'datePicker'
		      },
			  {
		        header: '지시 완료날짜',
		        name: 'workEnd',
				formatter: function (e) {
					let result = e.value;
					if(result == null) {
						result = e.value;
						return;
					} else {
						result = e.value.substr(0,10);
						return;
					}
			  },
				editor: 'datePicker'
		      },
		      {
		        header: '지시수량',
		        name: 'workAmount',
				editor: 'text'
		      },
		      {
			    header: 'hold 정보',
			    name: 'holdInfo',
			    hidden: true
			   }
		     ]
		   });
		
			// 생산계획 조회 결과 하나만 체크할 수 있게 설정.
	    	detailGrid.on('check', function (e) {
	            var checkRows = detailGrid.getCheckedRowKeys();
	            checkRows.forEach(function( key, idx){                      
	                if(key != e.rowKey){
	                	detailGrid.uncheck(key);
	                }
	            });
	        });
  		    	
			
			// 제품 검색 모달창
			let itemSearchGridData = [];	 
  		    const itemSearchGrid = new Grid({
  		    	el: document.getElementById('itemSearchGrid'),
  		     	data: itemSearchGridData,
  		        rowHeaders: [{type: 'checkbox', header: " "}],
  		     	scrollX: false,
  		    	scrollY: true,
                pageOptions: { 
               		useClient: true,
                	perPage: 5 
                }, 		    	
  		    	columns: [
  	  		    {
    	  		  header: '제품코드',
    	  		  name: 'itemCode'
    	  		 },
  		        {
  		          header: '제품명',
  		          name: 'itemName'
  		        }  
  		      ]
  		    });
			
			// 제품명 검색 결과 하나만 체크할 수 있게 설정.
        	itemSearchGrid.on('check', function (e) {
	            var checkRows = itemSearchGrid.getCheckedRowKeys();
	            checkRows.forEach(function( key, idx){                      
	                if(key != e.rowKey){
	                	itemSearchGrid.uncheck(key);
	                }
	            });
	        });  		    
  		    
          	// 추가 버튼 -> 제품명 모달창 : 제품명 리스트 초기값 (제품코드 순으로 정렬)
  		    $('#addRow').click(function (){
				$.ajax({
  					url : "/searchItemsListAjax",
  					method :"GET",
  					dataType : "JSON",
  					success : function(result){
  						console.log(result);
  						itemSearchGrid.resetData(result);
  					},
  					error : function(reject){
  						console.log(reject);
  					}
  				});		    	
  		    });
          	
  			// 검색 버튼 -> 제품명 키워드로 검색내용 출력.
  		    let item = '';
  		    $('#item-search-btn').click(function (){
  		    	item = $('#searchItemResult').val();
				console.log(item);
				
				 $.ajax({
						url : "/searchItemsResultAjax",
						data : {itemName : item},
						method :"GET",
						dataType : "JSON",
						success : function(result){
							console.log('result : '+ result);
							itemSearchGrid.resetData(result);
						},
	  					error : function(reject){
	  						console.log(reject);
	  					}
					});				
  		    });
  		    
  		    
  		    // 선택 버튼 클릭 -> 모달창 닫기, 새로운 행 추가.
  		    let itemInfo = [];
		    $('#selectItemBtn').click(function() {
	  		    	itemInfo = [{itemCode : itemSearchGrid.getCheckedRows()[0].itemCode , itemName : itemSearchGrid.getCheckedRows()[0].itemName}];
	  		    	$('#searchItemResult').val('');	 
	  		    	itemSearchGridData = [{}];
	  		    	itemSearchGrid.resetData(itemSearchGridData);
	  		    	
	  		    	$('#itemSearchModal').modal('hide');
	  		    	
	  		    	detailGrid.appendRows(itemInfo);
	  		    	
	  		    });
		    
			// 삭제버튼 -> 선택한 row 삭제
			$('#deleteRow').click(function (){
				detailGrid.removeCheckedRows(false);
			});
		    
		
			// 공정 정보
			let processGridData = [];
		    const processGrid = new tui.Grid({
		      el: document.getElementById('processGrid'),
		      data: processGridData,
		      scrollX: false,
		      scrollY: true,
		      columns: [
		        {
		          header: '공정순서',
		          name: 'proOrder',
		          filter: 'select'
		        },
		        {
		          header: '공정명',
		          name: 'proName'
		        },
		        {
		          header: '공정코드',
		          name: 'proCode'
		        }
		      ]
		    });			
		    
		    // 공정 정보 그리드 높이 지정.
		    processGrid.setBodyHeight(200);
		    
			// 공정 정보 검색 결과 하나만 체크할 수 있게 설정.
        	processGrid.on('check', function (e) {
	            var checkRows = processGrid.getCheckedRowKeys();
	            checkRows.forEach(function( key, idx){                      
	                if(key != e.rowKey){
	                	processGrid.uncheck(key);
	                }
	            });
	        }); 
			
		    // 더블클릭한 제품의 공정 순서 출력.
		    var iCode = '';
		    let keyNumber = '';
		    detailGrid.on('dblclick', function(e) {

		    	if(e.rowKey != keyNumber){
		    		detailGrid.removeRowClassName(keyNumber, 'cell-color');
		    	}
		    	detailGrid.addRowClassName(e.rowKey, 'cell-color');
		    	keyNumber = e.rowKey;
		    	
		    	if(e.columnName == 'itemName') {
		    	iCode = detailGrid.getRow(e.rowKey).itemCode;
		    	console.log(iCode);
		    	
		    	
		    	$.ajax({
		    		url : "/processInfoAjax",
		    		data : {code : iCode},
		    		method : "GET",
		    		dataTyep : "JSON",
		    		success : function(result) {
		    			console.log(result);
		    			processGrid.resetData(result);
		    		},
		    		error : function(reject) {
		    			console.log(reject);
		    		}
		    	});
		    		
				}
		    	
		    	
		    });
		    

			
			// Hold 자재 정보
			let holdGridData = [];
		    const holdGrid = new tui.Grid({
		      el: document.getElementById('holdGrid'),
		      data: holdGridData,
		      rowHeaders: ['checkbox'],
		      scrollX: false,
		      scrollY: true,
		      columns: [
		        {
		          header: '제품코드',
		          name: 'itemCode',
				  hidden: true
		        },
		        {
		          header: '자재명',
		          name: 'itemName'
		        },
		        {
		          header: '소요량',
		          name: 'itemCon'
		        },   
		        {
		          header: '자재LOT',
		          name: 'mrLotNumber'
		        },
		        {
		          header: '현 재고',
		          name: 'itemCon'
		        },
		        {
		          header: 'Hold 자재 코드',
		          name: 'holdId',
				  hidden: true
		        },		
		        {
		          header: 'Hold 수량',
		          name: 'holdAmount',
				  editor: 'text'
		        },
				{
		          header: 'Hold 상태',
		          name: 'holdStatus',
				  editor: 'text'
		        }
		      ]
		    });
  			
		    
		    // 공정 정보 그리드 높이 지정.
		    holdGrid.setBodyHeight(200);
		    
		    // 더블클릭한 제품의 공정 순서 출력.
		    let pCode = '';
		    let keyNumber2 = '';
		    processGrid.on('dblclick', function(e) {

		    	if(e.rowKey != keyNumber2){
		    		processGrid.removeRowClassName(keyNumber2, 'cell-color');
		    	}
		    	processGrid.addRowClassName(e.rowKey, 'cell-color');
		    	keyNumber2 = e.rowKey;
		    	
		    	if(e.columnName == 'proName') {
		    	pCode = processGrid.getRow(e.rowKey).proCode;
		    	console.log(iCode);
		    	
		    	
		    	$.ajax({
		    		url : "/bomInfoAjax",
		    		data : { itemCode : iCode, proCode : pCode},
		    		method : "get",
		    		success : function(result) {
		    			console.log(result);
		    			holdGrid.resetData(result);
		    		},
		    		error : function(reject) {
		    			console.log(reject);
		    		}
		    	});
		    		
				}
		    	
		    });
	    
		

			
  		</script>
    
	</th:block>

</html>