<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layout/index}"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<link rel="stylesheet"
	href="https://uicdn.toast.com/grid/latest/tui-grid.css" />

<script src="https://uicdn.toast.com/grid/latest/tui-grid.js"></script>
<script src="https://code.jquery.com/jquery-3.6.4.js"></script>

<style>
	#movebtn{
		margin : 0px;
	}
</style>

</head>
<body>

<th:block layout:fragment="content">
	<h3>자재 조회</h3>
	 
	<p>자재 재고 검색 : <input type=text id="mrName"> <button id="search">검색</button></p>
	

	<div id="grid" style="margin-top: 50px;"></div>
	<div id="grid1" style="margin-top: 270px;"></div>
	
	 
   
	

	<script>
	
	
	
	
		
	
	
		$(document).ready(function() {

			$.ajax({
				url : "/mslistAjax",

				method : "GET",
				detaType : "json",

				success : function(result) {
					grid.resetData(result);
					

				}

			})
			var grid = new tui.Grid({
				el : document.getElementById('grid'),
				scollX : false,
				scollY : false,
				
				
				columns : [ {
					header : '자재lot번호',
					name : 'mrLotNumber',
					
				}, {
					header : '품목코드',
					name : 'itemCode'
				}, {
					header : '검사코드',
					name : 'testCode'
				}, {
					header : '입고 날짜',
					name : 'storeDate'
				}, {
					header : '입고 수량',
					name : 'inventory'
				},
				{
					header : '사원 번호',
					name : 'empNo'
				},
				{
					header : '생산실적코드',
					name : 'performanceId'
				}
				
				]
			})
		
		});
		
		
		$('#search').on('click',function(){
			  
			  const result= $("#mrName").val();
			  $('#mrName').val('');
				
			  $.ajax({
					url:"/mrCountAjax",
					method:"GET",
					data:{'result':result},
					dataType:"json",
				
				success : function(result) {
					grid.resetData(result);
					grid.refreshLayout();
					
				}
				
					
		     });
			})
			
			 
		
			
			
		
		
		$(function(){
	    	$('#store').on('shown.bs.modal', function(){
	    		grid.refreshLayout();
	    	})
	    })
	   
	    
	    
	 
	    
	</script>

	
	
	
	
	
	





</th:block>


</body>

</html>