<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/index}"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<link rel="stylesheet"
	href="https://uicdn.toast.com/grid/latest/tui-grid.css" />

<script type="text/javascript" src="https://uicdn.toast.com/tui.pagination/v3.4.0/tui-pagination.js"></script>
<link rel="stylesheet" href="https://uicdn.toast.com/tui.pagination/latest/tui-pagination.css" />

<script src="https://uicdn.toast.com/grid/latest/tui-grid.js"></script>
<script src="https://code.jquery.com/jquery-3.6.4.js"></script>

<style>



#grid .redcolor{
	background-color:#ffe4e4;
}

#grid .yellowcolor{
	background-color:yellow;
}	
</style>

</head>
<body>

<th:block layout:fragment="content">
	
 		<div class="container-fluid page-body-wrapper">

 			<div class="col-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  
					
						
						<div class="p-2 row">
				
				  <div class="col-sm-12">
				    <div class="card">
				      <div class="card-body">
									<h3 style="font-weight:semi-bold; margin-left:600px; margin-bottom:30px;">&ensp;자재 재고 조회</h3>
						<div class="btn-group">
						  
                          	<button type="button" id="allBtn"  class="btn btn-success">전체</button>
							<button type="button" id="halfBtn" class="btn btn-success" style="float:left;">반제품</button>
							<button type="button" id="materialBtn"class="btn btn-success" style="float:left;">자재</button>   
						
						
						
						</div>
		
		<!--  제목 -->		<!-- 검색 버튼 --> 
		
		
		
		
		<!-- 다중 검색 -->														
		<form id="search">
		
  
  
  
 <div class="form-check form-check-inline" style="margin-left:500px;">
     <input class="form-check-input" type="radio" name="itemType" id="alladj" value="">
     <label class="form-check-label" for="alladj" style="margin-left:0px;">전체</label>
   </div>
   <div class="form-check form-check-inline">   
     <input class="form-check-input" type="radio" name="itemType" id="dli" value="자재">
     <label class="form-check-label" for="dli" style="margin-left:0px;">자재</label>
   </div> 
   <div class="form-check form-check-inline">
     <input class="form-check-input" type="radio" name="itemType" id="inv" value="반제품">
     <label class="form-check-label" for="inv" style="margin-left:0px;">반제품</label>
   </div>
  <input type="text" name="itemName" />

   
   
   
  <!-- </select> -->
	
	<button type="button" class="btn btn-dark" id="multi" style="margin-left:20px; padding:3px;">검색</button>		
		</form>														
																
				
				
																
																
			 <!-- 검색 화면  그리드 -->
			 	
				<div id="searchGrid">
					<div id="grid3"></div>
				</div>
			 
			 <!-- 재고 화면 그리드 -->			
						
							
					
					
						<div id="hide">
							<div id="grid" style="margin-top: 20px;"></div>
						</div>
						
						</div>
						</div>
						</div>
						</div>
						
			<div class="p-2 row">
					<div class="col-sm-12">
					 <div class="card">
					  <div class="card-body">			
						
							
						
					 	
						 
						
					<div id="grid44">	
					 <div id="grid4" style="margin-top:20px;"></div>	 
						</div>
						
						
					
					<!-- Modal -->
					
					       
				            
                </div>
              
              </div>
            </div>

  		</div>
  		
		
  		
	</div>
	</div>
	</div>
	</div>
	
	
	
	
	
	<script>
				
	// 재고 아작스
	
	
		
	
		
		
	
		
			
			
		
	
	
	$(document).ready(function(){
		
		$('#searchGrid').css('display', 'none');
		$('#hide2').css('display','none')
		$('#grid44').css('display','none');
		
		
		
			
			$.ajax({
				url : "/mrInventory",
				method : "GET",
				
				success : function(result) {
					
					grid.resetData(result);
					
					
					grid.getData().forEach((ele, index)=>{
						
				
						
						if( Number(ele.total) < Number(ele.saveMaterial)*0.7){
							grid.addCellClassName(index,'itemType','redcolor');
							grid.addCellClassName(index,'itemName','redcolor');
							grid.addCellClassName(index,'itemCode','redcolor');
							grid.addCellClassName(index,'total','redcolor');
							grid.addCellClassName(index,'saveMaterial','redcolor');
						} else if( Number(ele.total)< Number(ele.saveMaterial)*0.5  ){
							grid.addCellClassName(index,'itemType','yellowcolor');
							grid.addCellClassName(index,'itemName','yellowcolor');
							grid.addCellClassName(index,'itemCode','yellowcolor');
							grid.addCellClassName(index,'total','yellowcolor');
							grid.addCellClassName(index,'saveMaterial','yellowcolor');
							
							
						}
							
			

			
			
					
				
					} ) 

					
					grid.on('dblclick',(ev) =>{
		
		let result5= grid.getRow(ev.rowKey);
		console.log(result5.itemName);
		
		
					
			$.ajax({
				url:"/mrLotList",
				method:"GET",
				data:{'itemName' : result5.itemName},
				success: function(result){
					
					grid4.resetData(result);
					$('#grid44').css('display','block');
				},
				
				
				error: function(reject){
					console.log(reject);
				}
				
				
				
				
				
					
					
					
					
				
			
				
				
				
				
			})
					
		})		
				},

				error: function(reject){
					console.log(reject);
				}
				
				
				

			
		});
			
			

			
		
			
			
			
			
			
			
	
	$('#allBtn').on('click',function(){
		
		$.ajax({
			url : "/mrInventory",
			method : "GET",
			success : function(result) {
				
				grid.resetData(result);
				
				
				grid.getData().forEach((ele, index)=>{
					
			
					
					if( Number(ele.total) < Number(ele.saveMaterial)*0.7){
						grid.addCellClassName(index,'itemType','redcolor');
						grid.addCellClassName(index,'itemName','redcolor');
						grid.addCellClassName(index,'itemCode','redcolor');
						grid.addCellClassName(index,'total','redcolor');
						grid.addCellClassName(index,'saveMaterial','redcolor');
					} else if( Number(ele.total)< Number(ele.saveMaterial)*0.5  ){
						grid.addCellClassName(index,'itemType','yellowcolor');
						grid.addCellClassName(index,'itemName','yellowcolor');
						grid.addCellClassName(index,'itemCode','yellowcolor');
						grid.addCellClassName(index,'total','yellowcolor');
						grid.addCellClassName(index,'saveMaterial','yellowcolor');
						
						
					}
						
		

		
		
				
			
				} ) 

			},

			error: function(reject){
				console.log(reject);
			}
			
				
			
		
		
		})
		
		
		
	})		
			
			
			
			
			
			
			
	$('#halfBtn').on('click',function(){
	
 	
		
		$.ajax({
			url :"/mrHalfInventory",
			method : "GET",
			success : function(result) {
							
				
				
				grid.resetData(result);
			
										
				
				
				grid.getData().forEach((ele, index)=>{
					
			
					
					if( Number(ele.total) < Number(ele.saveMaterial)*0.7){
						grid.addCellClassName(index,'itemType','redcolor');
						grid.addCellClassName(index,'itemName','redcolor');
						grid.addCellClassName(index,'itemCode','redcolor');
						grid.addCellClassName(index,'total','redcolor');
						grid.addCellClassName(index,'saveMaterial','redcolor');
					} else if( Number(ele.total)< Number(ele.saveMaterial)*0.5  ){
						grid.addCellClassName(index,'itemType','yellowcolor');
						grid.addCellClassName(index,'itemName','yellowcolor');
						grid.addCellClassName(index,'itemCode','yellowcolor');
						grid.addCellClassName(index,'total','yellowcolor');
						grid.addCellClassName(index,'saveMaterial','yellowcolor');
						
						
					}
						
	
			} ) 

		},

		error: function(reject){
			console.log(reject);
		}
		
	
	})		
	
	
});	
	
	$('#materialBtn').on('click',function(){
		
		$.ajax({
			url :"/mrMatInventory",
			method : "GET",
			success : function(result) {
							
				
				
				grid.resetData(result);
			
										
				
				
				grid.getData().forEach((ele, index)=>{
					
			
					
					if( Number(ele.total) < Number(ele.saveMaterial)*0.7){
						grid.addCellClassName(index,'itemType','redcolor');
						grid.addCellClassName(index,'itemName','redcolor');
						grid.addCellClassName(index,'itemCode','redcolor');
						grid.addCellClassName(index,'total','redcolor');
						grid.addCellClassName(index,'saveMaterial','redcolor');
					} else if( Number(ele.total)< Number(ele.saveMaterial)*0.5  ){
						grid.addCellClassName(index,'itemType','yellowcolor');
						grid.addCellClassName(index,'itemName','yellowcolor');
						grid.addCellClassName(index,'itemCode','yellowcolor');
						grid.addCellClassName(index,'total','yellowcolor');
						grid.addCellClassName(index,'saveMaterial','yellowcolor');
						
						
					}
						
	
			} ) 

		},

		error: function(reject){
			console.log(reject);
		}
		
	
	})		
		
	})
	
	
	
	
	
	
	// 재고 그리드
		
			var grid = new tui.Grid({
				el : document.getElementById('grid'),
				bodyHeight:250,
				scollY : false,
				
				
				columns : [ {
					header : '구분',
					name : 'itemType'
				},
					{
					header : '품목코드',
					name : 'itemCode'
				}, {
					header : '자재명',
					name : 'itemName'
				},
				{
					header : '재고량',
					name : 'total'
				},
				{
					header : '안전재고',
					name : 'saveMaterial'
				}
				
				
				],
				pageOptions: { 
	            	useClient: true,
	               	perPage: 20
	            }
			})
	
	grid.on('dblclick',(ev) =>{
		
		let result5= grid.getRow(ev.rowKey);
		console.log(result5.itemName);
		
		
					
			$.ajax({
				url:"/mrLotList",
				method:"GET",
				data:{'itemName' : result5.itemName},
				success: function(result){
					
					grid4.resetData(result);
					$('#grid44').css('display','block');
				},
				
				
				error: function(reject){
					console.log(reject);
				}
				
				
				
				
				
					
					
					
					
				
			
				
				
				
				
			})
			
			
		
		
		
		
	
	
	

	
	
	
	
	
	
	// 검색 결과 그리드	
		
		
		var grid3 = new tui.Grid({
			el : document.getElementById('grid3'),
			scollX : false,
			scollY : false,
			
			
			columns : [ {
				header : '자재명',
				name : 'itemName',
				
			}, {
				header : '구분',
				name : 'itemType'
			}, {
				header : '재고량',
				name : 'total'
			},
			{
				header : '안전재고',
				name : 'saveMaterial'
			}
			
			
			],
			pageOptions: { 
            	useClient: true,
               	perPage: 4 
            }
			
		})
	
	// 검색 결과 아작스
		
		$('#searchBtn').on('click',function(){
			  
			
				
			  const result1= $("#mrName").val();
			  $('#mrName').val('');
				
			  $.ajax({
					url:"/mrCountAjax",
					method:"GET",
					data:{'result':result1},
					dataType:"json",
				success : function(result) {
					grid.resetData(result);
					grid.refreshLayout();
					
					
	grid.getData().forEach((ele, index)=>{
						
				
						
						if( Number(ele.total) < Number(ele.saveMaterial)*0.7){
							grid.addCellClassName(index,'itemType','redcolor');
							grid.addCellClassName(index,'itemName','redcolor');
							grid.addCellClassName(index,'itemCode','redcolor');
							grid.addCellClassName(index,'total','redcolor');
							grid.addCellClassName(index,'saveMaterial','redcolor');
						} else if( Number(ele.total)< Number(ele.saveMaterial)*0.5  ){
							grid.addCellClassName(index,'itemType','yellowcolor');
							grid.addCellClassName(index,'itemName','yellowcolor');
							grid.addCellClassName(index,'itemCode','yellowcolor');
							grid.addCellClassName(index,'total','yellowcolor');
							grid.addCellClassName(index,'saveMaterial','yellowcolor');
							
							
						}
							
			

			
			
					
				
					} ) 

					
					
				}
				
					
		     });
			})
			
	
	
	
		
		var grid4 = new tui.Grid({
			el : document.getElementById('grid4'),
			scollX : false,
			scollY : false,
			
			
			columns : [ {
				header : '자재lot번호',
				name : 'mrLotNumber',
				
			}, {
				header : '자재명',
				name : 'itemName'
			}, {
				header : '구분',
				name : 'itemType'
			},{
				header : '수량',
				name : 'storeCount'
			},{
				header : '유통기한',
				name : 'expireDate'
			}
			
			
			
			],
			pageOptions: { 
            	useClient: true,
               	perPage: 5 
            }
		})
	
	
		
	$('#multi').on('click',function(){
		
		
		
		$.ajax({
			url:"/multi",
			method:"Get",
			data:$('#search').serialize(),
			success: function(result){
				grid.resetData(result);
				
				grid.getData().forEach((ele, index)=>{
					
					
					
					if( Number(ele.total) < Number(ele.saveMaterial)*0.7){
						grid.addCellClassName(index,'itemType','redcolor');
						grid.addCellClassName(index,'itemName','redcolor');
						grid.addCellClassName(index,'itemCode','redcolor');
						grid.addCellClassName(index,'total','redcolor');
						grid.addCellClassName(index,'saveMaterial','redcolor');
					} else if( Number(ele.total)< Number(ele.saveMaterial)*0.5  ){
						grid.addCellClassName(index,'itemType','yellowcolor');
						grid.addCellClassName(index,'itemName','yellowcolor');
						grid.addCellClassName(index,'itemCode','yellowcolor');
						grid.addCellClassName(index,'total','yellowcolor');
						grid.addCellClassName(index,'saveMaterial','yellowcolor');
						
						
					}
						
		

		
		
				
			
				} ) 
				
				
				
			},
			error: function(reject){
				console.log(reject);
			}
			
		})
	})
	
	
	
	
	
	
	
	
	
	
	$('#all').on('click',function(){
		
		$.ajax({
			url:"/mrLotCount",
			method:"GET",
			success: function(result){
				grid.resetData(result);
			},
			error: function(reject){
				console.log(reject)
			}
		})
	})
	
	
	
	
	
	
			
	// 새로고침 	
		
		$(function(){
	    	$('#store').on('shown.bs.modal', function(){
	    		grid.refreshLayout();
	    		
	    	})
	    });
	
	
	
		})
	})

	</script>

	
	
	


	</th:block>
	</body>
	</html>
	