<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layout/index}"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta name="_csrf" th:content="${_csrf.token}"/>
<meta name="_csrf_header" th:content="${_csrf.headerName}"/>
<link rel="stylesheet"
	href="https://uicdn.toast.com/grid/latest/tui-grid.css" />

<script src="https://uicdn.toast.com/grid/latest/tui-grid.js"></script>
<script src="https://code.jquery.com/jquery-3.6.4.js"></script>

<style>
	
</style>

</head>
<body>



<th:block layout:fragment="content">
	
	<!-- Large modal -->


<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
    
  		    <h4 style="text-align:center; font-weight:bold; margin-top:10px;"> 자재 조정 조회</h4>
  		    <div>
  		    <button type="button" id="adDelBtn" class="btn btn-danger" style="float:right; padding:3px; margin-right:10px;">취소</button> 
  		    </div>
  		    
  		    <hr>
  		    
  		   	<div id="grid3"></div>
  		   	
  		   	 
    </div>
  </div>
</div>
	
	
	
	
	
	
	
	
	
	<!-- 제목 -->
	
	<h3 style="font-weight:bold; text-align:center; margin-bottom:100px;">자재 조정 관리</h3>
	
	<div>
	
	<!-- 조정 등록 버튼 -->
	
	<button type="button" class="btn btn-primary" id="insertBtn" style="float:right; height: 30px; width: 50px; padding: 3px; margin-bottom: 10px; margin-right: 20px; margin-top:10px;">등록</button>
	
	
	</div>
	
	<!-- 조정 될 리스트 -->	
	
	<div id="grid1"></div>
	<div>
	
	
	
	<!-- 출고 버튼 -->
	
	<button type="button" class="btn btn-warning" id="relBtn" style="float:right; height: 30px; width: 50px; padding:3px; margin-right: 20px; margin-top:100px; margin-bottom:10px; color:white">출고</button>
	
	<!-- 입고 버튼 -->
	
	<button type="button" class="btn btn-success" id="storeBtn" style="float:right; height: 30px; width: 50px; padding: 3px; margin-right: 20px; margin-top:100px; margin-bottom:10px;">입고</button>
	
	<button type="button" class="btn btn-info" id="searchDelBtn" data-toggle="modal" data-target=".bd-example-modal-lg" style="float:right;  margin-top:100px; height: 30px; padding: 3px; padding-bottom:4px; color:white; margin-right:20px;">조정 확인 및 삭제</button>
	
	<button type="button" class="btn btn-warning" id="realBtn">직접 등록</button>	
	</div>
	
	<!--  조정 리스트  -->
	
	<div id="grid2" ></div>
	
		
	
	<script>
	
	const token = $("meta[name='_csrf']").attr("content")
	const header = $("meta[name='_csrf_header']").attr("content");
	
	
	
	$(document).ready(function(){
		
	
	// 조정 될 리스트 아작스	
		
		$.ajax({
			url:"/mrAdmAjax",
			method:"GET",
			
			success : function(result){
				grid1.resetData(result);
			},
			error : function(reject){
				
			}
		})
		
	
		
	// 조정 될 그리드
	
			var grid1 = new tui.Grid({
				el : document.getElementById('grid1'),
				scollX : false,
				scollY : false,
				
				rowHeaders: ['checkbox'],
				
				columns : [ {
					header : '품목코드',
					name : 'itemCode'
				}, {
					header : '품목명',
					name : 'itemName'
				}, {
					header : '입고수량',
					name : 'storeCount'
				}, {
					header : '출고수량',
					name : 'totalRel'
				}, {
					header : '자재lot번호',
					name : 'mrLotNumber'
				},
				{
					header : '안전재고',
					name : 'saveMaterial'
				}
				],
				pageOptions: { 
	            	useClient: true,
	               	perPage: 5 
	            }
			})
		
		
		
	// 조정 리스트 아작스
	
	   $.ajax({
				url : "/mrAdjustmentAjax",

				method : "GET",
				success : function(result) {
					grid2.resetData(result);
					grid2.refreshLayout();
					gridInsertRow();
					
				},
				error:function(reject){
					console.log(reject);
				}

			});
		
		
		
	// 조정 리스트 그리드
	
			var grid2 = new tui.Grid({
				el : document.getElementById('grid2'),
				scollX : false,
				scollY : false,
				
				rowHeaders: ['checkbox'],
				
				columns : [ {
					header : '조정코드',
					name : 'adjustmentCode',
					editor:'text'
				}, {
					header : '자재 lot 번호',
					name : 'mrLotNumber',
					editor:'text'
				},{
					header : '품목 코드',
					name : 'itemCode',
					editor:'text'
				},{
					header : '구분',
					name : 'itemType',
					editor:'text'
				},
				{
					header : '품목명',
					name : 'itemName',
					editor:'text'
				}, 
				
				{
					header : '등록일자',
					name : 'registerDate',
					editor:'datePicker'
				}, {
					header : '처리',
					name : 'process',
					editor:'text'
				}, {
					header : '결과',
					name : 'change',
					editor:'text'
				},
				{
					header : '조정일자',
					name : 'adjustmentDate',
					editor:'datePicker'
				},
				{
					header : '사원 번호',
					name : 'empNo',
					editor:'text'
				}
				],
				pageOptions: { 
	            	useClient: true,
	               	perPage: 5 
	            }
			})

	// 조정 등록 
	
			$('#insertBtn').on('click',function(){
				
				
				
				$.ajax({
					url:"/mrAdmInsert",
					contentType:"application/json",
					method:"POST",
					data:JSON.stringify({ list : grid1.getCheckedRows()}),
					beforeSend: function(xhr){
						xhr.setRequestHeader(header, token);
					},
					success: function(result){
					
						 $.ajax({
								url : "/mrAdjustmentAjax",

								method : "GET",
								dataType : "json",

								success : function(result) {
									grid.resetData(result);
									
								},
								error:function(reject){
									console.log(reject);
								}
					
							});
					},
					error:function(reject){
						console.log(reject);
					}
				})
				
			});
			
	
	// 직접 등록
		$('#realBtn').on('click',function(){
			
			
			console.log(grid2.getData()[0].mrLotNumber);
			
			keyword = grid2.getData()[0].mrLotNumber;
			
			$.ajax({
				url:"/mrAdmRealInsert",
				method:"GET",
				data:{ 'keyword' : keyword },
			
				success: function(result){
					
					console.log(result);
					
				},
				
				error: function(reject){
					console.log(reject);
				}
				
				
				
			})
			
		});
	
			
			
	// 입고 
	
		$('#storeBtn').on('click',function(){
			
			
			
			$.ajax({
				url:"/mrAdmIn",
				method:"POST",
				contentType:"application/json",
				data:JSON.stringify({list : grid.getCheckedRows()}),
				beforeSend: function(xhr){
					xhr.setRequestHeader(header, token);
				},
				success: function(result){
					editingFinish();
				},
				error:function(reject){
					
					console.log(reject);
				}
			})
			
			
		})
	
		
	// 출고
	
		$('#relBtn').on('click',function(){
			
			
			$.ajax({
				url:"/mrAdmRel",
				method:"POST",
				contentType:"application/json",
				data:JSON.stringify({list : grid.getCheckedRows()}),
				beforeSend: function(xhr){
					xhr.setRequestHeader(header, token);
				},
				success: function(result){
					
				},
				error:function(reject){
					console.log(reject);
				}
			})
			
			
		})
		
			
		$('#searchDelBtn').on('click',function(){
			
			 $.ajax({
					url : "/mrAdjustmentAjax",

					method : "GET",
					success : function(result) {
						grid3.resetData(result);
						grid3.refreshLayout();
						
					},
					error:function(reject){
						console.log(reject);
					}

				});
		})
		
		
		
		
		
		
		
		var grid3 = new tui.Grid({
				el : document.getElementById('grid3'),
				scollX : false,
				scollY : false,
				
				rowHeaders: ['checkbox'],
				
				columns : [ {
					header : '조정코드',
					name : 'adjustmentCode',
					editor:'text'
				}, {
					header : '자재 lot 번호',
					name : 'mrLotNumber',
					editor:'text'
				},{
					header : '품목 코드',
					name : 'itemCode',
					editor:'text'
				},{
					header : '구분',
					name : 'itemType',
					width:50,
					editor:'text'
				},
				{
					header : '품목명',
					name : 'itemName',
					editor:'text'
					
				}, 
				
				{
					header : '등록일자',
					name : 'registerDate',
					editor:'datePicker'
				}, {
					header : '처리',
					name : 'process',
					editor:'text'
				}, {
					header : '결과',
					name : 'change',
					editor:'text'
				},
				{
					header : '조정일자',
					name : 'adjustmentDate',
					editor:'datePicker'
				},
				{
					header : '사원 번호',
					name : 'empNo',
					editor:'text'
				}
				],
				pageOptions: { 
	            	useClient: true,
	               	perPage: 5 
	            }
			})
		
		
			$('#adDelBtn').on('click',function(){
				
				console.log(grid3.getCheckedRows());
				
				$.ajax({
					url:"/mrAdmDelete",
					method:"POST",
					contentType:"application/json",
					data:JSON.stringify({ list : grid3.getCheckedRows() }),
					beforeSend: function(xhr){
						xhr.setRequestHeader(header, token);
					},
					succss : function(result){
						
					},
					error: function(reject){
						console.log(reject);
					}
					
					
				})
				
			})
	
	
	
	
	
		
			$(function(){
		    	$('#exampleModalLong').on('shown.bs.modal', function(){
		    		grid3.refreshLayout();
		    	})
		    })
		
		
		    function gridInsertRow(){
	            let prevData = grid2.getData();
	            
	            for(let row of prevData){
	               row.rowKey += 1;
	            }
	            prevData.splice(0, 0, {});
	            
	            grid2.resetData(prevData);
	         }
		    
		    
		    
		    
		
		});

	
		</script>


</th:block>


</body>

</html>	