<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layout/index}"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta name="_csrf" th:content="${_csrf.token}"/>
<meta name="_csrf_header" th:content="${_csrf.headerName}"/>
<link rel="stylesheet"
	href="https://uicdn.toast.com/grid/latest/tui-grid.css" />

<script src="https://uicdn.toast.com/grid/latest/tui-grid.js"></script>
<script src="https://code.jquery.com/jquery-3.6.4.js"></script>

<style>
	
</style>

</head>
<body>



<th:block layout:fragment="content">
	
	<h3 style="font-weight:bold; text-align:center; margin-bottom:100px;">자재 조정 관리</h3>
	
	<div>
	<button type="button" class="btn btn-primary" id="insertBtn" style="float:right; height: 30px; width: 50px; padding: 8px; margin-bottom: 10px; margin-right: 20px; margin-top:10px;">등록</button>
	</div>
	<div id="grid1"></div>
	
	<div id="grid" style="margin-top:100px;"></div>
	
	<script>
	
	const token = $("meta[name='_csrf']").attr("content")
		const header = $("meta[name='_csrf_header']").attr("content");
	
	
	
	$(document).ready(function(){
		
		
		$.ajax({
			url:"/mrAdmAjax",
			method:"GET",
			
			success : function(result){
				grid1.resetData(result);
			},
			error : function(reject){
				
			}
		})
		
		
			var grid1 = new tui.Grid({
				el : document.getElementById('grid1'),
				scollX : false,
				scollY : false,
				
				rowHeaders: ['checkbox'],
				
				columns : [ {
					header : '품목코드',
					name : 'itemCode'
				}, {
					header : '품목명',
					name : 'itemName'
				}, {
					header : '입고수량',
					name : 'storeCount'
				}, {
					header : '출고수량',
					name : 'totalRel'
				}, {
					header : '자재lot번호',
					name : 'mrLotNumber'
				},
				{
					header : '안전재고',
					name : 'saveMaterial'
				}
				]
			})
		
		
		
		
		
		
		
		
		
		
		
		
		$('#storeBtn').on('click',function(){
	    	console.log(grid.getCheckedRows()[0].adjustmentCode);
	
	    	$.ajax({
	    		url : "/mrStore",
	    		contentType: "application/json",
				method : "POST",
				data : JSON.stringify({list : grid.getCheckedRows()}),
				dataType : "json",
				beforeSend: function(xhr){
					xhr.setRequestHeader(header, token);
				},
				success : function(result) {
				}
	    	})
			grid.removeCheckedRows(false);

	    	
	    })
		
	
	   $.ajax({
				url : "/mrAdjustmentAjax",

				method : "GET",
				dataType : "json",

				success : function(result) {
					grid.resetData(result);
					
				},
				error:function(reject){
					console.log(reject);
				}

			});

			var grid = new tui.Grid({
				el : document.getElementById('grid'),
				scollX : false,
				scollY : false,
				
				rowHeaders: ['checkbox'],
				
				columns : [ {
					header : '조정코드',
					name : 'adjustmentCode'
				}, {
					header : '자재 lot 번호',
					name : 'mrLotNumber'
				}, {
					header : '등록일자',
					name : 'registerDate'
				}, {
					header : '처리',
					name : 'process'
				}, {
					header : '결과',
					name : 'change'
				},
				{
					header : '조정일자',
					name : 'adjustmentDate'
				},
				{
					header : '사원 번호',
					name : 'empNo'
				}
				]
			})
			
			$('#insertBtn').on('click',function(){
				
				
				$.ajax({
					url:"/mrAdmInsert",
					contentType:"application/json",
					method:"POST",
					data:JSON.stringify({list : grid1.getCheckedRows()}),
					beforeSend: function(xhr){
						xhr.setRequestHeader(header, token);
					},
					success: function(result){
						
					},
					error:function(reject){
						console.log(reject);
					}
				})
				
			})
			
			
			
			
		});

	
		</script>


</th:block>


</body>

</html>	