
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/index}"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta name="_csrf" th:content="${_csrf.token}"/>
<meta name="_csrf_header" th:content="${_csrf.headerName}"/>
<link rel="stylesheet"
	href="https://uicdn.toast.com/grid/latest/tui-grid.css" />


<script type="text/javascript" src="https://uicdn.toast.com/tui.pagination/v3.4.0/tui-pagination.js"></script>
<link rel="stylesheet" href="https://uicdn.toast.com/tui.pagination/latest/tui-pagination.css" />

<script src="https://uicdn.toast.com/grid/latest/tui-grid.js"></script>
<script src="https://code.jquery.com/jquery-3.6.4.js"></script>

<style>

</style>
</head>
<body>

	<th:block layout:fragment="content">
		<h3 style="font-weight: bold;">&ensp;자재 발주</h3>
	<div style="display:flex;">
		<div style="float:left;">
			<label for="cusId" style=" margin-left:20px; font-weight:bold;">거래처 코드</label><br>
			  <input type=text id="cusId" style="width:180px; margin-left:20px;">
				</div> 
		<div style="float:left;">	
		<label for="cusName" style=" margin-left:100px; font-weight:bold; margin-bottom:5px;">거래처 &ensp;</label><br>  
	   <input type=text id="cusName" style="width:180px; margin-left:100px; margin-bottom:5px;">       
	   
	   </div>
	    <button type="button" id="checkBtn" class="btn btn-primary"
				data-toggle="modal" data-target=".bd-example-modal-lg"
				data-bs-target="#searchModal"
				style="height: 60px; width: 120px; padding: 10px; margin-top:3px; margin-bottom: 10px; background-color:green; margin-left:120px;"> 거래처 및 자재 <br> 찾기</button>
	   
	</div>

 

	 <div style="display:flex;">
		<div style="float:left;">
		<label for="proId" style=" margin-left:20px; margin-top:20px;font-weight:bold;">품목 코드 &ensp;</label><br>
	    <input type=text id="proId" style="width:180px; margin-left:20px;">	
		</div>
		<div style="float:left;">
		 <label for="proName" style=" margin-left:100px; margin-top:20px;font-weight:bold;">품목 &ensp;</label><br>	 
		 <input type=text id="proName" style="width:180px; margin-left:100px;">
		 </div> 
	</div>
		
		
		<div style="display:flex;">	
			<div style="float:left;">
		<label for="proPrice" style=" margin-left:20px; margin-top:20px;font-weight:bold;" >가격 &ensp;</label><br>
			 <input type=text id="proPrice" style="width:180px; margin-left:20px;" >	
			</div>
			<div style="float:left;">
			<label for="count" style=" margin-left:100px; margin-top:20px;font-weight:bold;" >수량 &ensp;</label><br>
			 <input type=text id="count" style="width:180px; margin-left:100px;" >
			</div>
			
			<div style="float:left;">
			<label for="delivery" style=" margin-left:100px; margin-top:20px;font-weight:bold;">납품일 &ensp;</label><br>
			 <input type=date id="delivery" style="width:180px; margin-left:100px" >
			</div> 
		</div>	
			
		
		
	<!-- Large modal -->


		<div class="modal fade bd-example-modal-lg" id="store" tabindex="-1"
			role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">

			<div class="modal-dialog modal-sm">

				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title" id="exampleModalLabel"
							style="font-weight: bold; margin-left:70px;">거래처 및 자재 찾기</h4>

						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>

					</div>
					<div>
						<h6 style="font-weight: bold; text-align: center;">
							거래처명 :<input type=text id="searchcode"
								style="margin-left: 15px; padding: 1px; width:130Px; ">
							<button type="button" class="btn btn-dark" id="searchBtn"
								style="padding: 8px; margin-left:10px;">검색</button>
						</h6>
					</div>
					<div id="grid"></div>
					<div>
						<button type="button" id="chooseBtn" class="btn btn-dark" data-dismiss="modal"
							style="width: 50px; height: 30px; margin-left:130px; padding: 8px;">선택</button>
					</div>
				</div>

			</div>
		</div>
	<div style="width:200px; margin-left:1540px;">
		<button type="button" id="insertBtn" class="btn btn-dark"style="height: 30px; width: 50px; padding: 8px;">등록</button>
		<button type="button" id="deleteBtn" class="btn btn-dark" style="height: 30px; width: 50px; padding: 8px;">삭제</button>
		
		</div>
		<div id="grid1" style="margin-top:5px;"></div>
		<button type="button" id="orderBtn" class="btn btn-success" style="width: 100px; height: 30px; padding: 8px;  margin-top:5px; margin-left:1550px;">발주</button>
		
		<script>
		const token = $("meta[name='_csrf']").attr("content")
  		const header = $("meta[name='_csrf_header']").attr("content");
		$(document).ready(function() {
			
			$('#checkBtn').on('click',function(){
			
				$('#cusId').val('');
				 $('#cusName').val('');
				 $('#proId').val('');
				 $('#proName').val('');
				 $('#proPrice').val('');	
				 $('#count').val('');
				 $('#delivery').val('');
			
			$('#deleteBtn').on('click',function(){
				grid1.removeCheckedRows(false);
			})	 
				 
				 
			$.ajax({
				url:"/mrCustomerAjax",
				method:"GET",
				dataType : "json",
				
				success: function(result){
					grid.resetData(result);
					
				}
				
				
			});
		
			});
			
			
			
			$('#searchBtn').on('click',function(){
				  
				  const result= $("#searchcode").val();
				  $('#searchcode').val('');
					
				  $.ajax({
						url:"/searchCustomerAjax",
						method:"GET",
						data:{'result':result},
						dataType:"json",
					
					success : function(result) {
						grid.resetData(result);
						grid.refreshLayout();
						console.log(result);
					}
					
						
			     });
				  
				 
	 
				 }) 		
			
				 $('#chooseBtn').on('click',function(){
					 
					 $('#cusId').val(grid.getCheckedRows()[0].customerId);
					 $('#cusName').val(grid.getCheckedRows()[0].customerName);
					 $('#proId').val(grid.getCheckedRows()[0].itemCode);
					 $('#proName').val(grid.getCheckedRows()[0].itemName);
					 $('#proPrice').val(grid.getCheckedRows()[0].itemPrice);
					 
					 
					 $.ajax({
							url : "/mrCustomerAjax",
							method : "GET",
							dataType : "json",
							success : function(result) {
								grid.resetData(result);
							}

						});
					})
			
				$('#insertBtn').on('click',function(){
					
					let order = {
							customerId : $('#cusId').val(),
							customerName : $('#cusName').val(),
							itemCode : $('#proId').val(),
							itemName : $('#proName').val(),
							itemPrice : $('#proPrice').val(),
							mrCount: $('#count').val(),
							deliveryDate: $('#delivery').val()};
					
						grid1.appendRow(order);
							
				
					
				})
			
				$('#orderBtn').on('click',function(){
					
					$('#cusId').val('');
					 $('#cusName').val('');
					 $('#proId').val('');
					 $('#proName').val('');
					 $('#proPrice').val('');	
					 $('#count').val('');
					 $('#delivery').val('');
					
					
					console.log(grid1.getCheckedRows());
					$.ajax({
						url : "/Orders",
						contentType : "application/json",
						method : "post",
						data : JSON.stringify({ list : grid1.getCheckedRows()}),
						dataType: "json",
						beforeSend: function(xhr){
							xhr.setRequestHeader(header, token);
						},
						success : function(result){
							
						}
					})
					grid1.removeCheckedRows(false);
				})	
		
		
			var grid = new tui.Grid({
				el : document.getElementById('grid'),

				scrollX : false,
				scrollY : false,
				rowHeaders: ['checkbox'],
				columns : [ {
					header : '코드(거)',
					name : 'customerId'
				}, {
					header : '거래처',
					name : 'customerName'
				}, {
					header : '코드(품)',
					name : 'itemCode'
				},  
					{
					header : '자재',
					name : 'itemName'
				},
					{
					header : '가격',
					name : 'itemPrice'
				}
				
				],
				pageOptions: { 
	            	useClient: true,
	               	perPage: 5 
	            }
				
			});
			
			
			
			
			const grid1 = new tui.Grid({
				el : document.getElementById('grid1'),

				scrollX : false,
				scrollY : false,
				rowHeaders: ['checkbox'],
				columns : [ {
					header : '거래처 코드',
					name : 'customerId'
				},{
					header : '거래처',
					name : 'customerName'
				},
				{
					header : '품목 코드',
					name : 'itemCode'
				},
				
				{
					header : '품목',
					name : 'itemName'
				},{
					header : '가격',
					name : 'itemPrice'
				},
				{
					header : '수량',
					name : 'mrCount'
				}, {
					header : '납품일',
					name : 'deliveryDate'
					
				} ],
				pageOptions: { 
	            	useClient: true,
	               	perPage: 5 
	            }
			});
			
			
			
			
			

			$(function(){
	    	$('#store').on('shown.bs.modal', function(){
	    		grid.refreshLayout();
	    	})
	    })

		})
			
		
		
		
		
		
		</script>

	
		





	</th:block>





</body>
</html>