<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layout/index}"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<link rel="stylesheet"
	href="https://uicdn.toast.com/grid/latest/tui-grid.css" />

<script type="text/javascript" src="https://uicdn.toast.com/tui.pagination/v3.4.0/tui-pagination.js"></script>
<link rel="stylesheet" href="https://uicdn.toast.com/tui.pagination/latest/tui-pagination.css" />

<script src="https://uicdn.toast.com/grid/latest/tui-grid.js"></script>
<script src="https://code.jquery.com/jquery-3.6.4.js"></script>

<style>
	
</style>

</head>
<body>

<th:block layout:fragment="content">
	
 		<div class="container-fluid page-body-wrapper">

 			<div class="col-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  
					<h3 style="font-weight:bold; margin-left:700px;">&ensp;자재 재고 조회</h3>
						
						<div class="btn-group">
						   <!-- Button trigger modal -->
						<button type="button" class="btn btn-success" data-toggle="modal" data-target="#exampleModal">
						  버튼
						</button>
						</div>
						 
						<h5 style="font-weight:bold; margin-top:30px; margin-left:500px;">&ensp;자재 재고 검색 &emsp;:&emsp; <input type=text id="mrName"> <button type="button" class="btn btn-dark" id="searchBtn"
													style="padding: 8px; margin-left: 15px;">검색</button></h5>
						
						<div id="searchGrid">
							<div id="grid3"></div>
						</div>
						<div id="hide">
							<div id="grid" style="margin-top: 20px;"></div>
						</div>
						<div id="grid1" style="margin-top: 270px;"></div>
						
					
					<!-- Modal -->
					<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
					  <div class="modal-dialog" role="document">
					    <div class="modal-content">
					      <div class="modal-header">
					        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
					        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
					          <span aria-hidden="true">&times;</span>
					        </button>
					      </div>
					      <div class="modal-body">
					        ...
					      </div>
					      <div class="modal-footer">
					        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
					        <button type="button" class="btn btn-primary">Save changes</button>
					      </div>
					    </div>
					  </div>
					</div>             
				            
                </div>
              
              </div>
            </div>

  		</div>
  		
		
  		
	
	
	
	
	
	<script>
	
	
	
	
		
	
	
		$(document).ready(function() {
			$('#searchGrid').css('display', 'none');
			$.ajax({
				url : "/mrCount",

				method : "GET",
				detaType : "json",

				success : function(result) {
					grid.resetData(result);
					

				}

			})
			var grid = new tui.Grid({
				el : document.getElementById('grid'),
				scollX : false,
				scollY : false,
				
				
				columns : [ {
					header : '구분',
					name : 'itemType'
				},
					{
					header : '품목코드',
					name : 'itemCode'
				}, {
					header : '자재명',
					name : 'itemName'
				},
				{
					header : '재고량',
					name : 'total'
				},
				{
					header : '안전재고',
					name : 'saveMaterial'
				}
				
				
				],
				pageOptions: { 
	            	useClient: true,
	               	perPage: 5 
	            }
			})
		
		});
		
		
		var grid3 = new tui.Grid({
			el : document.getElementById('grid3'),
			scollX : false,
			scollY : false,
			
			
			columns : [ {
				header : '자재명',
				name : 'itemName',
				
			}, {
				header : '구분',
				name : 'itemType'
			}, {
				header : '재고량',
				name : 'total'
			}
			
			]
		})
	
	
		
		
		
		
		$('#searchBtn').on('click',function(){
			  
			$('#hide').css('display', 'none');
			$('#searchGrid').css('display', 'block');
				
			  const result1= $("#mrName").val();
			  $('#mrName').val('');
				
			  $.ajax({
					url:"/mrCountAjax",
					method:"GET",
					data:{'result':result1},
					dataType:"json",
				success : function(result) {
					grid3.resetData(result);
					grid3.refreshLayout();
					
				}
				
					
		     });
			})
			
			 
		
			
			
		
		
		$(function(){
	    	$('#store').on('shown.bs.modal', function(){
	    		grid.refreshLayout();
	    	})
	    })
	   
	    
	    
	 
	    
	</script>

	
	
	
	
	
	





</th:block>


</body>

</html>