<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/index}"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>

	
	


<style>
	
.tui-grid-cell-content {
            text-align: center;
        }	
	
</style>

</head>
<body>





<th:block layout:fragment="content">
<div class="container-fluid page-body-wrapper">
 			<div class="col-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
	
	<div style="">
	<h3 style="font-weight:semi-bold;  text-align:center; margin-top:30px; font-size:30px; margin-bottom:70px;">자재 발주 내역</h3>
	</div>
	
	<div style="">
		<form action="#" >
		
  <label for="customer" style="margin-left:270px;" >거래처</label>
 	<input type="text" id="customer" name="customer" style="margin-left:15px;" >
 
  <label for="material" style="margin-left:15px;">자재명</label>
	<input type="text" id="material" name="material" style="margin-left:15px;" >

  
  <label for="mrOrderDate" style="margin-left:15px; margin-right:15px;">발주일</label>
  <input type="date" style="margin-right:10px;" id="mrOrderDate1" name="mrOrderDate1">~
  <input type="date" style="margin-left:10px; margin-right:10px;" id="mrOrderDate2" name="mrOrderDate2">
  
  <button type="button" id="searchQuery" class="btn btn-dark" style="margin-left:20px; padding:4px;">검색</button>
  <button type="button" id="customerBtn" class="btn btn-dark"  data-bs-toggle="modal" data-bs-target="#exampleModal1"
				 style="margin-left:20px; padding:4px;">거래처 검색</button>
	
	</form>
	</div>
	
	
	






<!-- Large modal -->

<div class="modal fade bd-example-modal-lg" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
     
  <!-- 발주 상세 모달 -->
         <h3 style="text-align:center; font-weight:bold; margin-bottom:30px;">상세 내역</h3>
      <div id="grid2"></div>
    </div>
  </div>
</div>
	
	
  <div class="modal fade bd-example-modal-lg1" id="exampleModal1" tabindex="-1"
			role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">

			<div class="modal-dialog modal-sm-6">

				<div class="modal-content">
					<div class="modal-header">
					
				<!-- 모달 제목 -->
					
						<h4 class="modal-title" id="exampleModalLabel"
							style="font-weight: bold; margin-left:120px;">거래처 및 자재 찾기</h4>

						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>

					</div>
					<div>
					
					<!-- 모달 검색 창 -->	
					
						<h6 style="font-weight: bold; text-align: center;">
												
							거래처명 :<input type=text id="searchcode" class="input"
								style="margin-left: 15px; padding: 1px; width:130Px; ">
						
					<!-- 모달 검색 버튼 -->	
							
							<button type="button" class="btn btn-dark" id="searchBtn"
								style="padding: 8px; margin-left:10px; padding:5px;">검색</button>
						</h6>
					</div>
					
				<!-- 검색 그리드 -->
					
					<div id="grid3"></div>
					
				<!-- 선택 버튼 -->	
				
					<div>
						<button type="button" id="chooseBtn" class="btn btn-secondary" data-dismiss="modal"
							style="width: 50px; height: 35px; margin-left:230px; padding: 5px;">선택</button>
					</div>
				</div>

			</div>
		</div>                  
   
	
	
	
	
 <!-- 발주 메인 -->	
	
	<div id="grid1" style="margin-top:50px;"></div>
	
	</div>
	</div>
	</div>
	</div>
	
	<script>
	
	$(document).ready(function(){
		

// 발주 리스트	


	$.ajax({
				url : "/mrOrderListAjax",

				method : "GET",
				dataType : "json",

				success : function(result) {
					grid1.resetData(result);
					setTimeout(()=> grid1.refreshLayout(),100);
					
				},
				error:function(reject){
					console.log(reject);
				}

			});

			var grid1 = new tui.Grid({
				el : document.getElementById('grid1'),
				
				bodyHeight:500,
				scollX : false,
				
				
				
				
				columns : [ 
					{
						header : '발주일자',
						name : 'mrOrderDate'
					},
					{
					header : '발주코드',
					name : 'mrOrderCode'
				}, 
					{
					header : '거래처코드',
					name : 'customerId'
				}, 
				{
					header : '거래처명',
					name : 'customerName'
				},
				
				{
					header : '사원 코드',
					name : 'empNo'
				}, 
				{
					header : '사원명',
					name : 'empName'
				},
				{
					header : '품목 수',
					name : 'productCount'
				},				
				{
					header : '총 가격',
					name : 'allCount'
				} 
				
				],
				pageOptions: { 
	            	useClient: true,
	               	perPage: 15 
	            }
			})
			
	
	
// 발주 더블 클릭 이벤트

	grid1.on('dblclick',(ev) =>{
		

		
				if(ev.columnName=='mrOrderCode'){
							
					$('#exampleModalLong').modal('show');
				
				
				
				let result= grid1.getRow(ev.rowKey);
				console.log(result.mrOrderCode);
			
			
			
			console.log(result.mrOrderCode);

// 발주 상세 리스트

			$.ajax({
				url : "/mrOrderDetailAjax",

				method : "GET",
				dataType : "json",
				data : {'result':result.mrOrderCode},
				
				success : function(result) {
					grid2.resetData(result);
					setTimeout(()=> grid2.refreshLayout(),100);
					
					
				},
				error:function(reject){
					console.log(reject);
				}

			});
				}
			});	
			
			

// 발주 상세 리스트
			var grid2 = new tui.Grid({
				el : document.getElementById('grid2'),
				scollX : false,
				scollY : false,
				
				rowHeaders: ['checkbox'],
				
				columns : [{
					header : '발주 일자',
					name : 'mrOrderDate'
					
				} , {
					header : '발주 코드',
					name : 'mrOrderCode'
				}, {
					header : '발주 상세코드',
					name : 'mrOrderDetCode'
				},
				{
					header : '담당자',
					name : 'empName',
					width:50
				},
				{
					header : '거래처 코드',
					name : 'customerId'
				},
				{
					header : '거래처명',
					name : 'customerName',
					width:70
					
				},
				{
					header : '품목 코드',
					name : 'itemCode'
				},
				{
					header : '품목명',
					name : 'itemName',
					width:70
				},
				{
					header : '수량',
					name : 'mrCount',
					width:30
				}, 
				{
					header : ' 가격',
					name : 'mrPrice',
					width:50
				},
				{
					header : '총 가격',
					name : 'priceTotal',
					width:80
				},
				{
					header : '납품일',
					name : 'deliveryDate'
				}
				
				],
				
			})	
			
			
			$.ajax({
				 url : "/mrCustomerAjax",
				method : "GET",
				dataType : "json",
				success : function(result) {
			grid3.resetData(result);
			setTimeout(()=> grid3.refreshLayout(),100);
					},
				error : function(reject){
						console.log(reject);
						}
		
							});
			
			
			var grid3 = new tui.Grid({
				el : document.getElementById('grid3'),

				scrollX : false,
				scrollY : false,
				rowHeaders: ['checkbox'],
				
				columns : [ {
					header : '코드(거)',
					name : 'customerId',
					hidden:true
				}, {
					header : '거래처',
					name : 'customerName'
				}, {
					header : '코드(품)',
					name : 'itemCode',
					hidden:true
				},  
					{
					header : '자재',
					name : 'itemName'
				}
					
				
				],
				pageOptions: { 
	            	useClient: true,
	               	perPage: 5 
	            }
				
			});
	
	
	
	
	// 거래처 및 자재 찾기 버튼
	
			$('#checkBtn').on('click',function(){
			
				
				 $('#customer').val('');
				 $('#material').val('');
	
				 
	//	거래처 검색 아작스
	
			$.ajax({
				url:"/mrCustomerAjax",
				method:"GET",
				dataType : "json",
				
				success: function(result){
					grid3.resetData(result);
					setTimeout(()=> grid3.refreshLayout(),100);
					
				}
				
				
			});
		
			});
			
			
	
	// 거래처 및 자재 모달창 검색 버튼
	
			$('#searchBtn').on('click',function(){
				  
				  const result= $("#searchcode").val();
				  $('#searchcode').val('');
					
				  $.ajax({
						url:"/searchCustomerAjax",
						method:"GET",
						data:{'result':result},
						dataType:"json",
					
					success : function(result) {
						grid1.resetData(result);
						setTimeout(()=> grid1.refreshLayout(),100);
						console.log(result);
					}
					
						
			     });
				  
				 
	 
				 }) 		
		
				 
	// 거래처 및 자재 모달창 선택 버튼
	
				 $('#chooseBtn').on('click',function(){
					 
					 $('#customer').val(grid3.getCheckedRows()[0].customerName);
						
					 $('#material').val(grid3.getCheckedRows()[0].itemName);		
					 
					 
					 
	// 거래처 아작스
		
					
					})
					
		$('#customerBtn').on('click',function(){
			
			$('#customer').val('');
			
			 $('#material').val('');		
	
		})	
					
					
					
					
					
			$(function(){
		    	$('#exampleModal1').on('shown.bs.modal', function(){
		    		grid3.refreshLayout();
		    	})
		    });
			
			
			
// 새로고침			
			$(function(){
		    	$('#exampleModalLong').on('shown.bs.modal', function(){
		    		grid2.refreshLayout();
		    	})
		    })
			
			
		});

	
		</script>
	
	
	

</th:block>


</body>

</html>	