<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layout/index}"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<link rel="stylesheet"
	href="https://uicdn.toast.com/grid/latest/tui-grid.css" />
<script type="text/javascript" src="https://uicdn.toast.com/tui.pagination/v3.4.0/tui-pagination.js"></script>
<link rel="stylesheet" href="https://uicdn.toast.com/tui.pagination/latest/tui-pagination.css" />
<script src="https://uicdn.toast.com/grid/latest/tui-grid.js"></script>
<script src="https://code.jquery.com/jquery-3.6.4.js"></script>

<style>
	
</style>

</head>
<body>
	

<th:block layout:fragment="content">
	
	<h3 style="text-align:center; font-weight:bold;margin-top:50px;"> 자재 반품 </h3>
	<div>
	<button type="button" id="moveBtn" class="btn btn-info" style="float:right; margin-top:70px; margin-bottom:10px; margin-right:20px; width:50px; padding:10px;">이동</button>
	</div>
	<div id="grid" style=""></div>
	
	<h3 style="text-align:center; font-weight:bold; margin-top:50px;"> 반품 </h3>
	<div>
	<button type="button" id="insertBtn" class="btn btn-success" style="float:right; margin-top:70px; margin-bottom:10px; margin-right:20px; width:50px; padding:10px;">등록</button>
	</div>
	<div id="grid1" style=""></div>
	<script>
	
	$(document).ready(function(){

			
		
	
		
	$.ajax({
				url : "/mrReturnListAjax",

				method : "GET",
				dataType : "json",

				success : function(result) {
					grid.resetData(result);
					
				}

			});

			var grid = new tui.Grid({
				el : document.getElementById('grid'),
				scollX : false,
				scollY : false,
				
				 
				
				rowHeaders: ['checkbox'],
				
				
				columns : [ {
					header : '검사코드',
					name : 'testCode'
				},{
					header : '검사 완료일',
					name : 'endDate'
				},{
					header :'담당자 이름',
					name : 'empName'
				},{
					header : '주문 상세 코드',
					name : 'mrOrderDetail'
				},{
					header : '구분',
					name : 'itemType'
				},
			
				{
					header : '품목코드',
					name : 'itemCode'
				},{
					header : '품목코드명',
					name : 'itemName'
				},  
				 
				{
					header : '검사량',
					name : 'testQuantity'
				},
				{
					header : '불량량',
					name : 'errQuantity'
				},
				{
					header : '합격량',
					name : 'passQuantity'
				},
				{
					header : '불량률',
					name : 'error'
				},
				{
					header : '비고',
					name : 'testNote',
					editor: 'text'
				}
				
				],
				pageOptions: { 
	            	useClient: true,
	               	perPage: 5 
	            }
				  
			})
	
			
			/*$.ajax({
				
				url : "/mrReturnAjax",

				method : "GET",
				dataType : "json",

				success : function(result) {
					grid1.resetData(result);
					
				}
			})*/
			var grid1 = new tui.Grid({
				el : document.getElementById('grid1'),
				scollX : false,
				scollY : false,
				rowHeaders: ['checkbox'],
								
				columns : [ {
					header : '반품코드',
					name : 'mrReturnCode'
				},{
					header : '검사코드',
					name : 'testCode'
				},{
					header :'품목코드',
					name : 'itemCode'
				},{
					header : '반품수',
					name : 'mrReturnCount'
				},{
					header : '반품사유',
					name : 'mrReturnReason',
					editor: 'text'
				},
			
				{
					header : '반품일',
					name : 'mrReturnDate'
				},{
					header : '사원코드',
					name : 'empNo'
				}
				
				],
				pageOptions: { 
	            	useClient: true,
	               	perPage: 5 
	            }
				  
			})
				
		
		$('#moveBtn').on('click',function(){
			
		let mrReturn = {
			testCode : grid.getCheckedRows()[0].testCode,
			itemCode : grid.getCheckedRows()[0].itemCode,
			mrReturnCount : grid.getCheckedRows()[0].testQuantity
		}
			grid.removeCheckedRows(false);
			grid1.appendRow(mrReturn);
		})	
			
			
		$('#insertBtn').on('click',function(){
			
					
			let insertReturn = {
				testCode : grid1.getCheckedRows()[0].testCode,
				itemCode : grid1.getCheckedRows()[0].itemCode,
				mrReturnCount : grid1.getCheckedRows()[0].mrReturnCount
		}
			
			$.ajax({
			url:"",
			contentType : "application/json",
			method: "post",
			data : JSON.stringify({list : grid1.getCheckedRows()}),
			dataType: "json",
			beforeSend: function(xhr){
				xhr.setRequestHeader(header, token);
			},
				success : function(result){
					
					
				}
				
			})
			
								
		
		
		
		
			
		})
		
		
		
		
		
		
			
			});
			
			
			
			
			
			
			
			
			
			
			
			
		

</script>


</th:block>


</body>

</html>	