<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/index}"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta name="_csrf" th:content="${_csrf.token}"/>
<meta name="_csrf_header" th:content="${_csrf.headerName}"/>
<link rel="stylesheet"
	href="https://uicdn.toast.com/grid/latest/tui-grid.css" />


<script type="text/javascript" src="https://uicdn.toast.com/tui.pagination/v3.4.0/tui-pagination.js"></script>
<link rel="stylesheet" href="https://uicdn.toast.com/tui.pagination/latest/tui-pagination.css" />
<script src="https://uicdn.toast.com/grid/latest/tui-grid.js"></script>
<script src="https://code.jquery.com/jquery-3.6.4.js"></script>

<style>
</style>

</head>
<body>

	<th:block layout:fragment="content">
	
	<div class="container-fluid page-body-wrapper">
 			<div class="col-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
	
	<h3 style="text-align:center; font-weight:semi-bold; margin-top:50px;">자재 출고 내역</h3>
	
	<div style="width:1300px; heigh:30px; margin-top:50px;">
		<form action="#" >
  <label for="lang" ></label>
  <select name="release" id="release" style="margin-left:300px;">
  <option value="">--출고구분--</option>
    <option value="생산">생산</option>
    <option value="조정">조정</option>
   
  </select>
  


	
  <label for="lang"></label>
  <select name="material" id="material" style="margin-left:20px;margin-right:10px;">
   <option value="">--자재구분--</option>
    <option value="MAT">자재</option>
    <option value="SAM">반제품</option>
   
  </select>
  <label for="ReleaseDate" style="margin-left:10px;">출고일</label>
  <input type="date" style="margin-right:10px;" id="mrRealDate1" name="mrRealDate1">~
  <input type="date" style="margin-left:10px; margin-right:10px;" id="mrRealDate2" name="mrRealDate2">
  <label for="mrSearch">자재명</label>
  <input type="text" id="mrSearch">
  


    <button type="button" id="searchQuery" class="btn btn-dark" style="margin-left:20px; padding:4px;">검색</button>
</form>
	
	</div>
	
	
	
	
	<div class="btn-group" style="width:300px;">
		     	<button type="button" id="adjustment"class="btn btn-primary" style="float:right; width:50px; padding:5px;">조정</button> 
					     	<button type="button" id="product"class="btn btn-success" style="float:right; width:50px;padding:5px; ">생산</button>
	<button type="button" id="all"  class="btn btn-info" style="float:right; width:50px; padding:5px; ">전체</button>
	</div>
	
	
	
	
	
	
	<div id="grid" style=""></div>
	
	
	</div>
	</div>
	</div>
	</div>
	
	<script>
	
	
	
	$(document).ready(function(){
		
	
	
		
		$.ajax({
		url:"/mrRelList",
		method:"GET",
		success: function(result){
			grid.resetData(result);
			
		},
		error: function(reject){
			console.log(reject);
			
		}
	})
	
	$('#all').on('click',function(){
		
		$.ajax({
			url:"/mrRelList",
			method:"GET",
			success: function(result){
				grid.resetData(result);
				
			},
			error: function(reject){
				console.log(reject);
				
			}
		
	})
	})
	
	$('#product').on('click',function(){
		
		$.ajax({
			url:"/RelProReason",
			method:"GET",
			success: function(result){
				grid.resetData(result);
			},
			error : function(reject){
				console.log(reject);
			}
		})
	})
	
	$('#adjustment').on('click',function(){
		
		$.ajax({
			url:"/RelAdmReason",
			method:"GET",
			success: function(result){
				grid.resetData(result);
			},
			error : function(reject){
				console.log(reject);
			}
		
		})
		
	})
	
	
	
	
	var grid = new tui.Grid({
		bodyHeight: 500,
		el : document.getElementById('grid'),
		scollX : false,
		
		
		columns : [ {
			header : '자재 출고 코드',
			name : 'mrRealCode',
			
		}, {
			header : '품목코드',
			name : 'itemCode'
		},{
			header : '구분',
			name : 'itemType'
		},
		{
			header : '품목명',
			name : 'itemName'
		},		
		{
			header : '자재lot번호',
			name : 'mrLotNumber'
		},
		{
			header : '출고수량',
			name : 'mrRealCount'
		},
		{
			header : '출고 사유',
			name : 'mrRealReasonType'
		}, 
		{
			header : '출고 사유 코드',
			name : 'mrRealReasonCode'
		},
		{
			header : '출고일',
			name : 'mrRealDate'
		}
					
		],
		pageOptions: { 
        	useClient: true,
           	perPage: 20 
        }
		
	})
		
		
		$('#searchQuery').on('click',function(){
			
			
			let result1 = {
					mrRealReasonType : $('#release').val(),
					itemType: $('#material').val(),
					mrRealDate1 : $('#mrRealDate1').val(),
					mrRealDate2 : $('#mrRealDate2').val(),
					mrSearch : $('#mrSearch').val()
					
					
			}
			
				console.log(result1);
			
			$.ajax({
				url:"/mrReleaseSearch",
				method:"POST",
				contentType:"application/json",
				data:JSON.stringify(result1),
				beforeSend: function(xhr){
					xhr.setRequestHeader(header, token);
				},
				success: function(result){
					grid.resetData(result);
						
				},
				error : function(reject){
					console.log(reject);
				}
				
					
					
				
			})
		})	
		
	
	});
	
	
	
	</script>
	</th:block>


</body>

</html>