<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{/layout/index}" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <style>
        h2 {
            text-align: center;
            margin-top: 50px;
        }

        .tui-grid-cell-content {
            text-align: center;
        }

        #serarchDiv {
            margin-left: 1440px;
            padding-bottom: 10px;
        }

        #searchInput {
            height: 45px;
            margin-right: 10px;
            text-align: center;
        }

        #searchBtn {
            margin-right: 10px;
        }
    </style>
</head>

<body>
    <th:block layout:fragment="content">
        <h2>비가동 내역 리스트</h2>
        <div id="serarchDiv">
        <form id="searchForm">
            <input type="text" id="searchInput" name="facName" placeholder="설비이름을 입력하세요">
            <input type="date" id="startDate1" name="startDate" placeholder="시작 날짜">
            <input type="date" id="stopDate1" name="stopDate" placeholder="종료 날짜">
        </form>
            <button id="searchBtn" type="button" class="btn btn-dark">검색</button>
            <button id="resetBtn" type="button" class="btn btn-dark">초기화</button>
        </div>
        <div id="grid"></div>

        <script>
            var name = '';

            function getDetailList() {

                $.ajax({
                    url: "/downDetailAjax",
                    method: "GET",
                    dataType: "JSON",
                    success: function (result) {
                        grid.resetData(result);
                        //console.log(result);
                    },
                    error: function (reject) {
                        alert("실패");
                        console.log(reject);
                    }
                });
            }

            getDetailList();

            const grid = new tui.Grid({
                el: document.getElementById('grid'),
                scrollX: false,
                scrollY: false,
                pageOptions: {
                    useClient: true,
                    perPage: 15
                },
                columns: [{
                        header: '비가동 코드',
                        name: 'downCode'
                    },
                    {
                        header: '설비 코드',
                        name: 'facCode'
                    },
                    {
                        header: '설비 이름',
                        name: 'facName'
                    },
                    {
                        header: '설비 가동일시',
                        name: 'startDate'
                    },
                    {
                        header: '설비 비가동일시',
                        name: 'stopDate'
                    },
                    {
                        header: '설비 비가동사유',
                        name: 'downReason',
                        sortable: true
                    },
                    {
                        header: '관리자',
                        name: 'downManager'
                    },
                    {
                        header: '비고',
                        name: 'remark'
                    }
                ]
            });
		
            

            $('#searchBtn').on('click', function () {

                // 검색조건 날짜, 
                // 사유, 설비명은 선택할수있게

                //facName = $('#searchInput').val();
                //console.log(facName);
				console.log($('#searchForm').serialize());
                
                
                $.ajax({
                    url: "/searchList",
                    method: "POST",
                    data: $('#searchForm').serialize(),
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader(header, token);
                    },

                    success: function (result) {
                        console.log("성공");
                        grid.resetData(result);

                    },
                    error: function (reject) {

                    }
                });
            })
            
            

            $('#resetBtn').on('click', function () {

                getDetailList();

            })
        </script>
    </th:block>
</body>

</html>