<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{/layout/index}" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <script type="text/javascript" src="https://uicdn.toast.com/tui.pagination/v3.4.0/tui-pagination.js"></script>
    <link rel="stylesheet" href="https://uicdn.toast.com/tui.pagination/latest/tui-pagination.css" />
    <link rel="stylesheet" href="https://uicdn.toast.com/tui.date-picker/latest/tui-date-picker.css" />
    <script src="https://uicdn.toast.com/tui.date-picker/latest/tui-date-picker.js"></script>
    <link rel="stylesheet" href="https://uicdn.toast.com/grid/latest/tui-grid.css" />
    <script src="https://uicdn.toast.com/grid/latest/tui-grid.js"></script>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <style>
        button {
            width: 100px;
            margin-right: 550px;
            border-radius: 20px;
        }

        .modal-header {
            text-align: center;
        }

        #cenLbtn {
            margin-right: 20px;
        }

        h4 {
            text-align: center;
        }

        .tui-grid-cell-content {
            text-align: center;
        }
    </style>
</head>

<body>
    <th:block layout:fragment="content">
        <h4>전체 설비 리스트</h4>
        <div id="grid"></div>

        <!-- 모달 시작-->

        <button id="stopBtn" type="button" data-toggle="modal" data-target="#modal">비가동</button>

        <!-- Modal -->
        <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
            aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered" style="width:650px" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalTitle">비가동 사유</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">

                        <!-- 드롭다운 -->
                        <div id="modalgrid"></div>
                        <!-- 드롭다운 끝 -->

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
                        <button type="button" id="insertBtn" class="btn btn-primary">추가</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.modal -->

        <h4>비가동 설비 리스트</h4>
        <div id="downgrid"></div>
        <div>
            <button type="submit">가동</button><button id="cenLbtn" type="submit">수정</button><button id="cenRbtn"
                type="submit">삭제</button>
        </div>

        <script>
            window.onload = function () {

                var modalgrid = null;
                var stopData = null;
                var facStatus = null;
                var sampleData = null;

                /* contentType:"application/json",
                dataType: "JSON.stringfy()",  ?????  */

                var grid = new tui.Grid({
                    el: document.getElementById('grid'),
                    scrollX: false,
                    scrollY: false,
                    pageOptions: {
                        useClient: true,
                        perPage: 7
                    },
                    rowHeaders: ['checkbox'],
                    columns: [{
                        header: '설비명',
                        name: 'facName'
                    }, {
                        header: '설비 코드',
                        name: 'facCode'
                    }, {
                        header: '관리자',
                        name: 'facManager'
                    }, {
                        header: '설비 가동일시',
                        name: 'startDate'
                    }, {
                        header: '가동 상태',
                        name: 'facStatus',
                        filter: 'select'
                    }]
                });

                function facList() {

                    $.ajax({
                        url: "/facilityAjax",
                        method: "GET",

                        success: function (result) {
                            grid.resetData(result);
                            //console.log(result);                            
                        },
                        error: function (reject) {
                        	alert("실패");
                        	console.log(reject);
                        }
                    });
                }

                facList();

                // 하단 시작

                $.ajax({
                    url: "/downtimeAjax",
                    method: "GET",
                    dataType: "JSON",
                    success: function (result) {
                        downgrid.resetData(result);
                    },
                    error: function (reject) {
                    	alert("실패");
                    	console.log(reject);
                    }
                });

                var downgrid = new tui.Grid({
                    el: document.getElementById('downgrid'),
                    scrollX: false,
                    scrollY: false,
                    pageOptions: {
                        useClient: true,
                        perPage: 7
                    },
                    rowHeaders: ['checkbox'],
                    columns: [{
                        header: '설비명',
                        name: 'facName'
                    }, {
                        header: '설비 코드',
                        name: 'facCode'
                    }, {
                        header: '비가동 코드',
                        name: 'downCode'
                    }, {
                        header: '비가동 사유',
                        name: 'downReason'
                    }, {
                        header: '설비 비가동일시',
                        name: 'stopDate'
                    }, {
                        header: '관리자',
                        name: 'downManager'
                    }, {
                        header: '비고',
                        name: 'remark'
                    }]
                });

                /* $('#stopBtn').hide(); 
				grid.on('uncheck', function () {
                    $('#stopBtn').hide();
                }); */

                /* 체크 한개만 */

                grid.on('check', function (e) {
                    var checkRows = grid.getCheckedRowKeys();                    
                    
                    checkRows.forEach(function (key, idx) {                    	                    
                        if (key != e.rowKey) {
                            grid.uncheck(key);
                        }
                    });
                });

                /* 체크 한개만 끝 */

				//sampleData = [grid.getCheckedRows()[0]];
				
                	class CustomTextEditor {
                        constructor(props) {
                            const el = document.createElement('input');
                            const {
                                maxLength
                            } = props.columnInfo.editor.options;

                            el.type = 'text';
                            el.maxLength = maxLength;
                            el.value = String(props.value);

                            this.el = el;
                        }
                        getElement() {
                            return this.el;
                        }
                        getValue() {
                            return this.el.value;
                        }
                        mounted() {
                            this.el.select();
                        }
                    }
                	var modalgrid = new tui.Grid({
                        el: document.getElementById('modalgrid'),
                        scrollX: false,
                        scrollY: false,
                        width: 630,
                        rowHeight: 130,
                        columns: [{
                                header: '설비명',
                                name: 'facName',
                                rowSpan: true
                            },
                            {
                                header: '설비 코드',
                                name: 'facCode',
                                rowSpan: true
                            },
                            {
                                header: '비가동 사유',
                                name: 'downReason',
                                editor: {
                                    type: 'select',
                                    options: {
                                        listItems: [{
                                                text: '세척',
                                                value: '세척'
                                            },
                                            {
                                                text: '정비',
                                                value: '정비'
                                            },
                                            {
                                                text: '점검',
                                                value: '점검'
                                            }
                                        ]
                                    }
                                },
                                rowSpan: true
                            },
                            {
                                header: '관리자',
                                name: 'downManager',                                
                                editor: {
                                    type: CustomTextEditor,
                                    options: {
                                        maxLength: 4
                                    }
                                },
                                rowSpan: true
                            },
                            {
                                header: '비고',
                                name: 'remark',
                                editor: 'text',
                                rowSpan: true,
                                whiteSpace: 'pre-wrap'
                            }
                        ]
                    });
                	
                /* 선택한 데이터 가져오기 */
                $('#stopBtn').on('click', function () {

                	modalgrid.resetData([grid.getCheckedRows()[0]]);
  					                	
                    facData = [grid.getCheckedRows()[0].facStatus];
                    //console.log(sampleData);

                });

                /* 선택한 데이터 가져오기 끝*/

                $(function () {
                    $('#modal').on('shown.bs.modal', function () {                        
                    	modalgrid.refreshLayout();
                    })
                })                              

                $('#insertBtn').on('click', function () {

                    stopData = modalgrid.getData()[0];
                    var status = modalgrid.getData()[0].facStatus;
                    console.log(stopData);
                    //console.log(status);
                    downgrid.appendRow(stopData);                    
                    
                    if(status == 'Y'){

                    $.ajax({
                        url: "/downListAjax",
                        method: "get",
                        data: stopData,
                        success: function (result) {							
                        	alert("비가동 처리되었습니다");
                        	$('#modal').modal('hide');
                            facStatuss();                            
                        },
                        error: function (reject) {
                        	alert("실패");
                        	console.log(reject);
                        }
                    });
                    
                    }else{
                    	$('#modal').modal('hide');
                    	alert("비가동중인 설비입니다 다시 선택해주세요");
                    	// 하단의 리스트로 추가됨 , 수정 필요
                    }
                })

                function facStatuss() {
                    facStatus = grid.getCheckedRows()[0];
                    //console.log(facStatus);

                    var token = $("meta[name='_csrf']").attr("content");
                    var header = $("meta[name='_csrf_header']").attr("content");

                    $.ajax({
                        url: "/facStatusAjax",
                        method: "POST",
                        contentType: "application/json",
                        data: JSON.stringify(facStatus),
                        beforeSend: function (xhr) {
                            xhr.setRequestHeader(header, token);
                        },
                        success: function (result) {
                            facList();
                        },
                        error: function (reject) {
                        	alert("실패");
                            console.log(reject);
                        }
                    });

                }

            }
        </script>
    </th:block>
</body>

</html>