<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/index}" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>

    <style>
        h2 {
            text-align: center;
            margin-bottom: 15px;
        }

        .tui-grid-cell-content {
            text-align: center;
        }
        #insertBtn{
        	float: right;
        }
    </style>

</head>

    <th:block layout:fragment="content">
    <div>
 			<div class="col-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                <input id="name" type="hidden" th:value="${#authentication.principal.empName}">
        <h2>설비 관리</h2>
        <div id="serarchDiv">
            <input type="text" id="searchInput" name="fac_code" placeholder="설비이름을 입력하세요">
            <button id="searchBtn" type="button" class="btn btn-dark">검색</button>
            <button id="resetBtn" type="button" class="btn btn-dark">초기화</button>
            <button id="insertBtn" type="button" class="btn btn-primary">설비 등록</button>            
        </div>

        <!-- 그리드 -->
        <div id="grid"></div>
        <!-- 그리드 끝-->

        <!-- 등록 모달 -->

        <div class="modal fade" id="insertModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
            aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered" role="document" style="width:1500px">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="downModalTitle">설비 등록</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        </button>
                    </div>
                    <div class="modal-body">
                        <!-- 모달 그리드 시작 -->
                        <div id="modalGrid"></div>
                        <div id="modalDownGrid"></div>
                        <!-- 모달 그리드 끝 -->
                    </div>
                    <div class="modal-footer">
                        <button id="closeBtn" type="button" class="btn btn-danger" data-dismiss="modal">닫기</button>
                        <button id="saveBtn" type="button" class="btn btn-primary">등록</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- 등록 모달 끝 -->

        <!-- 상세내역 모달 시작 -->

        <div class="modal fade" id="detailModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
            aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered" role="document" style="width:1500px">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="downModalTitle">설비 상세 페이지</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        </button>
                    </div>
                    <div class="modal-body">
                        <!-- 모달 그리드 시작 -->
                        <div id="detailGrid"></div>
                        <div id="detailDownGrid"></div>
                        <!-- 모달 그리드 끝 -->
                    </div>
                    <div class="modal-footer">
                        <button id="detailModBtn" type="button" class="btn btn-success">수정</button>
                        <button id="detailDelBtn" type="button" class="btn btn-danger">삭제</button>
                        <button id="closeBtn2" type="button" class="btn btn-danger" data-dismiss="modal">닫기</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- 상세내역 모달 끝 -->
        
         
        <!-- process 모달 시작 -->

                        <div class="modal fade" id="processModal" tabindex="-1" role="dialog"
                            aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                            <div class="modal-dialog modal-lg modal-dialog-centered" style="width:400px" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="downModalTitle">공정 목록</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <!-- fac 모달그리드 시작 -->
                                        <div id="processGrid"></div>
                                        <!-- fac 모달그리드 끝 -->
                                    </div>
                                    <div class="modal-footer">
                                        <button id="facCloseBtn" type="button" class="btn btn-danger"
                                            data-dismiss="modal">닫기</button>
                                    </div>
                                </div>
                            </div>
                        </div>

       <!-- process 모달 끝 -->

        <script th:inline="javascript">
           
            var functionList = [[${facFunction}]];
            var emp = [[${employee}]];
            
            // 변수
            var dbGridData = null;
            var facCode = null;
            var modalGrid = null;
            var modalDownGrid = null;
            var modifyList = null;
            var detailDownGrid = null;


            // 전체 설비 리스트 함수
            function getFacList() {

                $.ajax({
                    url: "/AllfacilityAjax",
                    method: "GET",
                    dataType: "JSON",
                    success: function (result) {
                        grid.resetData(result);
                        //console.log(result);
                    },
                    error: function (reject) {
                        console.log("오류");
                        console.log(reject);
                    }
                });
            }

            getFacList();

            // 전체설비 그리드
            const grid = new tui.Grid({
                el: document.getElementById('grid'),
                scrollX: false,
                scrollY: false,
                bodyHeight: 600,
                rowHeaders: ['rowNum'],
                pageOptions: {
                    useClient: true,
                    perPage: 15
                },
                columns: [{
                        header: '설비코드 ',
                        name: 'facCode'
                    },
                    {
                        header: '설비명',
                        name: 'facName'
                    },
                    
                    {
                        header: '투입 공정 ',
                        name: 'proName'
                    },
                    {
                        header: '설비가동상태 ',
                        name: 'facStatus'
                    },
                    {
                        header: '세척주기 ',
                        name: 'washCycle'
                    },
                    {
                        header: '점검주기 ',
                        name: 'insCycle'
                    },
                    {
                        header: '마지막 점검일',
                        name: 'lastInspection'
                    },
                    {
                        header: '관리자',
                        name: 'facManager'
                    },
                    {
                        header: '설비기능',
                        name: 'facFunction'
                    }]
            });


            // 더블클릭시 상세내역 모달
            grid.on('dblclick', function (e) {

                if (e.columnName != "_checked") {

                    gridData = grid.getRow(e.rowKey);
                    //console.log(gridData);

                    let firstFac = {
                        facCode: gridData.facCode,
                        facName: gridData.facName,
                        facDate: gridData.facDate,
                        proCode: gridData.proCode,
                        proName: gridData.proName,
                        facFunction: gridData.facFunction
                    }

                    let secondFac = {
                        washCycle: gridData.washCycle,
                        insCycle: gridData.insCycle,
                        lastInspection: gridData.lastInspection,
                        facManager: gridData.facManager,
                        facStatus: gridData.facStatus
                    };

                    console.log("firstFac, secondFac 값");
                    console.log(firstFac);
                    console.log(secondFac);

                    $('#detailModal').modal('show');
                    detailGrid.resetData([firstFac]);
                    detailDownGrid.resetData([secondFac]);
                    setTimeout(() => detailGrid.refreshLayout(), 300);
                    setTimeout(() => detailDownGrid.refreshLayout(), 300);
                }
            });


            // 상세내역 모달 그리드                        

            var detailGrid = new tui.Grid({
                el: document.getElementById('detailGrid'),
                scrollX: false,
                scrollY: false,
                columns: [{
                        header: '설비코드 ',
                        name: 'facCode'
                    },
                    {
                        header: '설비명',
                        name: 'facName',
                        editor: 'text',
                        validation: { required: true }
                    },
                    {
                        header: '설치날짜 ',
                        name: 'facDate',
                        editor: 'datePicker'
                    },
                    {
                        header: '공정코드 ',
                        name: 'proCode',
                        validation: { required: true }
                    },
                    {
                        header: '투입 공정 ',
                        name: 'proName',
                        validation: { required: true }
                    },
                    {
                        header: '설비기능',
                        name: 'text',
                        formatter: 'listItemText',
                        editor: {
                            type: 'select',
                            options: {
                                listItems: functionList
                            }
                        }
                    }
                ]

            });


            // 상세내역 모달 하단 그리드

            var detailDownGrid = new tui.Grid({
                el: document.getElementById('detailGrid'),
                scrollX: false,
                scrollY: false,
                columns: [{
                        header: '세척주기 ',
                        name: 'washCycle',
                        editor: 'text'
                    },
                    {
                        header: '점검주기 ',
                        name: 'insCycle',
                        editor: 'text'
                    },
                    {
                        header: '마지막 점검일',
                        name: 'lastInspection'
                    },
                    {
                        header: '관리자',
                        formatter: 'listItemText',
                        name: 'name',
                        editor: {
                            type: 'select',
                            options: {
                                listItems: emp
                            }
                        }
                       
                    },
                    {
                        header: '설비가동상태 ',
                        name: 'facStatus'
                    }]
            });
            
         
            
            


            // 객체 합치기(수정용)
            function mergeModFac(firstFac, secondFac) {

                const newModFac = {};

                for (let att in firstFac) {
                    newModFac[att] = firstFac[att];
                }

                for (let att in secondFac) {
                    newModFac[att] = secondFac[att];
                }

                return newModFac;
                console.log(newModFac);
            }


            // 수정 ajax 함수
            function modifyFac() {

                let firstFac = detailGrid.getData()[0];
                let secondFac = detailDownGrid.getData()[0];

                let modobj = mergeModFac(firstFac, secondFac);
                console.log(modobj);

                

                $.ajax({
                    url: "/modifyFacility",
                    method: "POST",
                    data: JSON.stringify(modobj),
                    contentType: "application/json",
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader(header, token);
                    },
                    success: function (result) {
                        alert("수정 완료되었습니다");
                        $('#detailModal').modal('hide');
                        getFacList();

                    },
                    error: function (reject) {
                        console.log("reject");
                        console.log(reject);
                    }
                });
            }

            $('#detailModBtn').on('click', function () {
                console.log("수정");
                detailGrid.finishEditing();
                detailDownGrid.finishEditing();
                modifyFac();
            })


            // 설비 삭제 함수
            function delFac() {

                let firstFac = detailGrid.getData()[0];
                let secondFac = detailDownGrid.getData()[0];
                console.log(firstFac);
                console.log(secondFac);
                console.log(secondFac.facStatus);
                
                if(secondFac.facStatus == 'N'){
                $.ajax({

                    url: "/RemoveFacility",
                    method: "POST",
                    data: JSON.stringify(firstFac),
                    contentType: "application/json",
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader(header, token);
                    },
                    success: function (result) {
                        alert("삭제 되었습니다");
                        $('#detailModal').modal('hide');
                        getFacList();

                    },
                    error: function (reject) {
                        console.log("reject");
                        console.log(reject);
                    }
                });
                }else if(secondFac.facStatus == 'Y'){
                	alert("가동중인 설비는 삭제할 수 없습니다");
                }
            }

            $('#detailDelBtn').on('click', function () {
                console.log("삭제");
                delFac();
            })


            // 등록 모달 그리드

            var modalGrid = new tui.Grid({
                el: document.getElementById('modalGrid'),
                scrollX: false,
                scrollY: false,
                columns: [{
                        header: '설비코드 ',
                        name: 'facCode'
                    },
                    {
                        header: '설비명',
                        name: 'facName',
                        editor: 'text',
                        validation: { required: true }
                    },
                    {
                        header: '설치날짜 ',
                        name: 'facDate',
                        editor: 'datePicker'
                    },
                    {
                        header: '공정코드 ',
                        name: 'proCode',
                        validation: { required: true }
                    },
                    {
                        header: '투입 공정',
                        name: 'proName',
                        validation: { required: true }
                    },
                    {
                        header: '설비가동상태 ',
                        name: 'facStatus',
                        defaultValue: 'Y'
                    }
                ]
            });


            // 등록 모달 하단 그리드

            var modalDownGrid = new tui.Grid({
                el: document.getElementById('modalDownGrid'),
                scrollX: false,
                scrollY: false,
                columns: [{
                        header: '세척주기 ',
                        name: 'washCycle',
                        editor: 'text'
                    },
                    {
                        header: '점검주기 ',
                        name: 'insCycle',
                        editor: 'text'
                    },
                    {
                        header: '마지막 점검일',
                        name: 'lastInspection'
                    },
                    {
                        header: '관리자',
                        formatter: 'listItemText',
                        name: 'name',
                        editor: {
                            type: 'select',
                            options: {
                                listItems: emp
                            }
                        }                       
                    },
                    {
                        header: '설비기능',
                        name: 'text',
                        formatter: 'listItemText',
                       editor: {
                            type: 'select',
                            options: {
                               listItems: functionList
                            }                       
                    }
                    }]
            });
                  

         // process 리스트 조회 함수
            function selectProcess() {
                $.ajax({
                    url: "/processList",
                    method: "get",
                    dataType: "json",
                    success: function (result) {
                    	processGrid.resetData(result);
                    },
                    error: function (reject) {
                        console.log(reject)
                    }
                })
            }   
            
            
         // process 그리드
            var processGrid = new tui.Grid({
                el: document.getElementById('processGrid'),
                width: 380,
                pageOptions: {
                    useClient: true,
                    perPage: 5
                },
                columns: [{
                    header: '투입 공정',
                    name: 'proName'
                },
                {
                    header: '공정코드 ',
                    name: 'proCode'
                }]
            });
         
            var insertRowKey =null;
            var facCode = null;
            
            // 투입공정 더블클릭시 리스트 조회
            modalGrid.on('dblclick', function (e) {
                console.log("더블클릭");
                insertRowKey = e.rowKey;
                //console.log(insertrowKey);
				facCode = modalGrid.getRow(insertRowKey).facCode;
                if (e.columnName == "proCode" || e.columnName == "proName") {


                    $('#processModal').modal('show');
                    $('#processModal').on('shown.bs.modal', function (e) {
                        setTimeout(() => processGrid.refreshLayout(), 300);
                    })
                    
                    
                    selectProcess();
                }
            })

            // 투입공정 더블클릭시 리스트 조회(수정)
            detailGrid.on('dblclick', function (e) {
                console.log("더블클릭");
                insertRowKey = e.rowKey;
                //console.log(insertrowKey);
				facCode = detailGrid.getRow(insertRowKey).facCode;
                if (e.columnName == "proCode" || e.columnName == "proName") {


                    $('#processModal').modal('show');
                    $('#processModal').on('shown.bs.modal', function (e) {
                        setTimeout(() => processGrid.refreshLayout(), 300);
                    })
                    selectProcess();
                }
            })
            
            processGrid.on('click', function (e) {

                if(facCode != null){
                	
                	proCode = processGrid.getRow(e.rowKey).proCode;
    				proName = processGrid.getRow(e.rowKey).proName;
    				pro = processGrid.getRow(e.rowKey);
                	
                	let facCode = detailGrid.getRow(insertRowKey).facCode; 
                	let facName = detailGrid.getRow(insertRowKey).facName;
                    let facDate = detailGrid.getRow(insertRowKey).facDate;
                    let facStatus = detailGrid.getRow(insertRowKey).facStatus;
                    
                    detailGrid.setRow(insertRowKey, {facCode, facName, facDate, facStatus, proCode, proName} )
                    $('#processModal').modal('hide');
                    
                }else {
                	proCode = processGrid.getRow(e.rowKey).proCode;
    				proName = processGrid.getRow(e.rowKey).proName;
    				pro = processGrid.getRow(e.rowKey);
                	
                	let facName = modalGrid.getRow(insertRowKey).facName;
                    let facDate = modalGrid.getRow(insertRowKey).facDate;
                    let facStatus = modalGrid.getRow(insertRowKey).facStatus;
                    
                	modalGrid.setRow(insertRowKey, {facName, facDate, facStatus, proCode, proName} )
                    $('#processModal').modal('hide');
                  
                }
            })
            
            

            
            
            // 등록버튼 클릭시 , 오류있음 모달끄면 로우가 하나씩 계속 증가, 수정필요
            $('#insertBtn').on('click', function () {
				
            	modalGrid.removeRow(0);
            	modalDownGrid.removeRow(0);
                $('#insertModal').on('shown.bs.modal', function () {
                    modalGrid.refreshLayout()
                    modalDownGrid.refreshLayout()
                })
                $('#insertModal').modal('show');
                modalGrid.appendRow();
                modalDownGrid.appendRow();
                console.log(modalDownGrid.facManager)
                //modalDownGrid.setValue(0, 'facManager', $('#name').val(), false)
            })


            // 객체 합치기(등록용)
            function mergeFac(upFac, downFac) {

                const newFac = {};

                for (let att in upFac) {
                    newFac[att] = upFac[att];
                }

                for (let att in downFac) {
                    newFac[att] = downFac[att];
                }
                return newFac;
                console.log(newFac);
            }

            // 등록 ajax 함수
            function saveFac() {

                let upFac = modalGrid.getData()[0];
                let downFac = modalDownGrid.getData()[0];
                //insertList = {upFac, downFac} 
                console.log(upFac);
                console.log(downFac);
                let obj = mergeFac(upFac, downFac);
                console.log(obj)

                if(upFac.facName == null){
                	alert("설비명을 입력하세요")
                }else if(upFac.proCode == null){
                	alert("공정코드와 투입공정을 선택해주세요")
                }else{                	
                $.ajax({
                    url: "/insertAjax",
                    method: "POST",
                    data: JSON.stringify(obj),
                    contentType: "application/json",
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader(header, token);
                    },
                    success: function (result) {
                        alert("등록되었습니다");
                        console.log(obj);
                        $('#insertModal').modal('hide');
                        getFacList();
                    },
                    error: function (reject) {
                        console.log("오류");
                        console.log(reject);
                    }
                });
                }    
            }


            $('#saveBtn').on('click', function () {

                //console.log("저장");
                modalGrid.finishEditing();
                modalDownGrid.finishEditing();

                saveFac();
            })


            $('#searchBtn').on('click', function () {

                $('#searchInput').val();
                console.log($('#searchInput').val());

                $.ajax({
                    url: "/searchFacility",
                    method: "GET",
                    data: {
                        facName: $('#searchInput').val()
                    },
                    dataType: "json",
                    success: function (result) {
                        console.log("성공");
                        grid.resetData(result);
                    },
                    error: function (reject) {
                        console.log("reject");
                        console.log(reject);
                    }
                });
            })


            $('#resetBtn').on('click', function () {

            	$('#searchInput').val('');
            })
            
            
            
            $('#closeBtn').on('click', function(){
            	            	
              	$('#insertModal').modal('hide');
            })
            
            $('#closeBtn2').on('click', function(){
            	            	
              	$('#detailModal').modal('hide');
            })
            
            
            
            
        </script>
</div>
	        </div>
	        </div>
	    </div>
    </th:block>

</html>